[2016-05-04 18:23] EntilZha commented on #1622
Related question, would it be difficult to make it so that when filters are selected and the page is refreshed, the filters remain (I would be interested in doing a simple PR for this)? Currently they go away since they aren't in the URL.

[2016-05-04 20:28] cyyuan2002 commented on #1657
I just encountered exactly same problem...
Here are my codes
`
import luigi

paras = {}

outfile = {'outfile': 'word.txt'}

paras['SimpleTask'] = outfile

class SimpleTask(luigi.Task):
    """
    SimpleTask prints Hello World!.
    """
    my_paras = luigi.DictParameter()

    def output(self):
        st_para = self.my_paras['SimpleTask']
        tar_file = st_para['outfile']
        return luig

[2016-05-05 02:37] Tarrasch commented on #1622
I would really like that feature @EntilZha. I don't know if it's difficult or not. :)

[2016-05-05 03:08] Tarrasch commented on #1657
@tym-oao. Ok I see the problem and solution. We use a FrozenOrderedDict which thankfully *is* hashable. But the problem is when we have default values that are normal dict. Like `DictParameter(default=dict(blah="foo"))`. One way to fix this:

 1. Add test case in execution summary code
 2. Run test and see it fails as expected
 3. (the fix): Go to this code https://github.com/spotify/luigi/blob/31

[2016-05-05 15:20] EntilZha commented on #1622
I started looking at the source code, but in the little time I spent looking didn't find where the filtering happens. Any maintainers able to point me in the right direction to get started?

[2016-05-05 16:34] levipierce opened #1678 "Dynamically change number of workers once a workflow has been launched"
It would be incredibly useful to dynamically change the number of luigi workers once a workflow has been launched.  In this case I can scale up the number of spot requests in our kubernetes cluster to say 50 but I launched my luigi workflow with workers=25.  Maybe this exists?  I was thinking the control loop could read some environment variable and dynamically change the number of workers?  We do

[2016-05-06 01:56] Tarrasch commented on #1622
This is the filtering logic in the server side: https://github.com/spotify/luigi/blob/31d9d81291ac697721594856613a653b5c2f6162/luigi/scheduler.py#L975-L982. In particular `task_list` takes a `search` argument.

But I don't know as for the frontend side. I haven't read that code yet. Maybe @daveFNbuck can help?

[2016-05-06 02:03] Tarrasch commented on #1678
I've not seen this use case yet to be honest. I can give you some guidance if you want to implement this. But before doing that, please remember these workarounds that might be enough:

 * You can launch the luigi workers programatically. See `luigi.interface` module. Though it doesn't help you alter the number of workers once the workflow has commenced.
 * Even if you specify --workers 10000. Lui

[2016-05-06 14:07] EntilZha commented on #1622
I think this would be all frontend work probably. Wherever there is the javascript that fires off the filter request (or filters already requested tasks) it should write the url + the url parser should know to apply that filter when the page loads with that url. I'll keep digging, but it would be helpful if someone knew exactly where to look

[2016-05-06 15:45] daveFNbuck commented on #1622
The code for updating graphs is in processHashChange in visualiserApp.js. The code for filtering the task list on the server side is in searchTerm in luigi.js. Before doing auto-refresh, we'll need to do work to enable manual refresh. Right now, if you hit refresh you lose a lot of state. We'll need to update URLs and do page changes to reflect selections and enable things like refresh and hitting

[2016-05-06 19:30] rpadmanabhan opened #1682 "Dictionary Parameter giving me an error"
I get the following traceback error when I try to declare a DictParameter in my task :

AttributeError: 'module' object has no attribute 'DictParameter'

I tried IntParameter,Boolean One, just a regular one and they seem to work fine.

Thank You

[2016-05-06 19:37] rpadmanabhan commented on #1682
nevermind i just looked through the issues and found this feature was added last month, I upgraded luigi and this fixed it.

[2016-05-06 19:37] #1682 closed

[2016-05-07 23:08] willu47 opened #1683 "contrib/sge - Python 3.5 breaks pickling (v2.1.1)"
When using the SGEJobTask of the luigi.control.SGE module under python 3.5 and luigi version 2.1.1, I get the following error

[code]

I believe this is because the file object should be opened in bytes mode e.g. with the `'wb'` argument rather than `'w'`

The [python docs](https://docs.python.org/3.5/library/pickle.html#pickle.dump) refer to this:

[2016-05-07 23:18] willu47 commented on #1683
Similar issues to #1494.

[2016-05-09 08:36] dylanjbarth opened #1684 "Generic database target"
In some of our pipelines, we have long running tasks which don't have clear output. For example, a task which reads in data from multiple tables in one schema, and updates (rather than inserts) into a single table in another schema. As for as I can tell, this isn't the use case for something like the `sqla.CopyToTable` task.

My workaround was a slightly more generic version of the `mysqldb.MySqlT

[2016-05-09 08:45] dylanjbarth commented on #1684
Potentially similar to https://github.com/spotify/luigi/issues/1149

[2016-05-10 23:47] dacort opened #1685 "[WIP] Salesforce does not download all results for large result set"
For particularly large result sets, Salesforce will return multiple result IDs for a single batch.

However, in [`get_batch_results`](https://github.com/spotify/luigi/blob/master/luigi/contrib/salesforce.py#L489), only the first result ID is being returned. The code should utilize `ET.findall` to return a list of result IDs and download each of those to append to the output file.

I'm planning on

[2016-05-11 13:25] dlstadther commented on #1685
@dacort Sorry about this. I wrote the bulk of Salesforce.py. Most of my salesforce queries involve the salesforce version of joins and so I was never able to use/test batch results well.

Thanks for your desire to improve this module!

[2016-05-11 15:55] dacort commented on #1685
No problem @dlstadther! Happy to be able to contribute. :)

[2016-05-11 19:20] levipierce commented on #430
We are also seeing the memory leak running ~1000 workers memory usage grows until it dies.  We had to mount a large EBS volume for a swap disk to get around the issue.  It is very reproducible.

[2016-05-11 20:58] ronsher commented on #430
Try to disable history like we did
בתאריך 11 במאי 2016 10:20 אחה״צ,‏ "levipierce" <notifications@github.com>
כתב:

[2016-05-11 21:46] binarybana commented on #430
(speaking about the problem mentioned by @levipierce): We're using the default configuration which AFAICT means we're not using history. This is with 1000 workers and 6000 tasks in a single DAG.

[2016-05-12 02:41] Tarrasch commented on #430
@levipierce and @binarybana. Are you perchance using the assistants feature? It previously had some serious bug and I saw it just becoming slower with time and consume memory (but you say it's just eating memory but serving requests at the same speed?).  Are you running a version after this patch? https://github.com/spotify/luigi/pull/1603

[2016-05-12 17:34] dacort commented on #1685
Just realized this creates a CSV file with multiple headers. This shouldn't be merged in yet.

[2016-05-12 18:02] dlstadther commented on #1685
Once things are fixed, i'll review once more

[2016-05-12 22:30] binarybana commented on #430
@Tarrasch: We're not using assistants, and we're using 2.1.1 which looks to have that patch. We're going to try and build a minimal reproduction and try some memory profiling and see what we can find on our side when we get a chance.

[2016-05-13 02:20] Tarrasch commented on #430
Sounds good.

[2016-05-13 11:28] dlstadther opened #1687 "TravisCI cdh builds are failing"
Something is going on with TravisCI when reading requirements for hdfs version number. For some reason, it's trying to parse part of the in-line comment and then failing.

I'm not aware of why this is happening just now and not always.

[2016-05-13 20:13] jeffcjohnson opened #1688 "SFTP target doesn't allow custom port"
The SFTP target ignores the port parameter and changes it to 22.

[code]

The last two lines in that change the port to 22 if SFTP is needed.  In my case, I need to use 522.

I'm not creating a pull request because this would be a breaking change to anyone that is using the default port as removing the problematic code would change the default SFTP port from 22 to 21.

Any suggestions?

[2016-05-14 01:22] dlstadther commented on #1688
I'm responsible for defining these ports in this code. I set sftp port to be 22 because that is the (port that traditionally corresponds to SFTP)[https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers#Well-known_ports].

As this ftp.py module is super rough, as well as in the contrib package, breakage may be necessary.

I was given very little time to implement sftp support and since other

[2016-05-16 02:22] Tarrasch commented on #1687
It's because of tox 2.3.0 now existing on da internetz. http://tox.readthedocs.io/en/latest/changelog.html#id3

I'll submit a fix right now.

[2016-05-16 02:24] #1687 closed

[2016-05-16 07:12] Tarrasch commented on #1687
Oh, I forgot to say. Thanks for reporting this @dlstadther :)

[2016-05-17 01:52] junchenfeng commented on #1657
I am a bit confused since my task does not (explicitly) contain DictParameter, unless DateParameter is a subclass of DictParameter.

[2016-05-17 02:04] Tarrasch commented on #1657
@junchenfeng, oh that's interesting. Maybe it's a separate bug from @tym-oao. Or perhaps the dependencies somewhere down the dependency tree has tasks with DictParameters?

[2016-05-17 02:15] junchenfeng commented on #1657
The culprit is ExternalHiveTask() whose partition parameter is a dict. Curiously, when I resort to a hand written ExternalTask, it is OK.

I guess the problem is specific to the require method.

[2016-05-17 02:35] #884 closed

[2016-05-17 14:09] dlstadther commented on #1688
This issue can be closed

[2016-05-18 02:09] Tarrasch commented on #1657
Thanks for digging in to this @junchenfeng. Do we have any volunteer to fix this (relatively serious) issue?

[2016-05-18 02:16] Tarrasch commented on #1688
Thanks.

Side note for @dlstadther, I just promoted you to have write access to spotify/luigi, so you should now be able to close issues on your own. Thanks for all your help on this project and I hope these new access rights makes you even more productive. :)

[2016-05-18 02:21] dlstadther commented on #1688
Thanks @Tarrasch ! For the near future, i'll still leave merges to you and @erikbern , but I will continuing contributing as I can and gaining experience and knowledge. So my first action will be to close this issue! haha. Thanks again!

[2016-05-18 02:21] #1688 closed

[2016-05-18 02:23] Tarrasch commented on #1688
@dlstadther That sounds sensible. Do whatever you feel comfortable :)

[2016-05-19 02:27] #1685 closed

[2016-05-24 14:49] fjavieralba commented on #1613
I'm having the exact same problem.
Any clue?

@jumanSalameh did you solve the issue?

[2016-05-24 14:57] fjavieralba commented on #1613
Hi!

just in case someone run on this error again,

I was not aware that `luigid` has an error log.

There it was a clear message about my error cause. In my case, I was using a mysql database with pymysql driver for storing Task history, and I didnt have `pymysql` installed on the scheduler node.

[2016-05-25 02:28] Tarrasch commented on #1613
Thanks for reporting this. @jumanSalameh can you verify if the same solution works for you? If so we can close this issue.

[2016-05-26 04:47] levylll opened #1697 "about mysql or redis"
Excuse me, would you give me an example for redis or mysql?

[2016-05-26 05:08] levylll commented on #1697
Btw, I'd like to know how to write data into my redis.
Thank you very much.

[2016-05-26 08:21] hevy-CC4477 commented on #1523
- Can that not be "fakely" done today by using  the ECS Task for example?
- I really like this idea, Could that be a feature request?

[2016-05-26 11:19] dlstadther commented on #1697
I don't use the redis or mysql modules, but I can provide an [example](https://gist.github.com/dlstadther/f835a234f54a46728412) for Redshift.

[2016-05-27 09:32] levylll commented on #1697
@dlstadther Thank you very much. After reading your example and the src in contrib, I think I have to add some function for redis_store....

[2016-05-28 08:33] jumanSalameh commented on #1613
@Tarrasch Yes the problem was solved! I will close the issue now.
@fjavieralba I am so sorry I just saw this!

[2016-05-28 08:33] #1613 closed

[2016-06-02 06:42] jwg4 commented on #1307
This would be great, I am parsing the HTML to find out whether the task most  recently succeeded or not.

[2016-06-02 11:35] erikbern commented on #1307
would love it if someone can give the task history a bit more love!

[2016-06-03 12:00] yosuah commented on #1423
I've been bitten by the same issue. Is there anything blocking a fix for this or where additional information/debugging is needed?

@dojeda version 2.0.1 works fine on Windows for me, so you can upgrade at least to that.

[2016-06-03 15:42] nugend commented on #1657
Hey @Tarrasch I'll see if I can handle this over the weekend.  Do you think what @tym-oao posted would serve as a good basis for a failing test case?

[2016-06-06 02:42] Tarrasch commented on #1657
@nugend, kindof. It's even simpler, just copy one of the tests from `execution_summary_test.py` and use a DictParameter somewhere. I think that's it.

[2016-06-06 15:02] hudswideworld opened #1706 "ImportError when using pinject on Linux machine"
Hi, I've been using Luigi for a bit and just recently decided to try using pinject to do some DI for unit testing. However whenever I run my code (which used to work), but with pinject injecting the dependency instead of the direct call, I get this error:

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/luigi/worker.py", line 175, in run
    new_deps = self._run_get_new

[2016-06-06 15:25] nilgoyyou opened #1707 "Cython + 'unexpected keyword argument' hack"
I'm not sure if Luigi or Cython should be blamed, but here's the problem I found. As you know, we can find this snippet in worker.py in _run_get_new_deps:
[code]
Although it's clearly a hack, it does work most of the time. The exception message in indeed: `got an unexpected keyword argument 'tracking_url_callback`"

When we cythonize our program though, the exception message becomes: `run() takes

[2016-06-06 17:16] dlstadther commented on #1706
If this is an update to `six.py`, would you mind submitting a PR with the changes?

[2016-06-06 19:25] hudswideworld commented on #1706
Done

[2016-06-07 02:31] Tarrasch commented on #1706
Fixed in #1709

[2016-06-07 02:31] #1706 closed

[2016-06-07 02:58] Tarrasch commented on #1707
In recent versions of luigi we removed this hack, but let it still be there for keeping backward comptibility for this short-lived hack. See https://github.com/spotify/luigi/pull/1625/files#diff-b438c8dc80f50172445c72006dc7c8f7R121

Hmm. It's been two deprecated for two months now. Usually that's not enough, but as this such a terrible hack and it causes Cython to not work. I'll be happy to accept

[2016-06-07 14:50] ericjmiller opened #1712 "Hive Examples Needed"
I'm having difficulty creating a trivial workflow script.  I simply want to create a table (if it's not already there) viz CreateTable and put query results into that table viz HiveQuery.  Here is what I've writting so far:

[code]

The current output:

[code]

I'll submit a PR with a solid Hive example - I think it's needed because I'm having significant trouble doing anything with the results of

[2016-06-08 02:26] #1657 closed

[2016-06-08 11:55] Jyrsa commented on #294
Are there many people who would like to use this feature? I'm currently working on triggering S3->S3 mrjob EMR tasks using luigi for the simplicity it would offer to data flow management.

@danielhfrank wrote [Waluigi](https://github.com/danielhfrank/waluigi) a while ago and I believe by adding a few more batteries I could make it work at least for simple use cases in the abovementioned context. I

[2016-06-08 17:01] nilgoyyou commented on #1707
I started reading about travis/ox and I think I can do what you ask, but I have a problem with the cython part. I thought that cythonizing a project was as simple as calling `python setup.py build_ext` but it does nothing. Is there currently a way to cythonize luigi?

[2016-06-08 19:42] mmendez12 opened #1714 "can't pickle function objects with SGEJobTask"
I've been using luigi.Task to run jobs on a SGE queuing system without any problem but when I try the example from the SGEJobTask documentation I get the following error:

[code]

Here is the code I tried to run on a cluster, it is not exactly what's on the documentation but both code returned the same error above:

[code]

I checked the source code but I am not familiar with pickle so I am not su

[2016-06-09 02:19] Tarrasch commented on #1707
The only thing I know about cython is that it's something like C + Python. I've never used it. Sorry :)

[2016-06-09 02:22] Tarrasch commented on #294
Nope, no objections. Though some form of tests are expected. Also, don't hesitate to reuse/refactor/generalize other modules relating to map reduce if it makes sense.

[2016-06-09 02:24] Tarrasch commented on #1714
Hmm, maybe you can @-ping the authors of the SGE module?

[2016-06-09 03:34] mmendez12 commented on #1714
Thanks for the suggestion @Tarrasch I added it to the issue.

[2016-06-09 08:08] Jyrsa commented on #294
I wouldn't trust the quality of my own code without at least some tests.

The general idea is to assume that the user knows what they're doing with MRJob and just provide a simple wrapper that instantiates the object with user given parameters and and lets MRJob handle the rest. It comes with plenty of batteries already so I don't expect the bridge to be too complex or smart.

[2016-06-09 09:19] Tarrasch commented on #294
Jyrsa. It's sane too assume the user knows what they are doing. But don't forget to add documentation as pydocs, at least describing how to inherit your base task. Looking forward to your PR :)

[2016-06-09 17:16] jfeala commented on #1714
Hi @mmendez12, glad you're using this module! What happens if you use absolute paths? The `shared_tmp_dir` is passed from the master to the worker node, so the workers won't understand a relative path.

[2016-06-09 17:25] jfeala commented on #1665
Hi @brcopeland, thanks for using the SGE module!

It might be a hack, but does it help if you pause for a second (`time.sleep(1)`)  before deleting the tmp_dir? I wouldn't want to break Windows compatibility.

[2016-06-10 13:16] jfeala commented on #1665
on second thought, since this always has to run on SGE master node, it should never need windows compatibility. Does your proposed fix work? If so, please submit a PR because I've heard of similar issues with NFS race conditions.

[2016-06-10 14:14] brcopeland commented on #1665
Hi Jake, I made this change on my copy of luigi when I made this post and I have not encountered any problems since.  I'll submit the request.  Two other notes/modifications I've made to my local copy:
1. I parameterized the poll time for qstat, as personally I'm executing long running jobs and there may be several hundred at a time, thus taking up a lot of CPU cycles - any reason you chose to har

[2016-06-10 14:34] EntilZha commented on #595
I would find this feature useful for iterating on Luigi pipelines. For example, suppose I have a pipeline like:
* Pull from S3 via Spark job to local file
* Extract model from local file (maybe with sklearn), write to possibly several model files
* Run some reports

It would be nice to be able to specify a way to remove the targets for anything downstream of a specific task or force execution of a

[2016-06-10 19:48] mmendez12 commented on #1714
Hi @jfeala I tried using absolute paths but I got exactly the same error... Any idea about what I could try next?

[2016-06-14 16:31] nilgoyyou commented on #1707
I cythonized most of the project (some files, like \_\_init\_\_.py, \_\_main\_\_.py, six.py, etc., are best ignored). It's not terribly complicated but it took hours to do because I never did it before. The problem is that I now have all kinds of weird errors like:
`PicklingError: Can't pickle <class 'task.Task'>: it's not the same object as task.Task`
`Task.bulk_complete at 0x7f99b28f2590> is not

[2016-06-15 02:25] Tarrasch commented on #1707
Thanks for your efforts. Please at least push your work-in-progress branch and link to it from this issue. In case it will be useful for anybody.

Yes. Absolutely.

[2016-06-15 15:27] arnov opened #1721 "Failed job doesn't give non-zero exit code"
A failing job doesn't quit with a non-zero exit code

[code]

[2016-06-15 18:13] dlstadther commented on #1721
Could you provide more detail on this job failure? What module are you using, does it happen all the time, etc.

[2016-06-16 02:19] Tarrasch commented on #1721
This is intended behaviour. See http://luigi.readthedocs.io/en/stable/configuration.html#retcode

[2016-06-16 02:19] #1721 closed

[2016-06-16 12:01] arnov commented on #1721
Ah thanks, I must have missed that part of the docs :)

[2016-06-16 16:24] real1991 commented on #1714
I am facing exactly the same problem when I work with Luigi and PysparkTask...

[2016-06-16 16:37] mmendez12 commented on #1714
@jfeala, @real1991 I noticed the following condition right before pickeling the current object (sge.py l.231, spark.py l.288): `if self.__module__ == '__main__':`

I am running the script with the following command `python my_workflow.py --local-server` instead of using the luigi command line interface, could that be an Issue here? @real1991 do you run your script the same way?

[2016-06-16 17:10] real1991 commented on #1714
I have also tried the command
`python SimpleTest.py TestTaskPS --local-scheduler` but it returns error message when running "d = pickle.dumps(self)" (spark.py I.289), saying "TypeError: can't pickle function objects".

My code is similar with yours since I only would like to try a simple example:
[code]

[2016-06-19 03:27] akaul commented on #1578
@erikbern @oldpa Is there any interest in making `RedshiftTarget` backwards compatible? I was able to successfully patch to maintain backwards compatibility while migrating from a lower Luigi version to version 2.1.1.

[2016-06-20 13:19] knassiri commented on #1512
Duplicate of #1008

[2016-06-21 14:14] ryanchou1991 commented on #595
+1 I have met the same issue with the requirement on re-runing same task for multiple times. Would the developers plan to provide a flag named `dont_filter`  `luigi.Task` as class object __init__()?

[2016-06-21 22:57] dmyersturnbull commented on #1114
+1 This is pretty critical to me as well.

@riga Have you looked at this at all? I'll take a look, but I've only just started using Luigi.

[2016-06-22 00:47] jkryanchou opened #1725 "Rerun task with same parameters without removing outputs"
Hi folks,

[code]

[code]

Output:

[code]

And it showed me that python internal mechanism processed the Class object initialization with same parameters without init method executions more than once. So I wonder luigi core developers could provide a flag parameter like `dont_filter` in `luigi.Task` could make us task rerun the task above in multiple times? Or offer me a better solution instead o

[2016-06-22 02:56] dmyersturnbull opened #1726 "Luigi ignores luigi.cfg"
`luigi.cfg`:
[code]

`test.py`:
[code]

[code]

Output:
[code]

Side note: Incidentally, I'm unable to run luigi this way:
[code]

[2016-06-22 04:41] Tarrasch commented on #1726
Make sure you're running everything from the correct folders and stuff. Also try to explicitly set the [LUIGI_CONFIG_PATH](https://github.com/spotify/luigi/blob/master/luigi/configuration.py) env var.

[2016-06-22 04:56] dmyersturnbull commented on #1726
I'm running from the same directory that contains `luigi.cfg` and `test.py`. I also tried setting `LUIGI_CONFIG_PATH`. I'm running on Python 3.5.

[2016-06-22 08:55] alfonsomhc opened #1727 "Luigi doesnt show help with --help"
In the command line, I have problems printing help:
$ luigi --help
Traceback (most recent call last):
  File "/home/alfonso/anaconda2/bin/luigi", line 6, in <module>
    sys.exit(luigi.cmdline.luigi_run())
  File "/home/alfonso/anaconda2/lib/python2.7/site-packages/luigi/cmdline.py", line 13, in luigi_run
    luigi.interface.run(argv, use_dynamic_argparse=True)
  File "/home/alfonso/anaconda2/lib/

[2016-06-22 09:00] alfonsomhc opened #1728 "Problems with command line arguments (with underscore in name)"
I have a task with a parameter with name "my_parameter". If I give it a value using the command line:
--my_parameter value

I get this error:
luigi: error: unrecognized arguments: --my_parameter value

Everything works as expected if I rename the parameter to "myparameter" in the task and use this in the command line:
--myparameter value

[2016-06-22 09:33] sisidra commented on #1728
Not very well documented (you can contribute :)), but it is described (implicitly) in example:
http://luigi.readthedocs.io/en/stable/example_top_artists.html#running-this-locally
`_` should be translated to `-` when passing down from CLI.

[2016-06-22 09:34] Tarrasch commented on #1727
This is a really undesirable bug. We have test cases for exactly this, not sure why it isn't tested in an environment like yours. :-/

[2016-06-22 11:13] alfonsomhc commented on #1728
@sisidra , thanks for the answer, I have added a note in the documentation, please have a look at the pull request.

[2016-06-22 11:14] dlstadther commented on #1726
Your simple program appears to function correctly. (At least, according to my usage).

If you're wanting `y` to evaluate to 100, shouldn't you use the `Config` class?

[code]

[code]

File would then contain `100` if `luigi.cfg` was found. Otherwise, file would contain `10`.

Hope this helps!

[2016-06-22 12:01] dlstadther opened #1730 "Inconsistent filename references to LocalTarget and MockTarget"
LocalTargets and MockTargets are referenced differently.

[code]

||LocalTarget|MockTarget|
|:----|:------:|:-----:|
|class var|`path`|`_fn`|
|property|`fn`|`path`|

It seems like they should use the same property name and be referenced accordingly. The only internal cases where `output().[something]` are referenced in luigi are the three contrib modules: hadoop, scalding, and sge (within a docstr

[2016-06-22 18:32] dmyersturnbull commented on #1726
Thanks for the reply, @dlstadther. What version of Python are you using? I'm using 3.5.1.

First, http://luigi.readthedocs.io/en/stable/configuration.html#paramconfigingestion seems to say that `luigi.Config` is not needed.

Unfortunately, your example doesn't work for me. I had to modify `outfile.write(X().y)` to read `outfile.write(str(X().y))`, but then running `python3 -m luigi --module new_te

[2016-06-22 18:58] dmyersturnbull commented on #1726
#### The real bug
Okay, I found the issue. My minimal example above works fine (I just forgot to update `luigi.cfg`). However, this doesn't (which is the issue I originally ran into):
[code]

[code]

Command: `python3 -m luigi --module test Outer --local-scheduler`

However, changing `[Inner]` to `[Outer]` in luigi.cfg fixes this problem, which I find counterintuitive.

#### Documentation change
P

[2016-06-22 19:03] dlstadther commented on #1726
I have only ever used the Config class style of importing configuration variables, so I was unaware that your code should have correctly executed.

[2016-06-23 02:40] Tarrasch commented on #1726
@dlstadther, yea he's right. Both does/should work. In fact config classes are for now just an alias to normal tasks. They're even runnable! Needless to say, don't rely on that behaviour lol.

----

@dmyersturnbull. Yes, what you see is intended behaviour. I know it's a bit counter intuitive but we choose for parameters configuration to not propagate down with inheritance. It has a lot of good and

[2016-06-23 02:41] Tarrasch commented on #1726
@dmyersturnbull by the way. What was the mistake you did in the first place for this to not work for you? Is there any docs that was unclear? Would you consider updating the docs?

[2016-06-23 02:49] Tarrasch commented on #1730
Do we even need for them to have `@property`-names? I find "fn" to be confusing (it sounds like "function" to me). Can we just deprecate `fn` (no need for  `_fn` as its private already) and just make "path" a class var for both classes?

We have also previously favored "path" over "fn". See https://github.com/spotify/luigi/pull/486, either, I'm up for any change consolidating things and doesn't br

[2016-06-23 08:14] Jyrsa commented on #294
Sorry about the delay. It was surprisingly difficult to find the person at my employer to OK my open sourcing this.

[2016-06-23 14:39] nilgoyyou commented on #1707
As requested, I commited my cython tests on a branch on my fork.
https://github.com/nilgoyyou/luigi/tree/cython-tests

[2016-06-23 14:39] #1707 closed

[2016-06-24 02:20] Tarrasch commented on #1707
Thanks! :)

[2016-06-24 16:09] dlstadther commented on #1730
So if i'm understanding correct, the following things needs to happen:

* Add a decracated warning to property LocalTarget.fn
    * correct usage will be to reference the class variable LocalTarget.path
* Rename class variable MockTarget._fn to MockTarget.path, and replace class references to self._fn with self.path
* Remove property MockTarget.path

If this is correct, I'll submit a PR.

[2016-06-27 04:48] Tarrasch commented on #1730
Yes. I think you covered everything. Looks good :)

[2016-06-28 12:35] riga opened #1736 "Redundant calls to task.get_params() in util.common_params()"
The current implementation of [``util.common_params()``](https://github.com/spotify/luigi/blob/b274d16460937f5061f995f49c2e6b79d491464e/luigi/util.py#L235) redundantly calls ``task.get_params()``. Especially [this line](https://github.com/spotify/luigi/blob/b274d16460937f5061f995f49c2e6b79d491464e/luigi/util.py#L245)

[code]

is very expensive (in our use case for >10k calls with ~20 common parame

[2016-06-28 14:11] #1736 closed

[2016-06-28 14:12] #1730 closed

[2016-06-28 14:16] skogsbaeck opened #1738 "task.complete() for BigqueryTarget"
Trying to link a BiqueryRunQueryTask to a luigi.Task that stores data on GCS.

The upstream Join(BigqueryRunQueryTask) joins two tables and stores data back to Bigquery

[code]
The downstream GCSTask(luigi.Task) has the following structure
[code]

Technically this works fine. However, I want to use the WriteDisposition.WRITE_TRUNCATE setting, in order to override the join-table that results from t

[2016-06-28 18:54] rocketmonkeys opened #1739 "If a worker times out and the task is marked as "FAILED", the history still shows it as "RUNNING""
Steps:
- Start a task via command line that will take a while
- Wait a few seconds (so it registers with the scheduler), then kill the task (control+C)
- Wait 60 seconds
- Go to the scheduler UI/API - the task shows as "FAILED", and the logs show "INFO: Worker Worker(...) timed out (no contact for >=60.0s)"
- HOWEVER - if you go to /history, the status shows as "RUNNING" and is never updated
- Eve

[2016-06-29 22:21] daveFNbuck opened #1740 "HdfsTarget commands fail when many targets are instantiated"
I've recently added an existence check to a large mapreduce task for which some input files may be missing. With a large enough set of inputs, it will fail every time. I've simplified it to the following code:

[code]

This will break if I use any past 1000 or so. Here the client uses snakebite. For a more direct triggering, we can also do

[code]

In either case, the bug goes away if I use a gene

[2016-06-30 02:47] Tarrasch commented on #1740
Thanks for the report. @daveFNbuck, do you understand what causes this? I don't understand how you got to the conclusion that making `get_autoconfig_client` returning the same objects resolves the issue.

Anyhow I'm pretty sure `get_autoconfig_client` returns different objects each time out of pure convenience of the implementers and that the object is so cheap and there's no need to cache it. Jus

[2016-06-30 03:01] daveFNbuck commented on #1740
The bug comes from a system limit of how many file streams can be opened. I tried to dig into the snakebite code to figure out exactly where it happens. I think it's in the thrift communication. The problem is that each client opens a new communication pipe, so having too many open at once hits the limit. If every HdfsTarget has the same client, they don't open multiple pipes. The following code d

[2016-06-30 03:26] Tarrasch commented on #1740
I see clearly now. Thanks for investigating this. Naturally, I would happily review and accept a PR fixing this :)

[2016-06-30 03:30] daveFNbuck commented on #1740
Just wanted to check if there was a good reason not to cache the autoconfig client, maybe threading/multiprocessing issues?

[2016-06-30 03:36] Tarrasch commented on #1740
I see, I unfortunately don't know.

[2016-06-30 06:48] daveFNbuck commented on #1740
I just ran some tests. It seems to be ok to persist the same client object across processes but not threads. Maybe we can make it safe by checking against threading.current_thread() to make sure we create a new one for each thread?

[2016-06-30 08:24] Tarrasch commented on #1740
I suppose the reason it works across processes is because you don't share the variables or anything like that in Python, hence it actually creates multiple objects. I might be wrong though. ^^

Yea I think your solution sounds sane.

[2016-06-30 17:10] dlstadther opened #1741 "S3 Feature Addition - will break current usage of list and listdir"
### This feature addition will break current use of `S3Client.list()` and `S3Client.listdir()`.

My question is... **_Since this is a niche-case feature that will break people's existing code who use one of these functions, would it still be valuable to submit a PR for this feature addition?_**

Due to a specific use-case where I need to know the total number and size of files copied between s3 bu

[2016-06-30 17:21] dlstadther commented on #1741
Code can be found [here](https://github.com/dlstadther/luigi/tree/s3_copy_size).

Changed files:
* luigi/s3.py
* test/s3_test.py

[2016-07-01 02:39] Tarrasch commented on #1741
Why not extend the function (like pass a kwarg saying you also want `item) or create a new function?

[2016-07-01 07:18] Lucas-C commented on #1189
What's the status of this @samuell ? It looked really promising

[2016-07-01 12:40] dlstadther commented on #1741
Good idea. Thanks @Tarrasch

[2016-07-01 12:40] #1741 closed

[2016-07-01 14:54] #1740 closed

[2016-07-01 17:22] pmlandwehr opened #1746 "Add mention of conda-forge build to readme"
The `conda` scientific python distribution is currently pretty big in the research community. While the version of luigi packaged in the [official distribution](https://anaconda.org/anaconda/luigi) is quite out of date, the community-supported build on the [conda-forge channel](https://anaconda.org/conda-forge/luigi) is both current and actively maintained. As such, would y'all consider adding a m

[2016-07-02 11:51] sbourke commented on #1746
Did minor PR - https://github.com/spotify/luigi/pull/1747 . thoughts ?

[2016-07-02 11:52] sbourke commented on #1739
Can you share some code to replicate the problem ?

[2016-07-02 15:16] pmlandwehr commented on #1746
Looks pretty good; I'd mention that they are installing it from the [conda-forge](https://conda-forge.github.io/) channel, since it isn't a default. (Though blessed by Continuum as a positive thing, it would still be good to avoid that confusion.

[2016-07-03 12:43] dlstadther commented on #1746
@pmlandwehr Anyone can submit a PR 😃 Feel free to update the docs accordingly yourself

[2016-07-03 13:20] erikbern commented on #1746
maybe put it in the docs instead of readme – should keep readme concise

[2016-07-05 17:07] saillsha opened #1748 "How to programmatically restart a specific task after failure?"
I have a callback that listens for a failure event on a specific task. It attempts to fix the problem, but I cannot figure out how to automatically restart the failed task from the callback. Is there a way to do this?

[2016-07-06 04:49] Tarrasch commented on #1748
In luigi land, only workers ask for work. Typically, you have workers being launched at least hourly and then everything not finished will be run and that satisfies most business requirements. Furthermore there might already be workers that have registered that task and they will run the tasker even sooner if the central scheduler permits (check the configuration section for retrying). Having some

[2016-07-06 13:10] proycon opened #1750 "Scalability problem: unworkable scheduler slowdown when requiring many tasks"
I have run into a scalability problem where the scheduler causes an unworkable delay when many tasks are scheduled. Have I run into an inherent limitation in Luigi? In my use case I have a task that reads an input directory and requires() child tasks for each file in that input directory. I have a simple example case that just lowercases all files and reproduces the problem:

[code]

When I run th

[2016-07-06 13:13] erikbern commented on #1750
Luigi probably doesn't scale to 100,000+ tasks – that was not one of its design goals.

[2016-07-06 18:44] saillsha commented on #1748
Thanks for the details response @Tarrasch. I understand the best practice is to rerun the pipeline periodically, but given the constrains of the environment, we can only run once daily. I tried using `Interface.run([task])` to restart the failed task, but I get an error saying `Pid(s) 21389 already running`. It seems what I need to do is add the failed task back to the queue of pending tasks. Is t

[2016-07-07 10:13] proycon commented on #1750
That is rather unfortunate..  I have done some profiling of ``Scheduler.get_work()`` and wonder if there aren't ways to overcome this limitation by not considering all pending tasks every time, but partitioning them into smaller queues first and moving on to the next when a queue is done. This may not combine well with certain other features such has task priorities though.

(300k tasks, intel i7-

[2016-07-07 12:57] erikbern commented on #1750
Yeah I think that's very much possible – it just hasn't been a use case so far. But I'm pretty sure it's possible to make `get_work` run in `O(1)`. If you're interested in graph algorithm (topological sort etc) then feel free to take a stab and see if you can do it!

[2016-07-07 20:07] proycon commented on #1750
That sounds like an interesting challenge. I now first approached the issue in a bit of a crude way by identifying the current ``O(n)`` bottlenecks and working around them, at the cost of loss of features such as priorities, resources, and resulting in more arbitrary scheduling (no longer sorted by time). If this new ``fast_scheduler`` option is enabled, ``get_work()`` will effectively be ``O(1)`.

[2016-07-07 20:18] erikbern commented on #1750
cool – i think it's possible to combine the `O(1)` scheduling with all the existing bells and whistles – but it's probably not easy :)

[2016-07-07 23:31] jnthm opened #1752 "No control over tuning of luigi-server.log."
We are starting to run thousands of luigi tasks every day at Ooyala, and in our staging environment, we have noticed that the luigi-server.log ends up taking about a gigabyte of space everyday. Most of the traffic seems to be generated from tornado.access package. We haven't figured out a way to control logging level of luigi-server.log from a logging config file.

Is there any way to control the

[2016-07-07 23:40] amalakar commented on #1752
👍

[2016-07-08 02:16] Tarrasch commented on #1748
`Interface.build()` bypasses the lockfile-check, but it's still not what you want.

Actually you don't need to put the failed task back in a queue. The task is already registered with the worker. You should just play around with configuration for `--worker-keep-alive` the schedulers options regarding delays for rerunning of failed tasks.

[2016-07-08 02:21] Tarrasch commented on #1750
While I do admire your attempts to refine the algorithm, I'm pretty sure the quick workaround is simply to either set a `--worker-task-limit` or somehow utilize the Range module. There's no problem with recronning something every minute.

[2016-07-08 03:29] Tarrasch commented on #1752
Actually things got better since https://github.com/spotify/luigi/pull/1633. For example I have:

[code]

Hence I've chosen to also save the tornado logs to disk, but I could also set

[code]

to only log to the console.

To illustrate a bit further what result this configuration achieves:

[code]

Could this help solve your issues @jnthm? If anyone where up to document this a bit it would be awes

[2016-07-08 20:37] jnthm commented on #1752
@Tarrasch Thanks. We were using 2.1.1 until yesterday. Using the suggested log with yesterday's release (2.2.2) helps.

[2016-07-10 11:51] sbourke commented on #1671
@ataki if it connects after 2 attempts how is a critical being thrown ? it seems that unless a failure has happened 3 or more times it throws the rpc error

[2016-07-11 02:36] Tarrasch commented on #1752
Ok great! I'm closing this then. Credits should go to @brianestlin then. ^^

Again, if anyone would step up and add docs that would be awesome!

[2016-07-11 11:11] alexshires commented on #1684
I'd definitely be interested in this - but for elasticsearch as well as sqla.

[2016-07-12 05:53] TKNGUE opened #1758 "Cacheing returns of __repr__ function of luigi.Task"
luigi.Task.__repr__ generate task's string with it's parameters.
But if we build long dependency workflow which have many requirements having also many Parameters() that might be another task.
Sometimes building dependency on starting,
It mainly caused by recursively generating string of parameters every time __repr__ called.
So I suggested that we caching return of __repr__ function using functoo

[2016-07-12 10:27] Tarrasch commented on #1758
We always welcome PRs. :)

[2016-07-12 17:03] TKNGUE commented on #1758
Okay, I'll make PRs soon

[2016-07-13 11:54] LeeKamentsky commented on #1307
I'm looking for this as well. For my use case, REST calls to get the rows from the task_events, task_parameters and tasks tables by task_id would do it. I'd be willing to contribute a PR if you need it. Not sure on the outset how to write tests against the API...

[2016-07-13 14:07] brianbsquared opened #1763 "Help required with understanding workflow"
I'm building a small proof-of-concept but am having issues getting dependencies to work correctly. In the example below, the PrintNumbers task runs and prints the numbers 1 to 10. After that, I'd expect that the PrintMoreNumbers task would then start and do the same thing. However, what actually happens is the PrintNumbers task starts again. Could someone assist in pointing out what I am overlooki

[2016-07-13 14:34] dlstadther commented on #1763
`PrintNumbers` doesn't write any output, so `PrintMoreNumbers` never knows when `PrintNumbers` completes. If you want to mock the output of that task, you can do the following

[code]

[2016-07-13 14:36] dlstadther commented on #1763
For future reference, direct usage questions like this to the [mailing list](https://groups.google.com/d/forum/luigi-user/).

[2016-07-13 15:09] brianbsquared commented on #1763
Ah, I thought it was related to the output also. I see that all the examples had it as well but thought it was optional and that it used the PID to determine if it was still running.

I appreciate your help and will be sure to post to the mailing list in future.

[2016-07-13 18:47] #1627 closed

[2016-07-14 08:19] jpiper opened #1764 "#1607 Regression - self.clone casts parameters to destination type"
So #1607 has broken one of my design patterns - it could be my bad choice of design pattern (yay, big refactor!) or it could be something to address here.

The `self.clone` method, which we use to pass parameters a set of parameters from one task to another, casts source parameters to their destination parameters type.

As there's no abstract `Parameter` class, and Parameter is effectively a strin

[2016-07-14 08:40] Tarrasch commented on #1764
I don't understand, you've barked up a issue, not a code change. Regardless I think what luigi does now makes sense (and it also prints a warning).

If you were willing to refactor and add a `AbstaractParameter` type that would be superb.

[2016-07-14 08:45] jpiper commented on #1764
Hi Arash,

I could try and add that in, yeah, but I just wanted to document this (this is what issues are for, no?) and discuss whether this is expected behaviour or not. I'll see if I can get around to coding up a PR

[2016-07-14 09:53] Tarrasch commented on #1764
Yea yea, this is absolutely what issues are for. I'm sure others will have this issue and this being documented here already will help them a lot. Good job!

But please make sure that if you claim XYZ caused an regression, then XYZ should point to an actual code change. I still don't understand why your code worked before but now now.

[2016-07-14 20:47] alextmeyer opened #1765 "TypeError: can't pickle function objects with v2.2.0 PySparkTask"
EDIT: (Similar issue to: https://github.com/spotify/luigi/issues/1714 but simplified and directly related to PySparkTask on 2.2.0)

Running simple module as a test (after running into this issue with a separate PySparkTask on a recently spun up EMR cluster with the newest version of Luigi installed - 2.2.0). Only running into this issue on Luigi==2.2.0, tested and works fine every version up until

[2016-07-15 04:04] Tarrasch commented on #1765
Thanks for reporting this. I won't be able to look into this, but I guess the keyword to debug this is `can't pickle function objects`, somehow a function object became a member of the PySparkTask.

[2016-07-15 07:55] Jyrsa opened #1768 "Dataproc module assumes Google application credentials exist"
The dataproc module assumes that if it is being imported, then the Google application credentials must be available.  The related tests raise skiptest if this is the case but also attempting to import the module will result in an exception.

https://github.com/spotify/luigi/blob/master/luigi/contrib/dataproc.py#L18

[2016-07-15 15:44] ShT3ch commented on #1576
My situation was worse: I had `ImportError: No module named luigi` because there is no luigi in global python context, it only in my vertualenv.

So, my solution is:
[code]

All happens because unpickling is in `pyspark_runner.py`. So, when you submitting job by `/usr/share/spark/spark-submit /home/.../internal_code/local/lib/python2.7/site-packages/luigi/contrib/pyspark_runner.py` it`s executed b

[2016-07-18 09:00] Tarrasch commented on #430
Closing this. I assume there is no serious memory leak bug lingering from two years ago. Feel free to repoen this issue if you deem necessary, alternatively opening a new similar issue.

[2016-07-18 09:00] #430 closed

[2016-07-19 14:17] Lucas-C opened #1775 "Adding DateSecondParameter to parameter.py"
Hi,

Would you be open to such addition ?

I can send a PR replicating the existing logic for hours & minutes:
https://github.com/spotify/luigi/blob/master/luigi/parameter.py#L477

[2016-07-19 18:01] erikbern commented on #1775
sure, would make sense!

[2016-07-19 22:12] nugend opened #1776 "Meaning of DEPENDENCY_PRESENT event unclear"
I *think* it means the task's complete method returned true before it's run method was executed by Luigi, but this isn't explicitly stated anywhere.

Could someone comment on whether this interpretation is correct or not?

I think the others are fairly self-explanatory, but I'll see about adding some documentation for them.

[2016-07-20 08:33] #1660 closed

[2016-07-21 11:38] hevy-CC4477 opened #1780 "unhashable type dict"
Hi,

I get this message: Not all parameter values are hashable so instance isn't coming from the cache coming from here:
https://github.com/spotify/luigi/blob/master/luigi/task_register.py#L98.
Taking a look I found this error message: "unhashable type dict".

Why the type dict is unhashable ? and How can we fix that ?

Thanks,

[2016-07-21 13:45] javrasya commented on #1654
I think this is fixed in [Uses more thorough pid check for locking](https://github.com/spotify/luigi/commit/8c4708d4f2d3c40802d9f9873586aef46cba383f) commit which is in version [2.2.0](https://github.com/spotify/luigi/releases/tag/2.2.0) release

[2016-07-22 02:47] Tarrasch commented on #1780
Should be fixed in the few latest version of luigi, given that you use the `DictParameter` that will freeze whatever dictionary-input it's given.

[2016-07-22 02:48] Tarrasch commented on #1654
Given the low activity of this issue, let's assume that indeed fixed this.

[2016-07-22 02:48] #1654 closed

[2016-07-22 14:42] nugend commented on #1780
If you're not on the very latest version, you could see an issue with this when passing DictParameters on the command line.

[2016-07-26 18:36] adghazali commented on #1780
@Tarrasch  the reason for this is that dictionary can contain mutable data structures, correct? So DictParameter now will take the object-value rather than the object-reference? Just curious

[2016-07-27 02:27] Tarrasch commented on #1780
@adghazali, actually it's the dictionary itself that previously was mutable `dict()`. We now always convert it to some fort of a frozen dict. Your theory was very sound though, however luigi's DictParameter is in fact only a String--->String container. The strings themselves are already immutable.

[2016-07-27 08:24] #1312 closed

[2016-07-27 09:37] ulzha opened #1787 "HdfsReadPipe silently fails when unable to read"
E.g. when a HdfsTarget's format is Plain but the path points to a directory, read() returns an empty string and just the HDFS client's stderr is manifesting as a trace of failure:
[code]
The expected behavior would be an exception. The actual CLI clients (`hadoop fs` or `snakebite` that we tried) do exit with error return codes:
[code]

[2016-07-27 14:35] hevy-CC4477 commented on #1780
Thanks for the answer. Does the luigi behavior change with this version ? I got an error `TypeError: 'NoneType' object is not iterable`.

[2016-07-27 14:39] adghazali commented on #1780
Er that is because you are trying to pass a None value instead of a string for the DictParameter. I don't know your use case but you should have a default value (e.g '') so that you aren't passing NoneType objects.

[2016-07-27 15:36] hevy-CC4477 commented on #1780
Thanks. I am trying to unfroze my dict, because I use boto3 and I need a dict not a Frozendict. I tried `dict(self.command.get_wrapped())` but I just get a part of the dict.

[2016-07-28 02:17] Tarrasch commented on #1780
@hevy-CC4477, you can use whatever you want, but for the *parameters* they have to be immutable data structures. Furthermore one shouldn't change the variables of parameters either, although luigi doesn't enforce this.

This is no longer about the original issue, so I'm closing it.

[2016-07-28 02:17] #1780 closed

[2016-07-28 02:29] #1775 closed

[2016-08-04 17:14] lebolo opened #1806 "Add dry run flag"
Is there a way to run luigi in "dry run" mode - to find out what tasks would get run but not actually run them? I found [this post](https://groups.google.com/d/msg/luigi-user/lAH_htE_3CU/Bb4vKuK-BwAJ) that suggests using `--workers 0` but that schedules the jobs before quitting. Ideally, it would be nice not to actually touch anything for information purposes (`luigi-deps` does a good job of listi

[2016-08-05 02:33] Tarrasch commented on #1806
@lebolo, perhaps `--workers 0 --local-scheduler`? Unlike `--workers 0` solution it'll not touch your central scheduler and unlike `luigi-deps` it will actually carry out the necessary side effects to see what things are done yet and not.

[2016-08-05 02:56] Tarrasch commented on #506
Well. The luigi philosophy is that "workers knows better than the scheduler", once the user understands that this should feel natural.

[2016-08-05 10:59] lebolo commented on #1806
Yeah that's perfect! Would it be useful to add a `--dryrun` flag that wraps around this for others?

[2016-08-05 20:04] alexrovner opened #1807 "Time column is not sorted correctly in the UI"
Version 2.2.0

When you click on "Time" it sorts the date / time using string sort instead of date / time sort resulting in incorrect results. Example of the sorted values:
8/5/2016, 12:30:16 AM
8/5/2016, 12:30:31 PM
8/5/2016, 1:30:09 AM
8/5/2016, 1:30:27 PM

<img width="788" alt="screen shot 2016-08-05 at 4 03 43 pm" src="https://cloud.githubusercontent.com/assets/597453/17449098/3f4ae964-5b26-11

[2016-08-08 02:31] Tarrasch commented on #1806
That's a sensible idea. But it's hard to justify which behaviour is a dry run. In particular the  `--dryrun` you just suggested would still run the side-effects of the `complete()` methods.

I would prefer if we could have some documentation covering this. @lebolo, would you mind writing a short summary of the pros and cons of different "dryrun" methods? `luigi-deps`, `luigi-deps-tree` and `--work

[2016-08-08 02:31] #1806 closed

[2016-08-08 22:22] nugend opened #1808 "Terminal Width affects Lock identification under Centos 6.5"
The luigi.lock.getpcmd function will return a shorter command line if the terminal is smaller in width. This can result in locks being misidentified as identical and can be a significant problem if your binary/scripts are located in deep paths.

Presumably there is some option that can be passed to ps to resolve this.

edit: It looks like if the ps command is changed to `ps x -wwo pid,args` that s

[2016-08-09 00:37] luckyrandom opened #1810 "HdfsTarget warns: Parameter None is not of type string"
When HdfsTarget is used, it gives warning as following. Otherwise, it seems work fine.

[code]

[2016-08-09 03:22] Tarrasch commented on #1808
What is the "width" of a terminal? Are talking about the gui window in a users desktop environment???

[2016-08-09 03:33] Tarrasch commented on #1810
Ah. This is bad. There's some parameter somewhere with a default value as `None`.

[2016-08-09 03:38] Tarrasch commented on #1808
Ah, `ps` command tries to print human-readable output, so it's behaving differently based window size. Hence so does luigi. :)

[2016-08-09 11:34] erikbern commented on #1808
can you fix?

[2016-08-09 15:27] javrasya opened #1811 "Luigi triggers run method twice for tasks yields some dynamic dependencies"
Whenever a task yields a dynamic dependency, it's run method triggered twice. Here is a case to produce it;

[code]

Output of this test;

[code]

As you can see, the part before the yield is running twice (not the part after the yield.). `'Before yield B'` output seems more than one.

[2016-08-09 15:35] erikbern commented on #1811
This is expected behavior. The reason is that execution state is not possible to transfer between processes. If a new worker or process wants to resume there's no way. So they just restart from scratch. That's why tasks need to be idempotent for it to work.

We could potentially optimize it so that there's no reason to restart in case it's the same worker that resumes it, but that's a heuristic op

[2016-08-09 15:35] #1811 closed

[2016-08-10 02:35] #1808 closed

[2016-08-10 09:40] javrasya opened #1812 "Having custom task_family for dynamic dependencies"
I have some generic tasks which can be parameterised. Beucase, they are same class, luigi ui shows them as same name as class name. I changed each instance task_family to show them with different names even the class is common. This works properly for normal dependencies. I realised that, this is not working for dynamic dependencies. Here is the error raised by luigi;

[code]

I looked into luigi

[2016-08-10 10:53] Tarrasch commented on #1812
Actually, I'm not sure if it should be allowed to set `task_family`. Does it still crash if you only set `task_namespace`?

[2016-08-10 11:04] javrasya commented on #1812
We are using to override `task_family` to change task name on luigi gui. This is really useful to have different names. Actually it works like a charm for normal dependencies. Luigi does make no trouble about it. I thought that, the behaviour should be same for dynamic dependencies too.

There is no crash for `task_namespace`, but it doesn't help to change task name.

[2016-08-11 19:54] davidljung commented on #1765
SparkSubmitTask was recently rebased to inherit from ExternalProgramTask instead of luigi.Task - possibly related. https://github.com/spotify/luigi/commit/a0417c64fd5da4faa3ad6c2eb7cada47a6711acd

[2016-08-13 21:35] andywonBB commented on #1355
Just ran into this issue after updating my luigi to 2.3. Any workaround?

[2016-08-15 02:41] erikbern commented on #1355
great if you can submit a pull request!

[2016-08-15 18:16] drj42 commented on #1812
I use task namespaces extensively in my projects as a means of task organization, and this issue made me question my assumptions about them (but I think it turns out they were on point).

@javrasya If I'm understanding you correctly, it sounds like task namespaces are really what you want to be using instead.  When a  `task_namespace` is given a value, its incorporated into `task_family` value (pr

[2016-08-15 22:18] bruteforcex commented on #1765
Has there been any update on this?   We are experiencing the exact issue reported above (using version 2.3.0).  We have recently forced our environments to use an older luigi version (2.1.1) to work around this problem.  Or, is there a different/preferred workaround we can use for the time being?

FWIW, here's our traceback:

[code]

[2016-08-16 17:44] peterg-eb commented on #1765
Since the inability to pickle function objects is a well-known limitation of `pickle`/`cPickle`, how would the community feel about just requiring the [`dill` module ](https://pypi.python.org/pypi/dill) as a dependency of `PySparkTask`? A simple `import dill as pickle` in both `pyspark_runner.py` and `spark.py` would very likely resolve this issue.

[2016-08-17 02:39] ivannotes commented on #1765
I have encountered the same issue with luigi 2.3.0 too. I did some investigation, it seems `set_status_message` in task can not be pickled, It's might be because of code [here](https://github.com/spotify/luigi/blob/master/luigi/worker.py) and [here](https://github.com/spotify/luigi/blob/master/luigi/worker.py#L800). I will see if I can come up with a PR to resolve it.

[2016-08-17 03:17] Tarrasch commented on #1765
@peterg-eb, I would not like to introduce that module. Can you guys try to find a way to undo whatever changes that introduced this issue?

[2016-08-20 18:02] lexman commented on #506
Hello @davidljung, if you're looking at a framework that will check the outputs, have a look at (tuttle)[http://github.com/lexman/tuttle]. It will also check that the data you've already produced has not changed (edited by hand, for example), and would reprocess the data in that case.

[2016-08-22 06:18] #1752 closed

[2016-08-22 13:27] ulzha opened #1822 "Single worker behavior considered dangerous"
As [discussed](https://groups.google.com/forum/#!topic/luigi-user/mH7NWfOr-4I) in luigi-user@ email group.

When running a single worker, luigi runs the heartbeat thread in the same process as the task itself. Blocking method calls (like blocking IO) happening from the task code prevent heartbeats from being sent by the heartbeat thread.

That makes locks obtained by that worker time out, and:
* p

[2016-08-22 13:28] ulzha commented on #1822
One option would be to make heartbeat run in a separate process also in single worker scenario.

[2016-08-22 14:08] erikbern commented on #1822
i don't remember why the single worker case is threaded, we could remove that code so it uses a separate process instead

[2016-08-22 16:53] Ashvio opened #1823 "luigi.contrib.ssh- Using an integer for the port number for RemoteContext causes a confusing and unhelpful error message in Popen."
If you pass in, say 5001, as the port number to RemoteContext, when running a command, you get a  `TypeError: Can't convert 'int' object to str implicitly`. I had to put print statements in the luigi code to realize this is because I used an int for the port number rather than a string. There is an easy fix for this:

Replace
`        self.port = kwargs.get('port', None)`
in RemoteContext.__init__

[2016-08-23 02:17] Tarrasch commented on #1822
The "right" thing to do feels like it would be to make all `run()` threads run in separate processes even when workers==1, there would be no if-and-but logic then. But some people's code could break and many tests might need to be rewritten.

[2016-08-23 10:49] dlstadther commented on #1823
Feel free, @Ashvio , to submit a PR :)

[2016-08-24 03:33] bespin1 commented on #1423
Looks like this is still lingering in 2.3 now, albeit a bit different.

Previously, on 2.1.1. it was 'fixable' on windows by commenting out the callback as lediur suggested above.  The callback is written a bit different now.

Traceback (most recent call last):
  File "c:\python27\lib\site-packages\luigi\retcodes.py", line 74, in run_with_retcodes
    worker = luigi.interface._run(argv)['worker']

[2016-08-26 21:22] nugend commented on #1808
@erikbern This should probably be reopened since @keitap highlighted some issues with Busybox and my proposed fix.

If there's consensus on the right solution, I can implement and make a pull request.

Also, is there a right way to test cross platform compatibility of this? Maybe something that can be configured through Travis?

[2016-08-27 03:34] brahm-hired commented on #1622
Hey! Just wondering if this is something on the roadmap for upcoming luigi releases. It would be a great addition if we could refresh while keeping the `Hide Done` option checked for big data pipelines.

[2016-08-27 03:48] daveFNbuck commented on #1622
I just made the hide done default checked today and it made the rest of my
day much better. Putting that in (or at least adding it to the URL so that
it sticks around after refresh) would probably do most of what you want.

On Fri, Aug 26, 2016 at 8:34 PM, Brahm Kiran Singh <notifications@github.com

[2016-08-28 04:14] timiyay commented on #1647
Just started experimenting with `luigi`, trying to use it in a workflow that downloads a binary `.zip` file and writes it do disk.

I hit this issue immediately on Python 3.

FWIW, my expectation was that `self.output().open('wb')` would behave as expected. I would support an implementation that makes this happen.

[2016-08-29 02:04] Tarrasch commented on #1622
Putting it in the URL would be soooo awesome :D

[2016-08-29 08:41] hevy-CC4477 commented on #1594
#1802

[2016-08-29 14:10] piotrpolatowski opened #1831 "Dataproc image-version param not supported"
25 of August google upgraded default version of dataproc image to 1.1
https://cloud.google.com/dataproc/docs/concepts/dataproc-versions

The image is based on Spark 2.0. It would be great to have a choice of image version to support "legacy" Spark code.

Why it is not supported?

[2016-08-29 14:14] erikbern commented on #1831
because no one implemented it

[2016-08-29 14:14] erikbern commented on #1831
please send a pull request if you want support for it

[2016-08-29 16:39] peterg-eb commented on #1765
I believe https://github.com/spotify/luigi/pull/1819 closes this issue, and the tests written by @ivannotes seem to bear that out.

[2016-08-29 19:38] dewet22 commented on #1647
I hit the same issue trying to save task state using `pickle` objects. My current workaround is to use
```with open(self.output().path, 'wb') as out_file:```
instead of
```with self.output().open('wb') as out_file:```

[2016-08-30 03:27] Tarrasch commented on #1765
Thanks for the reminder @peterg-eb. I'm closing this now. :)

Conclusion is to upgrade to 2.3.1 if you experience this issue.

[2016-08-30 03:27] #1765 closed

[2016-08-30 12:32] brianbruggeman opened #1834 "Dynamic Luigi task"
I am building a wrapper for Luigi Tasks and I ran into a snag with the [`Register`][1] class that's actually an ABC metaclass and not being pickable when I create a dynamic `type`.  I'm looking for help (or maybe ideas) in resolving.

The following code, more or less, is what I'm using to develop the dynamic class.

    class TaskWrapper(object):
        '''Luigi Spark Factory from the provided Jo

[2016-08-30 15:10] wires commented on #1647
It turns out that setting `format=luigi.format.Nop` on the target also does the trick.

[code]

[2016-09-01 09:27] Tarrasch commented on #94
Parameter system is completely rewritten and there are no globals anymore. Closing this.  See docs for usage of the new system.

[2016-09-01 09:27] #94 closed

[2016-09-01 09:29] Tarrasch commented on #98
This is not implemented yet. Maybe it will be one day. In the meantime users can use assistants as they will pull down tasks immediately.

[2016-09-01 09:29] Tarrasch commented on #311
Fixed in #589

[2016-09-01 09:29] #311 closed

[2016-09-01 09:30] Tarrasch commented on #302
This is an (old) user question. Closing.

[2016-09-01 09:30] #302 closed

[2016-09-01 09:30] Tarrasch commented on #286
There's now a "reverse graph" button (don't know since when :)).

[2016-09-01 09:30] #286 closed

[2016-09-01 09:31] Tarrasch commented on #294
Added by @Jyrsa in #1731. Thanks again!

[2016-09-01 09:31] #294 closed

[2016-09-01 09:31] Tarrasch commented on #341
Old regression ==> closing

[2016-09-01 09:31] #341 closed

[2016-09-01 09:33] Tarrasch commented on #183
Same as #286 (also closed)

[2016-09-01 09:33] #183 closed

[2016-09-01 09:33] Tarrasch commented on #114
Not enough information. Closing.

[2016-09-01 09:33] #114 closed

[2016-09-01 09:34] Tarrasch commented on #167
Old issue. Probably irrelevant now.

[2016-09-01 09:34] #167 closed

[2016-09-01 09:35] Tarrasch commented on #154
Logging format is not customizeable. See [2.2.0 release notes](https://github.com/spotify/luigi/releases/tag/2.2.0)

[2016-09-01 09:35] #154 closed

[2016-09-01 09:36] Tarrasch commented on #215
This was fixed at some point.

[2016-09-01 09:36] #215 closed

[2016-09-01 09:37] Tarrasch commented on #256
Luigi does not guarantee that the different clients will work exactly the same. Also this issue is old. :)

[2016-09-01 09:37] #256 closed

[2016-09-01 09:38] Tarrasch commented on #635
Per task configuration exists since [2.3.0](https://github.com/spotify/luigi/releases/tag/2.3.0)

[2016-09-01 09:38] #635 closed

[2016-09-09 19:08] Gitzman opened #1852 "Issue when importing another .py file into a luigi script"
I've set up the most basic luigi task possible:

import luigi
class Test(luigi.Task):

    def run(self):
        print ("WHYY")

When I run this in the command line like:

PYTHONPATH='.' luigi --module TestModule Test --local-scheduler

It works just fine.

However, if I try to import another .py file into my script, I am getting an error.  The .py file is in the same directory and everything wor

[2016-09-13 15:59] koolay commented on #1834
+1

[2016-09-13 18:06] erikbern commented on #1834
can you motivate this use case? why can't you use the existing task register? see the `load_task` method for instance

https://github.com/spotify/luigi/blob/master/luigi/task_register.py#L231

[2016-09-22 16:28] peder commented on #1748
I understand that, philosophically, Luigi is designed for idempotent jobs, thus there wasn't much effort given to restarting specific tasks. In nightly ETL environment, jobs might be long-running, and the entire ETL proces can take hours to execute. What if a task in the middle of the batch fails? Is there some backdoor method to "Restart At Step [n]"?

I'm not sure I follow... given a complex bat

[2016-09-23 02:26] Tarrasch commented on #1748
Typically your dependency graph has many roots (typically `CreateFinalFileForReporting(date=xxx)`, `UploadUsersToDb(date=xxx)`). I recommend having something like.

[code]

Where 13 and 44 are "random" minutes for load balancing. Please play around with luigi a bit more to strengthen your understanding. :)

[2016-09-25 08:28] mxmrlv opened #1865 "Running the per_task_retry_policy example fails"
When i run the per_task_retry_policy example, the tasks are being retried indefinitely (or as configured in the luigi.cfg file). Effectively there is no per-task retry policy which affects the execution.

[2016-09-25 21:26] impguard commented on #1712
Here's an example of something we've spun up internally to handle running hive queries. In fact, we this similar model for running any sort of query that uses subprocess. We didn't like the model presented in the contrib hive (global hive cli config etc.) and used this instead.

[code]

[2016-09-26 02:14] Tarrasch commented on #1865
@mxmrlv, Can you double-check that (1) Your client runs the latest code and (2) so does your server?

[2016-09-27 09:43] fnberta commented on #1507
Just stumbled upon this issue. @n321203 Have you had any luck with this?

[2016-09-27 09:57] cjnqt commented on #1507
@fnberta Nope

[2016-09-29 02:04] Tarrasch commented on #1654
@mambistats please stop complaining and send a PR fixing any shortcomings. This is not a paid product with support. Luigi is a community developed product, and that's where you come in.

[2016-09-29 07:11] mambistats commented on #1654
I just complained because the issue was closed without a fix saying that nobody was complaining. I just wanted to say it is not fixed as assumed because nobody did say anything. I just hoped to keep  the ticket open so that somebody can look into the issue. Sorry no offend intended.

[2016-09-29 14:04] tbonza commented on #1683
+1

[2016-09-30 13:21] juanmcloaiza opened #1869 "Unable to import module"
The following extremely simple code runs fine:

[code]

If, to the same code, I add a print statement (say, in the mapper function), it crashes:
[code]

The same happens when importing modules that use stdout or stderr:

[code]
Where `my_import` directory contains the following `__init__.py`:

[code]

If I remove the print statement, the import succeeds without problem and I can use the function `

[2016-09-30 13:40] juanmcloaiza commented on #1852
Hello @Gitzman,

I have just created a file just like yours, TestModule.py:

[code]

In the same directory I have the file my_import_file.py:

[code]
I ran with (My `PYTHONPATH` is `./`):

[code]

The output I get is:

[code]

So, I am apparently doing the same as you and my code is running fine. I am running on ubuntu 14.04 using python 2.7.

So, I'm not actually giving you an answer, but at leas

[2016-10-04 15:53] fmorency opened #1872 "Assistant dynamic resources"
**Use case**: Spawn new assistant instances on-the-fly (scale up/down) and connect them to the central planner
**Issue**: Resource pool is allocated when central planner is starting via configuration file. Dynamic resource pool modification is currently not possible from the Luigi client
**Solution**: It would be nice to be able to push new host-based resources pool dynamically when a new assistan

[2016-10-05 02:09] Tarrasch commented on #1872
Thanks for the nice description and interesting issue @fmorency. Have you thought about leaving out the assistants concept from this? I think worker-based or host-based resource limitations is what we look for. That is it's regardless if a worker is an assistant or not. What do you think?

[2016-10-05 14:01] fmorency commented on #1872
You are correct @Tarrasch. I took an example from what I'm working on at the moment, but ultimately we are looking for {host/worker}-based resources pushed via the Luigi client and without restarting the central planner.

[2016-10-06 02:08] Tarrasch commented on #1872
As far as I remember, this has been requested many times by multiple parties. If you would go ahead and implement it. That would be great for sure. :)

[2016-10-06 16:33] brianbruggeman commented on #1344
`boto` is [no longer maintained](https://codegangsta.io/blog/2014/05/19/my-thoughts-on-martini/).  I'm not sure this should really be a discussion point: Luigi should move to [`boto3`](https://boto3.readthedocs.io/en/latest/).

[2016-10-06 19:14] tps-minwood opened #1873 "History only works after killing and restarting."
I have this in my luigi.cfg file (it's in home/luigi/ along with all the files):
[code]
The problem is I'll start it after our server restarts, and the history doesn't work. If I kill the process and run it again (both times using sudo) the history then works.

[2016-10-07 09:18] sathish-hike commented on #1523
Can't we use distributed storage to maintain the state of the system? Ex: systems like Zookeeper/Ectd can be used as a distributed key value store.
Dkron uses similar approach.

[2016-10-07 16:44] easherma opened #1874 "Guidelines for profiling/timing performance?"
I'd like to measure the timing of parts of my luigi tasks and was interested in using [line_profiler](https://github.com/rkern/line_profiler#kernprof) (or perhaps cProfile). However, this and other examples I've found usually run on the command line running a .py. Can this be adapted to also run a specific luigi task with its parameters from the command line?

[2016-10-07 20:33] impguard opened #1875 "Add a chat on Gitter icon?"
Hey, created a Gitter room for Luigi. Would it be feasible to toss a "Chat on Gitter" badge on the README?

Something like this?

[![Chat on Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg?maxAge=2592000)](https://gitter.im/spotify-luigi/Lobby)

[2016-10-09 10:23] juanmcloaiza commented on #1869
I haven't yet solved the problem of writing to stderr or stdout. Maybe writing explicitly to a log file would do.

What I solved is the importing of modules. The solution was to add the following lines at the top of my script, which will attach to luigi tarball all what is needed:

[code]

Even if this is only a hack to get things done, I wonder if it could and make sense to add a piece of code li

[2016-10-10 15:49] dlstadther commented on #1875
It appears that the existing slack room is winning in popularity (https://groups.google.com/forum/#!topic/luigi-user/AfGtUS-WE8E). But if you'd like to push for the addition of Gitter as well, and wish for this to be added to the README.md, submit a PR for it and see what @Tarrasch says.

[2016-10-11 09:37] Tarrasch commented on #1875
Thanks for the summary @dlstadther. My two cents: think we shouldn't add this. If anything it should be a link to the [existing slack room](https://spotify-foss.slack.com/messages/luigi/). I personally don't use any of them though.

[2016-10-12 01:20] impguard commented on #1875
The issue with the slack room, however, is that it requires permission to access. In contrast, you simply need a github account to jump into the Gitter.

That burden is a huge inertia force for getting people to jump in and ask a question, not only in terms of figuring out where to ask to get that permission and also waiting on someone to give you permission.

We can add a link to the existing sla

[2016-10-12 02:32] Tarrasch commented on #1875
I like gitter over slack as well for exactly those reasons. However given that nobody is actively developing on luigi these days I think it's best to just have no channel.

btw., have you thought about starting with StackOverflow?

[2016-10-12 03:18] rudaoshi opened #1879 "How can I pass a path to the archives parameter of HadoopJobRunner?"
Hi, I want to copy a tar.gz from hdfs and unzip it at the runtime dir of my task. I found there is a archives parameter in HadoopJobRunner, however, I don't know how to pass the path to the parameter from config or my code of Job.

Thank you !

[2016-10-13 11:58] ulzha commented on #1738
We would usually just delete/rename the data that needs regeneration. If we need to regenerate a BigQuery table with new data, we delete or rename it. If we need to regenerate a BigQuery table and a downstream GCS output, we delete or rename both.

[2016-10-13 12:06] ulzha commented on #1738
Conceptually Luigi is suited for complete chunks of work that are either done or not. Complicated states like "needs updating" and rewrites are not easily expressed; instead try to see if you can model "new data that comes in" with partitions or snapshots that each reside a new table.

Partitions in BigQuery are supported in several ways - you can suffix tables with _YYYYMMDD and use functions lik

[2016-10-14 05:18] rudaoshi commented on #294
I wrote a extension package for luigi to support mrjob protocol and default parameters.

https://github.com/rudaoshi/super_luigi

[2016-10-14 12:19] mfcabrera commented on #1576
Hi all, I know this is an old issue, but I am having the same problem as @ShT3ch.   @Tarrasch,  For this in particular wouldn't be enough to add an option to the runner (via [spark] section) to set `PYSPARK_DRIVER_PYTHON` environment  variable to the right location, and the return it to the normal state.  so the   right Python executable is picked.  I could create a PR for that.

[2016-10-14 13:04] mfcabrera opened #1884 "Inline Spark job fails when depedency reads a manually set configuration value"
Using luigi 2.3.2 with python 2.7 and spark 2.0.1 on Hadoop 2.7.1.2.3.4.0-3485 (HDP)

First, I don't know if that is an intended behavior but I believe there is an issue here.

My  task fails because one of its dependencies reads one parameter from the configuration. Now, in our setup we load the configuration from non standard location (i.e. not from `client.cfg` or `luigi.cfg` in the working dir

[2016-10-14 14:09] mfcabrera commented on #1879
Hey @rudaoshi
I actually wrote a small PR just for that. I wanted to support virtual envs in my Hadoop jobs.
You have to extend the HadoopJobRunner and the JobTask class. But it is not hard.

In this post I describe how I did it: http://mfcabrera.com/python/2016/04/25/python-streaming-blog-org.html

But in a nutshell:

[code]

Then in your `job_runner` method :
[code]

Hope it is helpful.

[2016-10-17 14:22] mfcabrera commented on #1185
is there a nice alternative to what @piskvorky  did? like the attach method of hadoop?

[2016-10-17 15:20] sma202 commented on #1360
Was this fixed?  Still getting the same error.

[2016-10-17 18:36] mattayes commented on #595
👍 Even just a simple command-line switch `-f/--force` would be very helpful (obviously not deleting `ExternalTask`s).

[2016-10-18 20:23] mfcabrera commented on #1869
@juanmcloaiza have you tried using virtual envs? That's what we dod at TrustYou and we have a zip file with the venv on HDFS and the we just use it from there. So no need to upload a lot of packages.  See the blog post: http://mfcabrera.com/python/2016/04/25/python-streaming-blog-org.html

[2016-10-19 12:30] dewet22 commented on #1822
There might also be issues when tasks run in threads using thread-unsafe external libraries (we depend on some swig-wrapped C libraries that get hilariously borked if we try to parallelise using threads). So for us, in the single-worker use case it is imperative that the task doesn't get threaded off unexpectedly.

Our workaround has been to up the `worker-disconnect-delay` in the `[scheduler]` st

[2016-10-19 12:40] dewet22 opened #1889 "Scheduler doesn't hand out unique jobs"
We have a setup where one worker runs on one instance, each with a unique identifier, and the expectation is that worker will complete all the work for that identifier. So firing off three instances with three workers (each with different identifiers) we end up with the scheduler just refusing to hand out that worker's tasks sometimes. For instance, one worker will sit around like this, with no ex

[2016-10-20 02:15] Tarrasch commented on #1889
I'm not sure. But could it be related to resource `{cpu: 1}`?

[2016-10-20 02:31] Tarrasch commented on #1822
@dewet22, do luigi not work for you if you run with `--workers 2` for example?

[2016-10-20 12:59] juanmcloaiza commented on #1869
@mfcabrera  As a workaround, I just installed the python packages I needed in every node and my jobs ran fine (I'm currently working with a very small cluster). In any case, shouldn't Luigi deal with attaching automatically all the dependencies of a package (that's what the documentation claims it does)? I will try your solution on the blog at a later time, it looks clever and neat. Thank you!

[2016-10-21 08:19] mfcabrera commented on #1875
@Tarrasch I think the fact that there's not active development on Luigi right now makes it a good idea to have channel? I mean maybe that way we can jumpstart a community with people that have system running on Luigi. Just my two cents.

[2016-10-21 14:11] ulzha commented on #1738
Closing due to inactivity. I hope I explained the complete() behavior well. The behavior is not specific to BigqueryTarget. For a feature in Luigi to override an output (one that exists according to Target's exists()), https://github.com/spotify/luigi/issues/595 seems relevant.

[2016-10-21 14:11] #1738 closed

[2016-10-23 23:13] jonathanng opened #1894 "Failed connecting to remote scheduler"
I have a setup with hundreds of workers. Sometimes up to 500 workers.

Often when the # of workers gets large, the scheduler becomes unresponsive. Visiting the scheduler UI results in a timeout. Workers fail to ping the scheduler.

I'm not exactly sure what the bottleneck is and how to improve performance? Is it a db bottleneck? Network bottleneck?

I've tried setting:
- ping_interval=60
- paralle

[2016-10-24 09:43] burdiyan commented on #1344
Can't use boto because of this issue https://github.com/boto/boto/issues/2741

Just can't talk to frankfurt buckets. So sad :( Will have to implement custom boto3 implementation, hope it won't be too tricky and I'll be able to submit the PR for this.

[2016-10-24 14:55] ulzha commented on #161
Looks like done, contrib it is? Wonder if there's anything irksome left outside.

[2016-10-24 14:56] #161 closed

[2016-10-24 15:07] jonathanng commented on #1894
Looks like turning off record_task_history did the trick!

[2016-10-24 15:15] ulzha opened #1897 "Plugins support"
I see a plugin system's primary purpose in providing standardized extension points for operators of Luigi-based scheduling infrastructure.

Some of the primary purposes for plugins:
* Register logging handlers
* Register [event](https://github.com/spotify/luigi/blob/master/luigi/event.py) handlers
* Initialize and clean up ad-hoc resource management
* Register utility Tasks to be available during

[2016-10-24 15:16] ulzha commented on #1088
^ A new issue where I believe we'd be addressing this in a generic fashion.

[2016-10-24 15:16] #1088 closed

[2016-10-24 15:23] ulzha commented on #1897
I imagine quite minimal functionality, that is, in luigi.cfg specify modules that contain plugins, and have the CLI import them, using some industry standard plugin API.

I looked through Google results (http://wehart.blogspot.se/2009/01/python-plugin-frameworks.html, https://www.reddit.com/r/Python/comments/1qaepq/very_basic_plugin_system/ ...) about Python plugin systems.
* [plugnplay](https://g

[2016-10-25 05:27] maksimt opened #1898 "Hashing nested dicts fails"
Steps to recreate:

[code]

Expected Error:

[code]

Would it be possible to replace this `__hash__()` function with a call to `hashlib.sha1(str(self)).hexdigest()` or just call `hash` on `str(self)` (or replace `str` with JSON Encoder if appropriate).

[2016-10-25 07:08] Tarrasch commented on #1898
Thanks for your bug report. Actually I'm not sure if this is expected behavior or not (do luigi allow nested dicts??). Can you test if you can run your class from the command line passing a nested dict?

    luigi TestClass --par "{'a':2,'b':{'c':'3'}}"

Perhaps there should be a `PythonValueParameter` that can be any combination of literals, `[]`, `{}` etc., although perhaps it's a bad practice t

[2016-10-25 14:07] erikbern commented on #1898
agree with @Tarrasch

[2016-10-25 16:46] maksimt commented on #1898
Hi, running it on command line seems to have worked:

```$ luigi --module luigi_dict_test TestClass --par "{'a':2,'b':{'c':'3'}}"```

[code]

The reason I'm interested in the `__hash__` function is so that I can use it encode the current Task's DictParameter into a string and use it to define Targets in the `output()` and `requires()` methods. If there's a existing workflow that achieves this with

[2016-10-25 21:42] sklarsa opened #1899 "Workflow for asynchronous work, use ExternalTasks or other?"
I'm writing a workflow that involves using luigi to schedule asynchronous tasks.  I have one task (TaskA) that executes an async command, writes to output, and exits.  A second task (TaskB) depends on the output of TaskA, but must begin once the async command that was launched in TaskA has completed.  To resolve this, I created a third CheckerTask that checks if the asynchronous work is complete.

[2016-10-26 02:21] Tarrasch commented on #1898
@maksimt. I can't tell from the [docs](http://luigi.readthedocs.io/en/stable/api/luigi.parameter.html#luigi.parameter.DictParameter) whether if we ever intended users to be able to have nested dicts. I suppose the feature could be added. If you are ready to do that. I could give you some guidance for implementing it. It's not too hard I believe.

[2016-10-26 15:08] maksimt commented on #1898
Hi, yes I'm interested in implementing this feature with some guidance. I'm not sure if the FrozenDict's `__hash__()` method is the only thing that needs to be changed, since in other parts of the code hashability is checked without using this method. For example the debug statement I see in my use case comes from `task_register.py`:

[code]

However, after hashing the nested dict as follows in or

[2016-10-27 01:00] impguard commented on #1875
I agree with Mfcabrera.

@Tarrasch That's a good point. I haven't thought about StackOverflow. I've found, though, as chatting tools becoming more prominent that they seem more useful due to the asynchronous yet synchronous nature (asynchronous until a conversation starts, then synchronous until its resolved). Though I do see your point.

[2016-10-28 16:18] bertomartin opened #1903 "Proxy issues when using luigid"
I get this error when trying to use the luigid scheduler:
``ProxyError: HTTPConnectionPool(host='proxyname', port=80): Max retries exceeded with url: http://localhost:8082/api/add_task (Caused by ProxyError('Cannot connect to proxy.', NewConnectionError('<requests.packages.urllib3.connection.HTTPConnection object at 0x10c775490>: Failed to establish a new connection: [Errno 8] nodename nor servnam

[2016-10-31 02:54] chapeng opened #1904 "How to run the program?"
I'm a new learner and I don't know how to run the code after coping the code to python charm. I would be really appreciated if anyone can help me!

[2016-10-31 02:55] Tarrasch commented on #1898
@maksimt, We don't need to with making all parameters immutable+hashable. Lets do it one by one. Why don't you start with DictParameter?

[2016-11-01 15:31] guyneedhamblis opened #1905 "Redshift: Serializable isolation violation"
We often get an error when multiple jobs are attempting to update the table_updates table in Redshift at the same time. The error is thrown when the PostgresTarget output class calls self.exists just after writing to the table_updates table, when another task is writing to the table. The DB cannot guarantee the results of the query, and this gets thrown:

[code]

I'm considering making a pull requ

[2016-11-03 21:47] anjackson commented on #1810
FWIW, I get this error because I've not set up email. i.e. I tracked it down to:

[code]

[2016-11-04 02:12] Tarrasch commented on #1810
@anjackson, Thanks for reporting this! But please open a new issue if you know you get this warning for a different reason. (in this particular case, I believe this is fixed in 2.3.3, but I might be wrong)

[2016-11-04 11:52] cqnguyen opened #1911 "Luigi Job Hangs even when hadoop job is completed,"
I'm currently running the latest version of Luigi 2.3.3 alongside with Spark 2.0

I have luigi running my spark jobs, as soon as the spark jobs are completed, luigi doesn't recognize or can't tell the job is done is hangs there waiting.

[2016-11-05 08:57] #1911 closed

[2016-11-05 21:34] #1899 closed

[2016-11-07 02:31] Tarrasch commented on #1911
Xin chào :)! Did this resolve itself?

[2016-11-07 02:34] Tarrasch commented on #1899
@sklarsa, please consider adding a comment why you're closing this. So others can solve the issue if they have the same issue.

[2016-11-07 08:54] horenmar opened #1914 "Cannot run luigi on AWS Lambda"
I have a series of tasks I want to run daily, ideally using AWS Lambda. However, even single threaded use of Luigi relies on multiprocessing module for `multiprocessing.Queue`, which does not work on AWS Lambda[1].

This was temporarily changed in commit 0e6bfd155b02f5707cd089470eda90aae07df272, where single threaded Luigi run would use different queue, and reverted to the current state in afe01d3

[2016-11-07 23:31] rhaarm commented on #1423
Is there a fix for this yet?

[2016-11-08 01:12] sklarsa commented on #1899
Sure.  Firstly github issues may be the wrong forum for this, since it is a fairly open-ended question.  In the end, I just kept my solution of throwing errors in the `CheckerTask`s to stop the chain of execution until the downstream task was completed.

[2016-11-08 22:27] bertomartin commented on #1423
Just experienced this issue. Is there a fix or workaround we can use for now?

[2016-11-10 13:55] benjaminrigaud commented on #1874
A little remark: multiprocessing makes profiling harder. You can disable multiprocessing by using `workers=1`.
I use py.test and pytest-profiling to generate nice svg output.

[2016-11-11 22:58] jimmywan commented on #1423
Only workaround I know of is to use 1.3.0.

[2016-11-13 15:51] daveFNbuck commented on #1872
I missed this until now, but I have a fairly longstanding PR #1669 that deals with this.

[2016-11-13 15:54] daveFNbuck commented on #1362
I actually do this a lot and a property decorator is the answer:

[code]

[2016-11-16 15:37] sshd123 opened #1920 "i use petl.appenddb() insert into mysql db with MySqlTarget, but get "mysql.connector.errors.ProgrammingError: Not all parameters were used in the SQL statement""
`def input(self):
        return luigi.LocalTarget("data/{}.json".format(self.date.strftime('%Y%m%d')))

    def output(self):
        return MySqlTarget(host=self.host, user=self.user, password=self.password,
                           database=self.database, table=self.table_name, update_id=self.update_id())
`
i use petl.appenddb() insert into mysql db with MySqlTarget from a local file, but get

[2016-11-16 20:23] andmib opened #1921 "Luigi task history SQL error ("task.task_id" is invalid in the select list..)"
I have `record_task_history = True `and my `db_connection` specified in my` luigi.cfg` file. The appropriate tables get created on my SQL server, however nothing gets written to them. In the web interface, when I attempt to access _/history_, I get a _500 internal server error_ along with the following in my console:

`ProgrammingError: (pyodbc.ProgrammingError) ('42000', "[42000] [FreeTDS][SQL Se

[2016-11-18 02:14] shaynewang opened #1924 "Luigi doesn't output FAILURE processing time, end time and start time"
When a task is failed the processing time is not recorded. As a result, the processing_time of a process left as initialized value.
[code]
Processing time for Failure events shouldn't be None or 0, therefore processing_time for FAILURE event should be calculated before exits.

Luigi let failed tasks have no processing time information. As a result, it could be hard to track failures. I think time

[2016-11-18 04:02] Tarrasch commented on #1924
What are does dicts? Did you create them yourself or is it a luigi future?

[2016-11-18 04:18] shaynewang commented on #1924
@Tarrasch is just an output not by luigi

[2016-11-23 02:43] Tarrasch commented on #380
Closing because this is outdated (surely).

[2016-11-23 02:43] #380 closed

[2016-11-23 02:43] Tarrasch commented on #226
Closing because this is outdated (surely).

[2016-11-23 02:43] #226 closed

[2016-11-23 02:46] Tarrasch commented on #443
Actually this is a great idea to make luigi more responsive. Although I think the added complexity might not be worth it. The pinging works fine enough I believe.

[2016-11-23 02:47] Tarrasch commented on #449
Closing, I assume this is outdated by now.

[2016-11-23 02:47] #449 closed

[2016-11-24 09:49] labianchin commented on #1810
I noticed this happening when luigi is checking for task complete. The call hierarchy for this warning was:

HdfsTarget() -> luigi.contrib.hdfs.clients.get_autoconfig_client() -> luigi.contrib.hdfs.config.get_configured_hdfs_client() -> luigi.contrib.hdfs.config.hdfs()

I guess the problem is here https://github.com/spotify/luigi/blob/master/luigi/contrib/hdfs/config.py#L40. The call `os.getenv('H

[2016-11-24 09:55] Tarrasch commented on #1810
@labianchin, in case you just want a change compatible with everything like it is now, just change it to the uncontroversial `os.getenv('HADOOP_USER_NAME', '')`. Please consider sending a PR. :)

[2016-11-24 15:57] labianchin commented on #1810
Sure, I can create a PR. But it does not seem that `os.getenv('HADOOP_USER_NAME', '')` is appropriate. Before that value was `None` https://github.com/spotify/luigi/commit/d373bd07df6fac914ce1f97ca49f3a6621c1422b. I wonder if  it should be more appropriate to have a better handling for `None` in `parameter.py` `serialize()` method.

[2016-11-24 16:20] bwtakacy opened #1932 "The retcode configuration does not consider task retry"
Hi.

 I use the retcode configurations as below in luigi.cfg,
[code]

When an one task was once failed and then succeeded in next retry in scheduling during a whole tasks execution, I expected the return code to be zero but actually was non zero.

For example,  running `examples/foo.py`  with some code change that `Bar(num=7)`  fails at the first time run but succeeds in the second time run,  all

[2016-11-25 14:07] alexshires opened #1933 "Config class and @inherits don't mix"
Hi,

The use of luigi.Config to create a configuration class of parameters and then the use of the `@inherits` decorator to pass the parameters to a task doesn't quite work.

see : http://luigi.readthedocs.io/en/stable/configuration.html#paramconfigingestion
and : http://luigi.readthedocs.io/en/stable/api/luigi.util.html?highlight=inherits

[code]

with the luigi config file
[code]

after setting

[2016-11-25 14:15] alexshires commented on #1933
Is this a clone of #1726?

The comment: https://github.com/spotify/luigi/issues/1726#issuecomment-227934811 suggests that this is a design choice, which sort of defeats the point of top-down inheritance and requires decorators...

[2016-11-25 16:42] alexshires commented on #1933
hacked by doing
[code]

[2016-11-26 15:48] alexshires opened #1934 "Feature request: list of tasks for @requires"
Hi all,

Would it be possible to pass a list of tasks to `@requires` please?

If you know they're going to have individual param signatures but need to share the majority of the parameters, I'd like to be able to do

[code]

what do you think?

A

[2016-11-27 22:55] alexshires opened #1935 "Segfault in luigi"
Hi,

When my program raises an exception, the latest version of luigi crashes with the following output:
[code]

Any thoughts?

Regards,

Alex

[2016-11-28 08:25] benjaminrigaud commented on #1822
I use workers=1 in test to do profiling: It would far more complicated to do it with multiprocessing.

[2016-11-28 09:17] #1831 closed

[2016-11-28 09:51] boombard opened #1936 "Add LSF Support"
Make a production-ready version of https://github.com/dattalab/luigi/blob/lsf/luigi/lsf.py based on the existing SGE implementation. I will make a pull request

[2016-11-28 14:55] ulzha opened #1937 "contrib.gcs does not solve atomic handling of "directories""
In big data processing, one sees frequent use of datasets consisting of multiple files. (E.g. Hadoop or Google Cloud Dataflow would represent them so.)

In `contrib.gcs` there is `GCSFlagTarget` defining a "directory" complete when a flag file ("_SUCCESS") is present. Yet creation of such a "directory" on GCS is not atomic (even a move is not atomic; it consists of moving content objects one by on

[2016-11-28 17:52] arita37 opened #1938 "Luigi coupled with IPyParalell"
Just wondering if there is a possibility to use Luigi as a backend to launch paralell tasks
on Clusters with IPyparalell.

Luigi is used a repository of tasks (ici script) and those scripts are launched through IPyparalell.

[2016-11-28 21:05] rhaarm opened #1939 "sqla how to set schema of table"
How to define the schema of {schema}.{table} in luigi.contrib.sqla.CopyToTable? Do I need to update the class to allow custom metadata class or \_\_table_args\_\_?

[2016-11-29 00:21] rhaarm commented on #1939
I've made changes to add ```self.metadata = sa.MetaData()```, but this will need some testing, any other thoughts on this would be appreciated.

[2016-11-29 02:28] Tarrasch commented on #1937
Not sure it's useful in the pretty complicated gcs case. But perhaps you somehow can use [`temporary_path`](http://luigi.readthedocs.io/en/latest/api/luigi.target.html#luigi.target.FileSystemTarget.temporary_path).

Another thought, is it really impossible to still only provide a `GCSTarget`, just override `exists()` to not be as trivial as checking only for folder existence, but also something li

[2016-11-29 02:31] Tarrasch commented on #1935
Really looks like an issue like `"plain" != u"plain"`. Something about encodings or utf8 or bytestrings or the like. Feel free to dig this down and send a fix. :)

[2016-11-29 02:34] Tarrasch commented on #1934
I think @drj42 is the expert on `@requires` annotation. At first glance this makes sense to me.

[2016-11-29 02:51] Tarrasch commented on #1810
@labianchin, actually I think `None` is something we don't want to allow in luigi (why not use `''`?), as we potentially want to rename it to `StringParameter`. I'm pretty sure `os.getenv('HADOOP_USER_NAME', '')` is safe. If there happens to be any `if blah is None` patterns anywhere, tests would catch them.

[2016-11-29 02:53] Tarrasch commented on #1932
Definitely a bug I would say. Failures are normal and if we even know it got resolved we should not alarm anyone. Do you want to take a stab fixing this? :)

[2016-11-29 03:04] Tarrasch commented on #1933
I'm not sure where or if it's documented, but you shouldn't access parameters before luigi has initialized. Like only use it from `complete()` and `run()` methods.

[2016-11-29 08:40] ulzha commented on #1937
The plain temporary path or _SUCCESS approach doesn't fix it because move of that path into the final path is not atomic like on HDFS.

Yet, by implementing an advisory locking mechanism using something like the [ifGenerationMatch preconditions](https://cloud.google.com/storage/docs/generations-preconditions) (atomicity primitives), it should be possible.

[2016-11-29 10:27] alexshires commented on #1933
I'm just trying to demonstrate that the config file configures the `testclass` config class but this configuration is not passed to the `TestTask`...?

[2016-11-29 13:52] bwtakacy commented on #1932
Thanks for your comments!
I will try to create PR.

[2016-11-29 21:30] jnthm opened #1940 "Worker and Scheduler notifications"
Hi,
We have been using luigi at Ooyala at a large scale to run thousands of jobs daily.
We would not like to alert via email for every worker task failure -- only if there are certain number of failures.

After every failure, worker sends an email based on the email configuration settings provided in the luigi.cfg.
However, scheduler sends an email ONLY after maxing out all the failure attempts.

[2016-11-30 03:33] Tarrasch commented on #1940
A recent PR greatly improved email capability of luigi. What do you think of #1916?

[2016-11-30 16:34] graingert opened #1941 "unix sockets probably broken for requests 2.12.2"
http+unix URIs will no longer have URL preparation applied, including converting the params dict into query parameters

see https://github.com/kennethreitz/requests/issues/3734

[2016-11-30 16:39] erikbern commented on #1941
can you explain what the problem is? what is the fix?

[2016-11-30 17:14] stickystyle commented on #1939
Are you asking about the table and column definitions?

Here's an example of a table definition using sqla.CopyToTable from my own usage.
[code]

If you actually want work right with the MetaData you can bind it like this...
(snip from on of my classes that override `run()` in CopyToTable
[code]

[2016-11-30 23:34] sklarsa opened #1942 "TODO: Display where parameters with non-string values are implemented in the warning in parameters.py"
@sklarsa, it would be so good if all parameters who "complain" also printed out where they were implemented. It seems be reasonably easy to implement. http://stackoverflow.com/a/22148022/621449, do you want to make a PR or at least create an issue mentioning this as a TODO?

Per #1923

[2016-11-30 23:36] sklarsa commented on #1942
I'll work on this, but I'd like to have a cleaner solution than having the Parameter class inherit from the "RegisteredObject" mixin as seen in the above stack overflow answer

[2016-12-01 16:07] rhaarm commented on #1939
When I refer to schema I'm referring to a database schema {database}.{schema}.{table}, not the table definition.

Like when using MetaData(schema='schema_name'), which is why I opted to change the class to allow for custom MetaData class versus redefining the run() for every CopyToTable Task.

[2016-12-01 17:30] rhaarm opened #1943 "sqla CopyToTable performance suggestion"
This may be just a performance issue with Amazon Redshift, but it's something I have run into before while "bulk" inserting data mapped with SqlAlchemy. Also, yes I'm aware of redshift.S3CopyToTable for redshift, it was easier to setup with sqla than build out a pipeline of move files to S3.

This call of ```conn.execute``` inserts a single row at a time which is very slow for inserting a lot of d

[2016-12-02 15:42] DariuszOstolski commented on #1423
I've hit the same issue, are there any new updates on 2.3 fixes or workarounds? Or where can I start looking to be able to fix it?

[2016-12-02 16:19] DanCardin opened #1945 "Ability to pre-instantiate TaskParameters?"
Essentially what I'm trying to do is write tasks which can be generic to the tasks before them, so that I can write a `LoadToS3` task, for example which doesn't care what target its loading into S3, instead of needing a `LoadToS3ForXRequiredTask` subclass. So I was hoping to be able to be able to write:

[code]

But it doesnt look like `TaskParameter` works like that. It just want's a Task class.

[2016-12-02 20:34] jasonamyers opened #1947 "task_id_str can throw an exception if upstream=None for a task"
*luigi version*: 2.3.3
*Issue*: If I create a task with no upstream the `task_id_str` method in task.py will throw an exception on [lines 84 and 85](https://github.com/spotify/luigi/blob/master/luigi/task.py#L84).

[code]

(Pdb) p p
None

(Pdb) u

-> for p in (params[p] for p in sorted(params)[:TASK_ID_INCLUDE_PARAMS]))
(Pdb) params
{'history': 'e56783578', 'config': '281550889', 'upstream': None}

[2016-12-02 21:38] jkeung opened #1948 "retry_count configuration documentation is incorrect"
In https://github.com/spotify/luigi/blob/master/luigi/scheduler.py line 137-138, retry count is defined as
[code]

Setting `retry_count` in luigi.cfg does not work, the parameter that must be set is `disable_failures` in order for this feature to work. http://luigi.readthedocs.io/en/stable/configuration.html

[2016-12-03 23:38] riga opened #1950 "task_namespace lost during inheritance"
Hey guys!

When inheriting from a task class that has a `task_namespace`, imho it would be pythonic that the inheriting class has the same `task_namespace` (if not set otherwise). However, this does not seem to be the case. Is this behavior intended by design?

### Possible solution

Due to the way the task register meta class implements the `_default_namespace` fallback, the proper namespace is o

[2016-12-05 04:12] Tarrasch commented on #1945
Can you add a code-example better highlighting how the TaskParameter is used? If your first code-block the definition of a `requires()`??

[2016-12-05 04:13] Tarrasch commented on #1423
There's seem to be a lot of people having this issue. Is anybody willing to step up to fix this for all the Windows users out there? :)

[2016-12-05 04:17] Tarrasch commented on #1947
I don't understand this. What's an *upstream*?

[2016-12-05 04:28] Tarrasch commented on #1950
I'm all for this change. Pretty sure this is an old old mistake lingering around. Hopefully not too many rely on this unpythonic behavior.

[2016-12-05 07:51] DariuszOstolski commented on #1423
Well, I was able to fix issues with closures serialization, but now I have problem with _thread.lock:
[code]

[2016-12-05 13:18] DanCardin commented on #1945
I dont actually have anything that works in either case. For the first example I updated the original comment to be more of a full example. Upon seeing that not work (because `TaskParameter` seems to want's the task class instead of an instance), my next attempt was basically

[code]

Which is basically the same thing, just deferring the actual instantiation until inside the `requires` method. And

[2016-12-06 19:59] bjlange opened #1956 "Sendgrid email notifications broken by new Sendgrid API"
The v3+ version of the `sendgrid-python` package gets rid of SendGridClient in favor of SendGridAPIClient and changes a number of things, so `send_email_sendgrid` (https://github.com/spotify/luigi/blob/master/luigi/notifications.py#L236) now throws an error:
[code]
It looks like the username/password auth has been gotten rid of in favor of an API key, so changes would have to be made to the config

[2016-12-06 23:39] daveFNbuck opened #1957 "Batch notifier can stall the scheduler"
So shortly after getting the new batch notifier merged, my connection to my smtp server died. I had timeout set to 30 seconds and 25 batch e-mails getting sent every hour, leading to the scheduler being stuck timing out e-mail sends for 12.5 minutes each hour.

I tried a patch that would fork and do the sending in the child process to avoid this failure mode, but tornado flipped out when that happ

[2016-12-07 00:53] chisaipete opened #1958 "Checking if task is complete takes a very long time"
I'm sure it has something to do with my usage, but dependency checking while kicking off my luigi job is taking forever (minutes, up to an hour even!).

Basic task dependency tree looks like this:

    [ Wrapper Task ]
    |
    `--[ Task A ] (can have multiple instances of this)
        |
        `--[ Task 1 ]
            |
            `--[ Task i ]
                |
                `--[ Task a ]

[2016-12-07 00:55] erikbern commented on #1958
If you use dynamic dependencies then it could be pretty slow because it will re-run the task many times. Is that the case?

[2016-12-07 00:58] chisaipete commented on #1958
What do you mean by dynamic dependencies?  The number of tasks created by "Task a" is a known size, but it will always be very large and that list may change from run to run.

[2016-12-07 00:59] chisaipete commented on #1958
@erikbern it's not re-running a task multiple times that I can see, at least in the visualizer the count comes out to what I would expect.

[2016-12-07 01:08] chisaipete commented on #1958
I just realized support topics are really supposed to be posted in the Google Group.  I can close this if it's not appropriate here.  xposted to google group.

[2016-12-07 03:27] Tarrasch commented on #1958
I close here, lets continue in google groups. :)

[2016-12-07 03:27] #1958 closed

[2016-12-07 03:31] Tarrasch commented on #1957
Oh boy. This is a very serious issue. But I suppose most people will not expect the new feature to be bug-free from day one.

----

As for solution. Using multithreading or multiprocessing seems like a intuitive solution to me. Ideally, the scheduler page would also show some warning if the email server is dead. I for so long have wanted dreamed about a luigid health page ...

[2016-12-07 07:15] davemt commented on #1423
I have a change that may resolve this. Unfortunately I am not set up on any Windows systems so can't test that part -- could someone try it for me and then I'll make a PR?

Here's the branch:

https://github.com/davemt/luigi/commit/695b08eb3ff4577f03e91942297d0a8073ec7de4
https://github.com/davemt/luigi/tree/fix-windows-taskprocess-pickle

[2016-12-12 16:16] kgbaird commented on #886
👍 for this feature request. Our team currently has a fairly long running pipeline. We would like to be able to get notification when the pipeline has completed. We are currently proceeding with our own internal solution. It would be nice if this feature were available.

[2016-12-13 19:56] dletendre opened #1961 "Running a group of ExternalProgramTasks"
I'm trying to run a group of external tasks as part of the workflow (they are actually incremental sqoop jobs, but using ps as a example), and I keep getting error "RuntimeError: Unfulfilled dependencies at run time".

[code]

I run it with the command:
PYTHONPATH='' luigi --module RunGroup RunGroup --worker-keep-alive

It runs each ps command twice even though they complete successfully, then fai

[2016-12-13 22:25] erikbern commented on #1961
it's because you're using `yield` to generate dynamic requirements. that will cause the requires() function to run multiple times. in this case there's nothing dynamic about them, so just rewrite it to be

[code]

[2016-12-13 22:25] #1961 closed

[2016-12-14 02:13] Tarrasch commented on #1961
@erikbern, I think you confused `yield`-in-requires vs `yield`-in-run. See http://luigi.readthedocs.io/en/stable/tasks.html#dynamic-dependencies

@dletendre, your actual problem (I think) is that your `complete()` functions for PS1 and PS2 are incorrect stubs. They always are `False` so of course luigi will say that dependencies don't exist yet.

Unrelated sidenote: Remove the `if __name__ == '__m

[2016-12-14 02:41] dletendre commented on #1961
Thank you both! If I am running a large tree of dependent ExternalProgramTasks and WrapperTasks, is this the best way to set it up? I have a bunch of sqoop jobs that have to run and finish, then some hive jobs, then some spark-submit and sparkR jobs to run dependent after them. All of them are incremental jobs, so I run the whole tree every 5 or 10 minutes. Should I always use complete() return Fa

[2016-12-14 02:52] Tarrasch commented on #1961
Some of the technologies you use already have existing tasks. No need to use the rather low level `ExternalProgramTask`. As for setting up `complete()`, you usually don't set it (you rely on `output()`). Play around with the more basic examples first and read through some docs so you understand the output-complete relation. Then you're good to go. Good luck.

[2016-12-16 17:33] andmib opened #1964 "Uncaught exception when task is finished."
When I run any task in my file, I get the following error when the task completes succesfully:

[code]

Any suggestions as to what this might be?

[2016-12-19 03:10] Tarrasch commented on #1950
I reopen this issue. Because I've found the recent PR to be insufficient. The good news is that I already know a sort of a solution and I'm willing to work on it myself. Read on for details:

## Current problem since #1953

First, the implemented solution is okay, but at least my code started to break immediately. I Had this pattern.

[code]

Before #1953, I would have `file_b.SpecificTask` which

[2016-12-19 13:49] themalkolm commented on #1964
Something is a list but it shouldn't be.

[2016-12-19 16:06] kgbaird commented on #886
I just completed work to implement a solution for this internally at my company that I thought I would share. Our approach was to utilize the `on_success` trigger of Task with a method whose side effect was sending an e-mail. We too have several different pipelines running around, so we made a central function that could be applied to each task we wanted success e-mail sent when completed (typical

[2016-12-20 03:24] Tarrasch commented on #1950
Please see #1965 @riga, it supports both the case you originally wanted fixed and the case I described above. Please review it. :)

[2016-12-20 23:02] kierkegaard13 opened #1966 "TimeDeltaParameter can't be passed to dynamic dependencies"
I have a task with a TimeDeltaParameter, let's call it TaskA. I can run TaskA from the command line like so
[code]
TaskA has a dynamic dependency, TaskB, which I yield from the run function like so
[code]
This results in the error
[code]
It seems like passing TimeDeltaParameters to dynamic dependencies results in this issue, because they are passed as strings and then can't be parsed. Even more in

[2016-12-20 23:34] rhaarm commented on #1344
Are there any updates on moving to boto3 or should I start work on this? I'm getting 405 errors from Amazon when attempting to check if file exists. This wasn't occurring a few weeks ago.

[code]

[2016-12-21 01:17] erikbern commented on #1344
feel free to work on it!

[2016-12-21 02:18] Tarrasch commented on #1966
I think TimeDeltaParameters were created a long time ago, probably before good coding practices were applied. I think this can be fixed by fixing the `serialize`/`parse` pair. Please take a look @kierkegaard13! :)

[2016-12-21 10:39] buyology commented on #1344
@burdiyan — did you ever solve this for Frankfurt? Tried hacking it according to the suggestion on boto/boto#2741, got basic authentication working but got a `403 Forbidden` on multipart uploads

@rhaarm — would be amazing

[2016-12-21 10:42] buyology commented on #1939
Much needed indeed!

[2016-12-21 11:55] burdiyan commented on #1344
@buyology I made a wrapper for s3 target. Consider a customer module `s3.py` with the following:

[code]

So in your tasks instead of using luigi's s3 module and it's target, I use my custom s3 module and it's `target` function.

That did a trick for me.

[2016-12-21 17:09] Pcosmin opened #1969 "listdir command crash"
I want to list all files from an hdfs directory, but i have an error:

`File "/Library/Python/2.7/site-packages/luigi/contrib/hdfs/hadoopcli_clients.py", line 197, in listdir
    size = int(data[-4])
ValueError: invalid literal for int() with base 10: 'Co.'`

and this problem appear because filenames contains spaces :
`-rw-r--r--   1 username supergroup     417475 2016-11-25 15:10 /path/to/directo

[2016-12-21 21:43] erikbern commented on #1969
i'm guessing you have to add an argument to str.split somewhere to only split 7 times

[2017-01-05 03:03] #1932 closed

[2017-01-09 17:57] rhaarm opened #1983 "Binary or Gzip Write S3Target"
Does anyone have an examples of writing Binary target for S3Target? I've tried multiple things to get this to work the way I want it too, but it doesn't seem to support binary open no matter. I've implemented the way of writing the Gzip file as a separate task, but I want that file to be temporary, so using requires has an affect before pushing to S3 can cause dependency error down the road. The t

[2017-01-10 04:56] Tarrasch commented on #1950
Closing again. This got fixed in #1965 again.

[2017-01-10 04:56] #1950 closed

[2017-01-11 13:08] sd2k opened #1984 "Allow schema to be specified for target table in sqla.CopyToTable"
This could be supported by passing overriding the `schema` attribute of the task, and passing this to the `sqlalchemy.MetaData` constructor in `sqla.CopyToTable.create_table`.

A consideration: should we also allow a schema to be specified for the marker table? My current use case requires them to be different.

If this sounds OK I'll write it up later and create a PR for review.

[2017-01-12 09:09] cynipe opened #1985 "can't subtract offset-naive and offset-aware datetimes"
We are generating Dependent tasks dynamically based on datetime instance.
However, after upgrading 2.5.0, following error has appeared and it can not be executed:

[code]

Reproducible code is as follows:
[code]

Actually, it seems like https://github.com/spotify/luigi/commit/f9562627a8142560b170c6f9d01f8237cac8fa63 causes this error.

[2017-01-12 13:26] erikbern commented on #1985
Nice catch. Would love it if you can put together a fix for it, ideally with a unit test!

[2017-01-12 18:30] ifiddes commented on #595
The solution by @kwilcox works, but I am wondering how I could take it a bit further. I want to incorporate that method in to a abstract base task, but then run into the problem that if I set `--force` and run a task it will obviously execute the `remove()` method for every task upstream.

How can I check to see that I am actually in the `__init__` of the top level task call, and not one of its de

[2017-01-13 02:10] cynipe commented on #1985
@erikbern

changing _UNIX_EPOCH[[1]] to following code does work.
[code]

However, in that way, users need to define all of the datatime instance as offset-aware, so it is not good enough. Possible solution is...

- fallback to UTC(or local timezone) if the datetime instance is offset-naive
- provide new config for timezone, default UTC
- or else...

what do you think? any ideas?

[1]: https://git

[2017-01-13 02:24] Tarrasch commented on #1985
@cynipe, thanks for this issue! What version did you upgrade from? :)

I'm not sure if it's a good thing or bad thing that it started to crash. I think we shouldn't add any "fix" to luigi here. I rather have users stumble upon this problem and be forced to think how they want an offset-aware datetime to be converted to an offset-naive datetime. Having a "default" behavior in luigi sounds dangerous

[2017-01-13 02:52] cynipe commented on #1985
@Tarrasch we use 2.0.1, so it's bit old one. Actually https://github.com/spotify/luigi/commit/f9562627a8142560b170c6f9d01f8237cac8fa63 is released in 2.1.0, so to me, it is wonder that no issues filed. no one faced this issue before? no offense, just wondering :)

Is your "any" includes fixing `_UNIX_EPOCH` to offset-aware instance?
IMHO, It seems more uncomfortable to "remove" the offset informat

[2017-01-13 03:32] Tarrasch commented on #1985
My reasoning is something along the lines that it's not clear what the hour of `2017-01-01T10:00+09:00` is, nor if it's equal to `2017-01-01T11:00+08:00` or not. Hence in scheduling applications I think I would most often want a time-value without timezone awareness. Most users probably do something like described in the docs [here](http://luigi.readthedocs.io/en/stable/api/luigi.parameter.html#lu

[2017-01-16 16:15] sbliven commented on #1726
This is also true with normal pythonic inheritence

[2017-01-17 09:12] hnykda commented on #1008
any progress on this?

[2017-01-17 09:54] Tarrasch commented on #1512
Thanks for the triaging work @knassiri. I'm closing this as it's a (much better worded) duplicate of #1008.

[2017-01-17 09:54] #1512 closed

[2017-01-17 10:13] Tarrasch commented on #1008
@hnykda, there's no automatic propagation of logs, but you can now report a status summary from your worker to luigid and it will be displayed on the scheduler website.

[2017-01-17 13:50] bsao opened #1988 "PySparkTask crashs to start"
Python version: 3.5.2
Luigi: 2.4.0 and 2.5.0

I try to setup a single sample and got this error. This happens just with PySparkTask with the main method. Any ideas?

`import luigi
from luigi.contrib.spark import PySparkTask

class SinglePySparkTask(PySparkTask):
    task_namespace = 'spark'

    def main(self, sc, *args):
        """

        :type sc: pyspark.context.SparkContext
        """

[2017-01-17 15:44] hnykda opened #1989 "DictParameter cannot be loaded from a configfile"
Since configparser doesn't support having dictionary as a parameter, a [DictParameter](http://luigi.readthedocs.io/en/stable/api/luigi.parameter.html#luigi.parameter.DictParameter) cannot be set in a file like e.g. something like this:
[code]

is there some workaround?

[2017-01-17 17:11] sbliven commented on #1726
+1 for making parameters inherit from their parent config sections.

[2017-01-18 02:24] Tarrasch commented on #1726
@sbliven, I've always wanted an extra kwarg to `Parameter` which you can set like `Parameter(..., inherits=True, ...)`. Would you mind drafting a PR?

[2017-01-18 02:28] Tarrasch commented on #1989
It works in the same way all other parameters I think (it uses the `parse()` method). Have you looked if there's any test cases similar to this?

[2017-01-18 15:41] tgalery opened #1991 "Error when prunning workers from old scheduler states"
Hi there, we have been using luigi at work where we developed an extension for managing some data pipelines. This extension used luigi 1.3 and I've been working on a upgrade to 2.5. I think I found a bug when the scheduler loads tasks from previous pickled states. When I submit tasks via `luigi.interface.build`, I get the following error on the `luigid` side:

[code]

This then triggers a worker p

[2017-01-19 02:19] Tarrasch commented on #1991
It's not a bug. We usually put in backward compatibilities but we don't maintain them for ever and ever.

---

That said, I've for long wanted to just remove the state-file as I find it to cause 95% harm 5% good. What do you think @tgalery, when you did the migration, was it important that state was preserved? In all (2) setups I've worked with, the clients will always rebuild the dependency graph

[2017-01-19 03:06] davemt commented on #1423
I borrowed a Windows machine to run tests and made a PR :smile

[2017-01-19 09:41] tgalery commented on #1991
For us, it's not important at all, since we run tasks by deploying a luigi server for a specific purpose and then tearing it down. Should I close the issue, or leave it open so people can manifest their opinion on the matter ?

[2017-01-19 09:47] Tarrasch commented on #1991
I think I close it. I've however thought of raising to the mailing group but I got lazy and didnt. :)

[2017-01-19 09:47] #1991 closed

[2017-01-22 08:28] #1373 closed

[2017-01-23 09:50] hnykda commented on #1989
I am sorry, my bad - I must *not* to be multiline.

[2017-01-23 09:50] #1989 closed

[2017-01-23 10:03] hnykda opened #1996 "Structuring the project - problem with changing PYTHONPATH to find tasks"
Hi,

I would like to use `luigi` for my project, but I can't manage to structure in a different way then having all tasks and other libraries I want to import in them in a root directory.

What I would ideally have is something like:
[code]

but with this layout, there seems not to be a way how to run it.

This will fail when trying to import something from `lib` inside a task or even importing `b

[2017-01-23 10:08] Tarrasch commented on #1996
I really would like to have a convention. Perhaps exactly the one you suggest! However, right now there's no recommended best practice for your luigi code that I know of.

----

By the way, did you consider running something like:

    LUIGI_CONFIG_PATH=projectA.cfg PYTHONPATH='.' luigi --module tasks.taskA someTask  --local-scheduler

It could get you closer to something that works with at least

[2017-01-23 10:11] hnykda commented on #1996
Oh my god! That is exactly I needed. Why this hadn't occurred me before... Thanks a lot, I think this is sufficient solution.

And personally, I wouldn't be against having a new (optional) env variable such as `LUIGI_TASKS_DIR` or something like that which would be automatically appended to `sys.path` when luigi starts. Having an option to specify this in `luigi.cfg` would be nice as well.

[2017-01-23 10:26] #1996 closed

[2017-01-24 01:59] Tarrasch commented on #1996
I have a different and more bold vision, basically I want to make:

    PYTHONPATH='.' luigi --module tasks.taskA someTask  --local-scheduler

into

    PYTHONPATH='.' luigi tasks.taskA.someTask  --local-scheduler

In other words, I want to implement so that luigi autoloads that task by first trying to import the `tasks.taskA` module, and by convention luigi users will have the same "task namespac

[2017-01-25 15:10] sbliven commented on #1519
Can we get a temporary directory version of this? I have an external job that creates a directory structure, and I want to ensure atomicity.

[2017-01-26 03:42] sanxiyn opened #2001 "luigi.s3.S3Client.listdir docstring talks of copying"
listdir doesn't copy files, so docstring is wrong.

[code]

[2017-01-26 12:43] dlstadther commented on #2001
I believe that is my fault. I added that functionality to s3copy and must have forgotten to update the docstrings after copy/pasting them.

I'll take a pass through s3 docstrings and update them either today or tomorrow. Thanks

[2017-01-26 19:34] slarrain opened #2005 "RangeDaily with luigi.WrapperTask"
Hi,

First of all, I wanted to thank everyone involved on luigi. Is an awesome library.

At the moment, I have a Wrapper Task that looks like this:
[code]

And it works fine with:
`luigi.run(['runAll', '--date', '2017-01-02', '--local-scheduler'])`
Or whatever date I specified.

However, if I try to add a `RangeDaily`, it fails:

[code]

This probably has something to do with this:

(http://luigi.

[2017-01-31 01:42] steveb-cirina opened #2008 "Luigi Visulizer Stuck"
Hi

I am having an issue with the Luigi Visulizer web page getting stuck as shown in the image below:

![luigi_visualizer_webpage_stuck](https://cloud.githubusercontent.com/assets/22382505/22449091/de56ef80-e712-11e6-8edd-d93014af5915.png)

I am running on Mac OS X 10.11.6 (El Cap.) using Python 2.7.12 and Luigi 2.3.0.

I stopped "luigid" and restarted it but that does not fix the issue.  I have r

[2017-01-31 16:33] sbliven commented on #1529
There's a thread about this at https://github.com/travis-ci/travis-ci/issues/5369

Their consensus seemed to be to switch to PyMySQL. It has a compatible API, so luigi can support both PyMySQL and mysql-connector-python with a simple ImportError check.

[2017-02-01 06:28] Jnesselr commented on #1763
Hey, I was just reading through this issue list, and it seems like this one could be closed as the issue/support request seems to have been resolved.

[2017-02-01 11:59] #1763 closed

[2017-02-02 02:27] Tarrasch commented on #2008
Actually. I have this issue for some reason too. It happens for me when the scheduler isn't running at all, because I think the browser remembers "luigi webui" in the cache or something. It's not re-downloading the frontend stuff on a page refresh. But whenever I restart the scheduler data starts to get populated again.

[2017-02-02 02:38] Tarrasch commented on #2005
Good questions. I think you could either use the `RangeDailyBase` or let your task inherit from [this mixin](http://luigi.readthedocs.io/en/stable/api/luigi.task.html#luigi.task.MixinNaiveBulkComplete). I see this is not really clear from the docs, perhaps you want to contribute back with some docs? :)

[2017-02-02 02:40] Tarrasch commented on #2001
Closing this as #2003 fixed this.

[2017-02-02 02:40] #2001 closed

[2017-02-02 03:07] Tarrasch commented on #1519
@sbliven have you tried the `temporary_path` decorator introduced since #1909, it works on directories too. In fact that's the "typical" case (like running a spark or MR job).

[2017-02-02 06:03] steveb-cirina commented on #2008
Unfortunately restarting the scheduler didn't work for me (for Chrome).  I restarted my laptop (where the scheduler was running) and that didn't fix it either.  However, I just launched "luigid" and tried it in Safari and it is NOT having the same problem.  I think you might be right about the browser caching.

[2017-02-02 06:08] steveb-cirina commented on #2008
I just "fixed" the issue in Chrom.  Instead of reloading with "Command-R" I did "Command-shift-R". That should NOT have fixed it as Command-shift-R is the short cut for "Show Reader", so I am not sure why this is working now.

Thanks for your comments.

[2017-02-02 06:18] steveb-cirina commented on #2008
Is this something that can be handled ("fixed"?) in the web interface ?

[2017-02-02 07:17] Tarrasch commented on #2008
@steveb-cirina, probably there's some setting somewhere telling the browser how long to cache stuff. But actually I have no idea, I know very little about web development. If you look into this and find a fix, please send a PR. :)

[2017-02-02 17:14] steveb-cirina commented on #2008
Thanks for the info about Firefox producing this issue consistently.  I am new to luigi so I don't know how often this issue occurs or what will cause it to occur.  I will see if I can find a potential fix when it occurs again.

[2017-02-03 09:56] sbliven opened #2010 "Python 2.6 compatibility"
I'm forced to use python 2.6 on one of our servers. With some minor syntax adjustments I've been running luigi 2.5.0 without problems on this server. I have a python26 branch on my fork: https://github.com/sbliven/luigi/tree/python26

Would there be any interest in broadening backwards luigi compatibility to these older systems?

[2017-02-03 14:51] PeteW commented on #1964
Seems like a luigi parameter in one of your tasks is of type list. Luigi is attempting to write a summary of the task and stumbling whilst trying to hash this parameter. You MIGHT be able to work around this issue and keep your list parameter by declaring the parameter as insignificant with [significant=False]. Making a parameter insignificant ignores it when testing task equality and excludes it

[2017-02-03 16:04] erikbern commented on #2010
luigi doesn't support python 2.6 any more unfortunately

[2017-02-04 02:51] Tarrasch commented on #2010
Yea, support was actually actively removed at some point in time (over a year ago I think). I'm closing this, but this issue will still show up in search results for people looking for it.

[2017-02-04 02:51] #2010 closed

[2017-02-05 12:56] mtoriumi opened #2014 "run method is start over again."
python:3.6
luigi:2.5.0

run method is start over from the beginning when returning a generator object.
because Losing the generator object of the first task.

Is this the intended behavior?

[2017-02-05 17:50] erikbern commented on #2014
if you use dynamic requirements, yes

[2017-02-05 17:50] #2014 closed

[2017-02-05 22:23] mtoriumi commented on #2014
Thank you for your reply.

[2017-02-06 04:20] erikbern commented on #2014
we should probably make this a bit more clear in the documentation.

there's also some possible heuristic optimizations we could make to "resume" the run method and avoid this in most cases

[2017-02-06 05:13] yunzhou commented on #1921
I think the sqlAlchemy did not transfer that correct. Same in oracle. but correct in sqlite server.

    def find_latest_runs(self, session=None):
        """
        Return tasks that have been updated in the past 24 hours.
        """
        with self._session(session) as session:
            yesterday = datetime.datetime.now() - datetime.timedelta(days=1)
            return session.query(TaskR

[2017-02-06 14:12] dlstadther opened #2017 "Issue when upgrading luigi version"
When upgrading to a version of luigi at or after [6e549ef](https://github.com/spotify/luigi/commit/6e549efddf91cbd897e8ae6feed54a81b27159c9), I receive the following when `python setup.py install` within an existing venv.

[code]

This commit added a file `luigi/static/visualiser/lib/URI.js/1.18.2/URI.js` . I'm suspicious there's a problem here.

[2017-02-07 17:55] sbliven commented on #2010
That's what I thought. I mostly just wanted to document that I'm working on support for those who absolutely need it.

[2017-02-09 00:45] steveb-cirina opened #2019 "Visualizer Task History Web Page Clipped on Left for Info"
Hi

I am having an issue with the `/history` part of the Luigi Visualizer GUI; more specifically, when viewing the task id.  The **Info** part is clipped on the left as in the picture below when going to the following local URL:

`hxxp://localhost:8082/history/by_id/1`  (here just for illustration of relative path)

You can see that the **Info** part is clipped and the rest just has little or no m

[2017-02-09 00:58] steveb-cirina commented on #51
Is there a way to see a dependency graph based on the history ?  If not, is there a way to preserve the graph for a longer period of time (e.g. a week) ?

Thanks!

[2017-02-09 02:32] Tarrasch commented on #2017
Oh, that's bad. Can @nmb10 take a look? I guess we should make so travis tests that the `python setup.py install` command always succeeds.

[2017-02-09 05:03] nmb10 commented on #2017
Hi, @Tarrasch . Will check that today.

[2017-02-09 06:32] nmb10 commented on #2017
Can't reproduce. @dlstadther  what is your environment? (OS, python).

My try with latest luigi (commit = d21906,  'Fix required credential...'), fresh virtual env, debian 8, python 2.7.9
[code]

[2017-02-09 13:10] dlstadther commented on #2017
[code]
[code]

[2017-02-09 13:11] dlstadther commented on #2017
Long story short, it must be something messed up with my virtualenv.

I can only recreate this issue in that specific venv. If i create relative copies and install luigi 2.3.3 and then bleeding-edge, it's fine.

So i just need to recreate a fresh venv for myself.

[2017-02-09 13:11] #2017 closed

[2017-02-09 19:06] steveb-cirina commented on #51
Another question, is there a way to turn off trimming completely in the config file ?  I haven't seen anything on this but I might have missed something.

[2017-02-09 19:45] steveb-cirina opened #2022 "Luigi Visulizer Pruning : Turning off"
Hi

I am interested in being able to turn off pruning or change the timing to be settable in the config file.  I noticed the following code in `server.py`

    ...
    # prune work DAG every 60 seconds
    pruner = tornado.ioloop.PeriodicCallback(scheduler.prune, 60000)
    pruner.start()
    ....

I think this is where this is getting set and I am looking to see if this is the only place.

I woul

[2017-02-09 19:47] steveb-cirina commented on #2022
I also see the `scheduler.py` does some pruning.

[2017-02-10 03:57] Tarrasch commented on #2022
Why do you want to do this? Luigi prunes the graph on every page load even if I'm not mistaken even.

-----

If you want to make tasks live longer, then that is already configurable. :)

[2017-02-10 16:10] riga opened #2024 "[visualizer] Wrong links to task graph in worker tab."
In the workers tab, when clicking on the "Root task" link of a worker, or in the "View graph" action in the task list of that worker, I'm getting redirected to the "tasks" tab again.

This bug was probably introduced by #2002.

It seems like the links in the "workers" tab have the old URL format (`.../static/visualiser/index.html#myTaskId_a785cb2ad6`), while the links in the "tasks" tab have the n

[2017-02-10 22:35] louissalin commented on #2017
We hit this same issue today just doing a `pip install luigi`. We work on macs using a virtual environment created with pyvenv and using python 3.5

[2017-02-10 22:37] louissalin commented on #2017
output:

[code]

[2017-02-11 03:24] steveb-cirina commented on #2022
I would like to have the dependency graph around longer.  How do I do this ?  Is this what you are referring to being configurable ?

[2017-02-11 05:26] nmb10 commented on #2017
Hi, @louissalin . Maybe it's cache issue?
[code]

[2017-02-12 16:04] drmikecrowe commented on #595
Simplistic, but I needed a task that would always run.  I created a class called RecurringTask, and manually called `self.finish()` (at the end of the run() or rows() method) to flag as complete:

    class RecurringTask(DefaultTask):
        _complete = False

        def complete(self):
            return self._complete

        def finished(self):
            self._complete = True

Any downside

[2017-02-12 16:42] louissalin commented on #2017
I'll have to check. I just reran the command to show the output, so it makes sense that it used the cache on the 2nd run.

This issue happened 16 hours after luigi 2.6.0 was released while we were building our docker containers (python 3.5 on Centos7). It's highly unlikely we already had downloaded luigi 2.6.0. After noticing our containers weren't building, we tried it on our macs and got the sam

[2017-02-13 04:32] tresellefreshers2016 opened #2027 "Failed to build luigi"
I am  getting the same error while pip install luigi
Can you please help me?

----------
 copying luigi\static\visualiser\js\tipsy.js -> build\lib\luigi\static\visualiser\js
 copying luigi\static\visualiser\js\visualiserApp.js -> build\lib\luigi\static\visualiser\js
 creating build\lib\luigi\static\visualiser\js\test
 copying luigi\static\visualiser\js\test\graph_test.js -> build\lib\luigi\static\

[2017-02-13 04:38] GunasekaranR opened #2028 "Failed building wheel for luigi"
Running setup.py bdist_wheel for luigi ... error
  Complete output from command c:\python27\python.exe -u -c "import setuptools, tokenize;__file__='c:\\users\\treselle\\appdata\\local\\temp\\pip-buil
d-ql05v6\\luigi\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exe
c'))" bdist_wheel -d c:\users\treselle\appdata\lo

[2017-02-13 07:12] GunasekaranR opened #2029 "pip install lugi does not install it properly"
error: can't copy 'luigi\static\visualiser\lib\URI.js': doesn't exist or not a regular file

----------------------------------------
Failed building wheel for luigi
Running setup.py clean for luigi
Failed to build luigi
Installing collected packages: luigi
Running setup.py install for luigi ... error

[2017-02-13 10:10] BioComSoftware commented on #2017
I'm having the same issue (can't copy 'luigi/static/visualiser/lib/URI.js') using:
python 2.7.12
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"
NAME="Ubuntu"
VERSION="16.04.1 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.1 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/

[2017-02-13 10:13] Tarrasch commented on #2029
Closing. Copy of #2028 probably.

[2017-02-13 10:13] #2029 closed

[2017-02-13 10:13] Tarrasch commented on #2028
Please fix formatting of this issue, and then feel free to reopen it.

[2017-02-13 10:13] #2028 closed

[2017-02-13 10:14] Tarrasch commented on #2027
Please fix formatting of this issue, and then feel free to reopen it.

[2017-02-13 10:14] #2027 closed

[2017-02-13 11:24] valeripaw commented on #2017
I'm having the same issue (can't copy 'luigi/static/visualiser/lib/URI.js') using:
LSB Version:    :base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch
Distributor ID: CentOS
Description:    CentOS release 6.7 (Final)
Release:        6.7
Codename:       Final

[2017-02-13 15:22] anjackson commented on #2017
I'm also hitting this issue with 2.6.0. It appears to be related to [this line in the setup.py](https://github.com/spotify/luigi/blob/master/setup.py#L23) that declares all `*.js` paths to be static files for inclusion in the package. Version 2.6.0 includes a directory called `URI.js` and this appears to confuse the copying logic.

[2017-02-13 16:23] louissalin commented on #2017
@anjackson I wonder why all the linked issues are closed.
@Tarrasch, should we open a new issue about this?

[2017-02-13 16:28] dlstadther commented on #2017
@louissalin the linked issues are closed as they're dups of this one.

I closed this issue b/c I was unable to recreate the issue from a fresh install or a fresh upgrade.

[2017-02-13 16:48] louissalin commented on #2017
Hi @dlstadther,

I just recreated the issue in a docker container running Centos 7 using python 3.5 and pip 9.0.1:

[code]

[2017-02-13 16:52] louissalin commented on #2017
It works fine with the official python 3.5 and 3.6 docker images. This is the output I got from running it inside the python:3.6 container.

[code]

[2017-02-13 17:09] louissalin commented on #2017
@dlstadther: I think I found a way to reproduce the issue. You will need docker to be able to run the following steps in the exact same environment. This time, it's using python 2.7 and pip 8.1.2:

[code]

[2017-02-13 19:07] nmb10 commented on #2017
Hi, @louissalin . I can reproduce it now, thanks. Trying to solve.

[2017-02-13 19:26] cmmp commented on #1647
Is there any update to this?

It's February 2017. I just tried out Luigi and my first task hit this bug because of pickled files.

[2017-02-13 19:30] dlstadther commented on #1647
@cmmp does the comment above your not work for you? (setting `format=luigi.format.Nop`)

[2017-02-13 19:36] cmmp commented on #1647
@dlstadther it does work, but it's sad to write code using workarounds :(

I was really excited to use Luigi (coming from a Gearman background), but this made me a little sad. I mean, I get this is open source, but this bug is from April last year and there is a potential workaround from the same time https://github.com/spotify/luigi/pull/1648 that seems abandoned. I'm using Python 3 for everythin

[2017-02-13 20:02] nmb10 commented on #2017
It seems pip considers URI.js directory as file and tryes to copy it. After dropping '.js' luigi installed without error.
[code]

#### Note that after rename one should fix URI.js url in the luigi/static/visualiser/index.html

I think simplest and most safe fix is to rename URI.js directory. I'm going to implement that if there are no better ideas.

[2017-02-14 11:56] dlstadther commented on #2017
@nmb10 Is it better to rename the dir or just simplify the file structure (like #2033)?

[2017-02-14 12:06] nmb10 commented on #2017
Hi, @dlstadther . I think we should keep version number. Otherwise it may be hard to find version and may cause cache issues in the future.

[2017-02-14 12:10] dlstadther commented on #2017
@nmb10 I have no problem with either solution. I'll communicate that to the open PR if that's cool with you

[2017-02-14 19:20] #357 closed

[2017-02-14 19:22] dlstadther commented on #886
Closing as is a feature request and not an issue

[2017-02-14 19:22] #886 closed

[2017-02-14 19:24] dlstadther commented on #946
Closing b/c appears to be fixed

[2017-02-14 19:24] #946 closed

[2017-02-14 19:27] dlstadther commented on #1003
Appears to have been fixed.

[2017-02-14 19:27] #1003 closed

[2017-02-14 19:29] dlstadther commented on #1078
Resolved by #1702

[2017-02-14 19:29] #1078 closed

[2017-02-14 19:38] dlstadther commented on #1273
Resolved

[2017-02-14 19:38] #1273 closed

[2017-02-14 19:47] dlstadther commented on #1905
I often run into this error. A few people in the mailing list suggested some stuff to [avoid it](https://groups.google.com/forum/#!topic/luigi-user/607IUNxcbuI). However, i'm interested in where you're at with programmatically solving this issue.

[2017-02-14 19:49] dlstadther commented on #1875
Closing as the answer seems to be `meh`. Please reopen as becomes more active (a luigi chatroom, that is)

[2017-02-14 19:49] #1875 closed

[2017-02-14 20:47] kwilcox commented on #2017
I don't believe a directory of `1.18.2` would be a problem. The directory `URI.js` was only an issue because the glob `*.js` matched it.

[2017-02-20 12:18] FxIII opened #2035 "force reschedule from web app"
It would be nice to allow failed tasks to be rescheduled by user interface especially on workflows executed in keep-alive mode.

[2017-02-20 12:20] FxIII commented on #2035
I tried to exploit the add_task function, but it asserts for a non-None worker and I don't want to pass a fake one.
I added a @rpc_method force_reschedule on Scheduler that basically does the reschedule stuff that add_task does; I don't know if it is the way to go.

with regard to the graphical interface, while I was able to add a new reschedule button near the show_error one, I can't figure out h

[2017-02-20 13:56] zwotzie commented on #1810
The problem is, that luigi want to have some entries in the configuration under [hdfs] for HdfsTarget.
I use client = snakebite and snakebite_autoconfig = True. This should automatically find all answers - and it does - except this warning.

Minimalistic test:
`from luigi.contrib.hdfs.target import HdfsTarget
hdfs_target = HdfsTarget('/tmp/testfile')`

In this case luigi also "checks" these parame

[2017-02-20 15:44] wires commented on #1647
@cmmp I wanted to change this PR to become a documentation update which
explains that `format` option is needed for binary files, but didn't free
time yet. It was more confusion on how Luigi works than a "real bug".

And FWIW, we are still using Luigi, where most data is stored using
`msgpack` (as pickle doesn't perform except for the smallest datafiles).
Our processing code derives from a base cl

[2017-02-22 01:00] cmmp commented on #1647
@wires That is an incredibly helpful answer. Thank you very much. I will look into dask and blaze.

[2017-02-23 07:20] jtratner commented on #1983
Have you tried passing `format=luigi.formats.GzipFormat()` to the S3Target constructor?  That'll make it automatically gzip it (by passing it through the local `gzip` command.  The `S3File` object just needs a few more methods to be passed to, e.g., `GzipFile` normally.

[2017-02-23 13:03] FlorianLudwig commented on #2017
Since this can now be reproduced by multiple persons (including me ;)) shouldn't this ticket be reopened?

[2017-02-23 13:05] dlstadther commented on #2017
@FlorianLudwig it could, but #2033 was just merged and should resolve this issue.

[2017-02-23 13:07] FlorianLudwig commented on #2017
@dlstadther yeah, noticed it shortly after writing my question and deleted the comment :)

[2017-02-23 13:50] BioComSoftware commented on #2017
Just as an update, Kazbek's solution of...

"$ mv luigi/static/visualiser/lib/URI.js/ luigi/static/visualiser/lib/URI"

...worked beautifully for me. In fact, when I checked the install after
... the URI.js still get's put in place properly, so I didn't even need
to use his suggestion of altering the HTML files.

--

*Michael Rightmire*

B.Sci. Molecular Biotechnology

MCSE,MCP+I,HPUXCA,CompTIA,VD

[2017-02-23 14:11] Lucas-C commented on #1683
I'm having the same issue

[2017-02-23 14:19] Lucas-C commented on #1683
Should be fixed by https://github.com/spotify/luigi/pull/1819 I think.
I'm using luigi==2.2.0
This fix is included since v2.4.0
I think this issue can be closed

[2017-02-23 14:27] Lucas-C commented on #1683
Confirmed: upgrading to v2.5.0 solved the issue for me

[2017-02-23 21:28] chrispalmer opened #2036 "Expose Central Scheduler metrics for easy ingestion"
It would be extremely helpful to be able to get some metrics from the Central Scheduler via an RPC call. Will the visualizer gives you a view of what has been happening recently, it only shows a fixed amount of data (depending on your `remove-delay` config setting). Being able to continuously collect metrics would enable us to track overall health of our pipelines and the central scheduler.

Our p

[2017-02-23 21:30] chrispalmer commented on #2036
I'd be very happy to work on adding this solution, as I've wanted to find something I could contribute back to this project for a while. Figured there might be some discussion about the correct way to build this.

[2017-02-24 01:52] colemanja91 commented on #2036
This is a cool idea. I've been using Prometheus for about 7 months now; I was planning to add success/failure handlers to my tasks, but this would make it easier. I might also be interested in exploring metric collection for New Relic, as there's a chance I'll be migrating there in the near future.

Output for Prometheus might look something like this:
[code]

[2017-02-24 01:52] Tarrasch commented on #2036
I would love this too. I think you could start with a draftish PR (perhaps without tests) and ask for comments. Then you could iterate on the feedback from that and later turn it into a proper PR.

Do you see this as two parts? One to create the `/api/statistics` call and one to create a "Statistics" tab in the visualizer UI?

[2017-02-24 01:53] Tarrasch commented on #1683
Closing then.

[2017-02-24 01:53] #1683 closed

[2017-02-24 02:02] Tarrasch commented on #2035
You have a good use case, but I'm afraid "reschedule" could be misinterpreted. If the worker disconnect, the task won't be run anywhere. Instead. I think you could:

 * Just configure your worker to `--worker-keep-alive`, so it doesn't quit and runs the task after the cooldown.
 * Just lower the time-out for your sensitive task (or all tasks globally if you desire)
 * You could add something like

[2017-02-24 03:37] chrispalmer commented on #2036
One of the challenges with this is how much this wants to be integrated into the scheduler code. In my mind you could go one of two ways

1. Have an endpoint that when accessed, calculates/collects all the desired metrics and reports them back. In this case the endpoint would probably just get passed a reference to the scheduler, and it would go inspect `scheduler._state` and count various things.

[2017-02-24 04:45] colspan commented on #2008
I had this issue too. I recommend to check your browser decoding setting when this happens.
In my case, the browser(Chrome, Firefox) fails to parse URI.js(at line 216 on v2.6.0), because of wrong detection (was Shift-JIS for me) for decoding luigi visualizer's files. Setting 'UTF-8' manually helps to fix this issue.

I guess the fundamental solution is to put `<meta charset="utf-8">` on `luigi/sta

[2017-02-24 08:23] FxIII commented on #2035
I totally agree (I don't know if is better to forgive or to forget :)), and this will work.
I can't figure out how to update the presentation (correctly) in the user interface from red to yellow once I have the ok from the scheduler.

[2017-02-24 09:01] elnikkis opened #2039 "Raise FileExistsError when running multiple workers"
When running multiple workers, mkdir in FileSystemTarget(LocalTarget).temporary_path() raises FileExistsError sometimes.

My output files of parallel tasks have same parent directory.
It seems that "raise_if_exists=False" of LocalFileSystem.mkdir does not work properly when running multiple workers.

test_luigi_bug.py:

[code]

I execuded this command:

`PYTHONPATH='.' luigi --local-scheduler --mo

[2017-02-24 09:48] nsmartinez commented on #2017
The luigi 2.6.0 from pip still does not work as I think there has not been a new release. Any plans for releasing 2.6.1 with this fix?

[2017-02-24 15:24] quentinsf commented on #1362
@daveFNbuck - many thanks!  That's just what I needed!

I'm updating HDF5 files, and I need to make sure that no two tasks try to write to the same file at once. Following your example of using a property, I can do (effectively):

    class HDF5TestTable(luigi.Task):
        ...

        @property
        def resources(self):
            return {self.hdf_file_name: 1}

Seems to work nicely!  I'll

[2017-02-24 19:08] steveb-cirina commented on #2008
@colspan Thanks for digging into this!  I haven't seen this issue since the day I posted this.

[2017-02-25 10:05] wangwenpei opened #2041 "luigi 2.6.0 install failed"
Dear all.

I install luigi use `pip install luigi` on mac OSX EI Capitan.

[code]

then I tried download this package from pypi. install it use `python setup.py install`. same error  caused.

I tried upgrade pip to solve this problem. same error.

It seems python setup tools treat `URI.js` as file. but it is a directory.

[2017-02-25 13:25] kwilcox commented on #2041
This has already been covered in #2017 #2027 #2028 and #2029.

[2017-02-26 05:32] #2041 closed

[2017-02-26 14:47] colemanja91 commented on #2036
@chrispalmer I'm not as familiar with the scheduler code, but it seems there's a dependency in there between the two approaches outlined and the question of Counters vs Gauges.
If you calculate the metrics when the endpoint is accessed, then it seems intuitive to me that we would represent the metrics at that moment, therefore Gauges.
Likewise, if the stats are constantly collected, then Counters.

[2017-02-26 17:50] chrispalmer commented on #2036
@colemanja91 Yes, I think you are correct in terms of the two approaches. I think I have a preference for the constant collection and using Counters.

One potential approach that I think might be interesting is to actually hook into the event handlers logic that already exists. The scheduler would just trigger events when they happen, and you would have something `contrib.prometheus` or `contrib.n

[2017-02-27 00:19] LeiShi opened #2043 "Recursively resolve dependencies"
I have just started using Luigi, and enjoyed the pythonic style and the beautiful web GUI.

However, I find that by default, Luigi doesn't detect the indirect dependencies, i.e. Luigi only checks the directly required tasks status to determine the readiness for the current task, but does not know if a deeper task has been renewed. For example, if I have a dependency map like follows:

A <- B <- C

[2017-02-27 03:21] chrispalmer commented on #2036
Just submit a [pull request](https://github.com/spotify/luigi/pull/2044) for my work in progress. I've gone back and forth on various implementation details, and hope I've settled on a good one.

[2017-02-27 12:37] dlstadther commented on #2041
Also, resolved by #2033

[2017-02-28 02:41] cjnoyescrisp commented on #2017
I think this is related
luigi install from pip on Amazon emr, which usually works very well
can't copy 'luigi/static/visualiser/lib/URI.js': doesn't exist or not a regular file

If this would be fixed by moving python code to python 3 let me know.
Temporarily I will use the 2.5.0 version

[2017-02-28 13:03] dlstadther commented on #2017
@Tarrasch Can we release 2.6.1 soon as many people are encountering this issue with 2.6.0 (solved by #2033 )?

[2017-02-28 16:14] raymondlewallen opened #2047 "Set transaction flag for database queries"
Would like a way to set enable transaction true/false for Postgres.  This would enable to run some commands that require to be run outside of a transaction block, such as redshift "VACUUM" statement.  I've started working on overriding the query code to allow me to do this.

[2017-03-01 01:38] shahabedinh commented on #2028
I had the same issue

/opt/cloudera/parcels/Anaconda-4.0.0/bin/pip install luigi

....
reating build/lib/luigi/static/visualiser/lib
    copying luigi/static/visualiser/lib/mustache.js -> build/lib/luigi/static/visualiser/lib
    copying luigi/static/visualiser/lib/jquery-1.10.0.min.js -> build/lib/luigi/static/visualiser/lib
    error: can't copy 'luigi/static/visualiser/lib/URI.js': doesn't exis

[2017-03-01 07:33] chansonZ commented on #1865
yes, i have the same problem and i  get the lastest code in github at now

[2017-03-01 07:34] chansonZ commented on #1865
see as fllows:
INFO: [pid 100105] Worker Worker(salt=971459027, workers=1, host=xxx.com, username=root, pid=100105) running   DynamicErrorTask1()
ERROR: [pid 100105] Worker Worker(salt=971459027, workers=1, host=xxx.com, username=root, pid=100105) failed    DynamicErrorTask1()
Traceback (most recent call last):
  File "/opt/luigi/venv/lib/python2.7/site-packages/luigi-2.6.0-py2.7.egg/luigi/worker.

[2017-03-01 13:42] dlstadther commented on #2047
@raymondlewallen Feel free to contribute!

It looks like you'd need to update [`PostgresQuery`](https://github.com/spotify/luigi/blob/master/luigi/contrib/postgres.py#L348) and then [`RedshiftQuery`](https://github.com/spotify/luigi/blob/master/luigi/contrib/redshift.py#L577) (as a courtesy :) ).

I've had this same need (to execute vacuum). My solution was to just manually implement the execution

[2017-03-01 19:28] jtratner opened #2048 "Delay instantiating S3Client when generating S3Targets"
I was profiling luigi code that had recursive dependencies (i.e., Task A grabs outputs from Task B which grabs outputs from Task C, etc) I noticed that there was a big performance hit when generating too many S3Targets (because boto has to hit the filesystem to check all config files and then a connection object [I believe] is generated to AWS).  This also means that you open a ton of file descrip

[2017-03-01 23:28] chrispalmer commented on #2043
Luigi's model of task execution and completeness is primarily based on the logic of:

`A task is complete if and only if it's output exists.`

Some dependency graphs can include hundreds or thousands of tasks, and checking them for completeness is a non trivial process. Repeating all those checks time and again could get very costly.

I think the first question is why did you delete the output fro

[2017-03-01 23:33] chrispalmer commented on #2036
@Tarrasch I don't know if you've had a chance to look at the PR yet, but I've been thinking about it some more. I had a fundamental question and I'm not sure who the best person to answer it is.

My initial implementation puts most of the work in the `SimpleTaskState` class because I found that was the easiest place to detect task status changes. However, I wonder if that is the right place for it

[2017-03-01 23:55] chrispalmer commented on #2022
@steveb-cirina See `remove-delay` in the scheduler configuration section - https://luigi.readthedocs.io/en/stable/configuration.html#scheduler-config

The `prune` method gets called on a regular basis but it only removes tasks if they haven't had any stakeholders for `remove-delay` seconds.

[2017-03-02 04:08] steveb-cirina commented on #2022
@chrispalmer Thanks, I will check that out.

[2017-03-02 04:43] LeiShi commented on #2043
Hi Chris,

Thanks for the comment. Right now, I'm overriding the `complete` method and checking the dependencies recursively. As you pointed out, this task is indeed non-trivial in terms of the efficiency. What I have now is an O(n!) complexity way of doing it, and the overhead can be significant when the number of tasks gets large. I wonder how GNU Make deals with this, maybe it just assumes no s

[2017-03-02 15:25] adaitche opened #2050 "LocalTarget and temporary_path"
FileSystemTarget has the method `temporary_path`, which returns a context manager. On exit the context manager renames the temporary path to the final path by means of the method `rename_dont_move` of the attribute fs (of type FileSystem).

When `temporary_path` is used on LocalTarget, on exit from the context manager the following warning is printed

[code]

This is because LocalFileSystem does n

[2017-03-03 01:18] #1924 closed

[2017-03-03 03:16] 444thLiao opened #2051 "Advise of readme or notifications.py"
Sorry for bothering you.

But there are plenty of differences between notifications.py and Readme, at [http://luigi.readthedocs.io/en/stable/configuration.html#core](url)

Especially at send email place, please formatted these two places at one standard.
e.g when you teach us to write 'host' at [smtp] section , but your code get this info from [core] section with 'smtp_host'. So I think that is so

[2017-03-03 10:00] Kaleidophon opened #2052 "Trying to implement dynamic building of task dependencies from config results in the scheduler not running the tasks"
Hi!

I also posted this issue on [Stackoverflow](http://stackoverflow.com/questions/42563175/how-to-enable-dynamic-requirements-in-luigi). I will just copy-paste it for now, I hope the description of my problem is descriptive enough.

-----------------

I have built a pipeline of Tasks in Luigi. Because this pipeline is going to be used in different contexts, it was possible that it would require

[2017-03-03 22:04] rbdixon commented on #2050
If you put this pull request in I'll test it... I just hit the same issue.

[2017-03-03 23:56] villanuevab commented on #1185
I am getting the same error with `no module named ...`, the name of the python script with the task in it. Is the solution merely to zip and add to `client.cfg`? This seems inefficient.

[2017-03-05 03:21] Tarrasch commented on #2050
Ah, yes. The `temporary_path` path feature is new and this is a rough edge I didn't notice.  Please send a PR. :)

[2017-03-05 03:22] Tarrasch commented on #2051
Please send in your change suggestions as a PR. It's easier to discuss concrete details in that format. :)

[2017-03-05 03:22] #2051 closed

[2017-03-05 03:30] Tarrasch commented on #2022
Closing this. I don't think there's any follow-up on this at the moment.

[2017-03-05 03:30] #2022 closed

[2017-03-05 23:03] villanuevab commented on #1576
I am experiencing the same issue; @neilisaac 's solution does not work in my case. I get the following:
1. Seems like the script did what it was supposed to do:
[code]
2. However, the module still cannot be found.
`ImportError: No module named my_spark_task
`

[2017-03-06 10:33] sbliven commented on #1933
This isn't a problem with `@inherits` per se, but rather a general issue that the configuration sections of superclasses don't get searched when setting parameter values.

+1 Close as duplicate of #1726

[2017-03-06 10:35] sbliven commented on #1934
Where are par_1 and par_2 defined?

[2017-03-06 10:40] sbliven opened #2054 "util.inherits and requires use inheritence, breaking the MRO"
As discussed in on [the mailing list](https://groups.google.com/forum/#!topic/luigi-user/7m0uZkyyYow), using @inherits messes up the method resolution order and breaks `super()`

[code]

Since Bar is now twice on the list, any calls to super will result in infinite loops.

This problem comes from @inherits using inheritance to modify the class. We should look into whether the class can be monkey-p

[2017-03-07 04:48] n3xus opened #2055 "can't install luigi"
[ec2-user@ip-xx-xx-xx-xx luigi-2.6.0]$ sudo python setup.py install
running install
running bdist_egg
running egg_info
writing requirements to luigi.egg-info/requires.txt
writing luigi.egg-info/PKG-INFO
writing top-level names to luigi.egg-info/top_level.txt
writing dependency_links to luigi.egg-info/dependency_links.txt
writing entry points to luigi.egg-info/entry_points.txt
reading manifest file

[2017-03-07 04:58] kwilcox commented on #2055
This has already been covered in #2017 #2027 #2028 #2029 and #2041. Resolved in #2033.

[2017-03-07 12:28] #2055 closed

[2017-03-08 21:38] #2050 closed

[2017-03-09 12:17] elipapa commented on #1116
is this still the case?

[2017-03-09 12:47] dlstadther commented on #1116
@elipapa As far as i'm aware, yes. If the session is active and in the foreground, `ctrl+c`; if it's in the background, `ps -ef .... kill <pid>`.

[2017-03-10 17:21] ulzha opened #2059 "GCSClient.remove() fails with "Request Entity Too Large""
We have had GCSClient.move() fail to remove large directories. This error occurs in `self.remove(source_path)` after performing `self.copy(source_path, destination_path)` successfully.

[code]

The reason seems to be that the lines before req.execute() build up too big a batch request.

[2017-03-10 22:29] ant1j opened #2060 "Avoid exception handling for PostgresTarget.create_marker_table() with "CREATE TABLE IF NOT EXISTS""
I think it would be more elegant to add `IF NOT EXISTS` in the query for creating the `marker_table` in `luigi.contrib.postgres` module, instead of dealing with an exception to handle the case where the table already exists.

[code]

`IF NOT EXISTS` is available since postgres 9.1 (released more than 5 years ago) and it seems that it is also available in many RDBMS.

So if the method should be rew

[2017-03-12 18:23] dgwartney-io commented on #2017
The only way I have been able to get a working luigi environment is to install the bleeding edge via:

pip install git+https://github.com/spotify/luigi.git

Definitely would be nice if there was update on PyPi.

[2017-03-14 06:55] Tarrasch commented on #2060
Not correct. Anyone can make a PR. All previous, current and future contributors are humans and typically make mistakes. We would be happy to accept your bugfix. :)

[2017-03-14 11:59] dlstadther commented on #2017
See [2.6.1](https://github.com/spotify/luigi/releases/tag/2.6.1) for PyPi release including this bug fix.

[2017-03-14 21:10] ant1j commented on #2060
Here you go.
You were true, anyone can make a PR!

[2017-03-23 20:42] yuribak opened #2070 "Worker thinks a failed job is still pending and never quits when keep-alive is enabled"
Luigi version 2.4.0
keep-alive is enabled

I am running into an issue as part of a more complicated workflow, but I have been able to recreate it with a minimal reproduction:

I am submitting a single task with no dependencies that just raises an exception and fails immediately. According to the logs and the luigi scheduler frontend, the failure is identified correctly. However, the worker process

[2017-03-26 20:25] jonathanng opened #2073 "DeprecationWarning: inspect.getargspec() is deprecated"
Using Python 3.5, I'm getting this warning message:

[2017-03-27 12:46] bastiendonjon opened #2075 "CopyToIndex to luigi.contrib.esindex dont use requires ?"
Hello,

requires function in CopyToIndex not working ?

Thanks

[2017-03-27 13:43] bastiendonjon commented on #2075
It's working one time.

After i have this message

`Did not run any tasks
This progress looks :) because there were no failed tasks or missing external dependencies`

[2017-03-27 15:23] amarco90 commented on #2019
[This PR](https://github.com/spotify/luigi/pull/2061) should fix the issue.

[2017-03-27 15:51] #2019 closed

[2017-03-28 01:55] srikiraju commented on #2070
Worse, if you generate the output/target externally, luigi doesn't attempt to check if a failed task was fixed/overriden externally and keeps retrying

[2017-03-28 18:52] dlstadther opened #2080 "Error with redshift does_table_exist()"
Redshift schema and table names are case insensitive (`select * from TableTest;` == `select * from tabletest;` == `select * from TaBlEtEsT;`). However, both queries in [does_table_exist](https://github.com/spotify/luigi/blob/master/luigi/contrib/redshift.py#L327-L346) compare case sensitive table names.

These should be updated to case insensitive comparisons.

The `%s` string parameters need to b

[2017-04-02 11:43] steveaft commented on #1654
Is there an example anywhere about how to launch luigi from PyCharm?
Are we supposed to use luigi.cmdline, or luigi.interface or are we supposed to do something like the above?
When you do this: "Further on luigi.run() does not work out of the box as shown in the example code ... you must add the TaskClass and local_scheduler=True." What is the command you use?

[2017-04-04 17:38] stalat opened #2084 "Executing 2 pipeline jobs, (Must be in SYNC, not paralelly)"
Hello there,

I am into Luigi framework development and I want to execute 2 jobs(Both are pipeline-jobs) in a single class, But in a way that Job2 must only run, when Job1 is executed completely.

[code]

Is there any way I can execute job1 and once it's completed, then go for execution of Job2.

Any help is much appreciated

[2017-04-04 22:02] kzuberi commented on #2039
I am also encountering this (luigi 2.6.1), looks like a race [here](https://github.com/spotify/luigi/blob/d2694c9c07f8601deb0716228ea339137bfbc8f4/luigi/local_target.py#L74) when the earlier check for path existence had returned false but another task creates the path first, os.makedirs() call fails due to the leaf folder existing.

[2017-04-05 02:41] melavoyraja opened #2085 "ssl.CertificateError: hostname 's3-us-west-2.amazonaws.com.s3.amazonaws.com' doesn't match either of '*.s3.amazonaws.com', 's3.amazonaws.com'"
def run(self):
        print('=========================')
        print(self.awsaccesskeyid)
        print(self.awssecretaccesskey)
        print('=========================')
        s3Client = S3Client(self.awsaccesskeyid,self.awssecretaccesskey)
        print('=========================')
        print(s3Client.exists('https://s3-us-west-2.amazonaws.com/adsassignmnet1/1.csv'))
        print('====

[2017-04-05 04:10] Tarrasch commented on #2075
Unclear bug report. closing.

[2017-04-05 04:10] #2075 closed

[2017-04-05 04:18] Tarrasch commented on #2070
This is expected and for me, usually a good behaviour. Some things to keep in mind:

 * In some sense a failed task is also considered pending. It will be retried once (default 15 minute) cooldown is over.
 * Luigi also has the concept of disabled task. It's not on by default as it complicates stuff for the first-time users of luigi, but you should consider using this, because disabled tasks are n

[2017-04-05 05:01] Tarrasch commented on #2084
Yes, just make Job2 require Job1. Optimistically closing. :)

[2017-04-05 05:01] #2084 closed

[2017-04-05 05:04] Tarrasch commented on #2085
Fix formatting.

[2017-04-05 05:04] #2085 closed

[2017-04-05 05:08] Tarrasch commented on #2039
Ah, yes, the bad things with non-atomicity. Luckily this isn't super-severe as next luigi run the tasks will be retried. Anyhow, if we can make it atomic it would be great. :)

[2017-04-05 05:41] kalvdans commented on #1945
I managed to write a class that takes an instantiated Task as parameter. This is my definition of such parameter:

<pre>class SubtaskParameter(luigi.Parameter):
    def serialize(self, val):
        return json.dumps((val.get_task_family(), val.param_args))

    def parse(self, val):
        (cls, params) = json.loads(val)
        cls = luigi.task_register.Register.get_task_cls(cls)
        return

[2017-04-05 06:02] kalvdans commented on #2039
In Python 3.2 and above, we can use the exist_ok=True flag to os.makedirs(). In Python 2.7 I guess we have to catch the error, check errno, and reraise if errno != EEXIST.

[2017-04-05 13:15] yuribak commented on #2070
@Tarrasch
* The retry and cooldown settings are known at runtime, i'd expect a task to be marked as failed once the retry count is exhausted.
* I also find the inconsistency between the worker's view of things and that of the scheduler's surprising. If a failed task should still be considered pending then the monitoring UI should reflect that as well.
* I will look into disabling tasks as a workar

[2017-04-05 17:57] srikiraju commented on #2070
@Tarrasch It should definitely recheck if the task is `complete()` or not

[2017-04-06 03:39] Tarrasch commented on #2070
Agreed. Things could be more clear. But please remember that it in general it makes sense for Luigi to retry a failed task. That's why people choose Luigi over just directly calling their external program.

Wait, retry-count is how many times you run before you disable it. Maybe the lifetime of a Luigi task is different from what you believe it to be?

---

@srikiraju - Please open a new issue, or

[2017-04-07 10:09] redhog opened #2087 "luigi.target.AtomicLocalFile not so atomic after all"
## Symptom
The following code should not print "MOVE foo" due to the exception being thrown, but does when the interpreter exits:

    import luigi.target
    class X(luigi.target.AtomicLocalFile):
        def move_to_final_destination(self):
            print "MOVE %s" % self.path
    try:
        with X("foo") as f:
            f.write()
            raise Exception
    except:
        pass

## C

[2017-04-07 12:50] kalvdans commented on #2087
It is better to not overload __del__ and instead force everyone to explicitly call close() or use context managers. I can prepare a patch if you agree with me.

[2017-04-07 17:21] tedder commented on #1344
Another problem with boto, per boto/boto/issues/3579, it doesn't support IAM Roles for Tasks.. in other words, container-specific IAM roles.

[2017-04-07 18:56] dlstadther commented on #1344
@tedder Feel free to submit a PR for the update 😄

[2017-04-07 19:22] tedder commented on #1344
yeah, I know :) We just had that discussion too.

[2017-04-08 07:04] veiko99 commented on #2070
I have configured disabling tasks. If the run method raises an exception, task gets disabled and worker quits.  But if the complete method raises an exception, task gets status 'unknown'  and  worker never quits when keep-alive is enabled.

[2017-04-18 00:17] steveb-cirina commented on #2019
Thanks.

[2017-04-19 20:08] colemanja91 commented on #1523
Bringing this back up from the depths of the issue tracker! I'm running the central scheduler + jobs on Kubernetes/Openshift, it's great for rapid deployment and running health checks, but if, for some reason, my scheduler pod crashes while there are workers running, it can take up to 30 seconds for a new pod to fire up.
If the scheduler could run distributed, then I could set a minimum of 2 pods

[2017-04-20 22:33] sguermond opened #2094 "DictParameter fails when containing empty lists"
Related to [#1657](https://github.com/spotify/luigi/issues/1657#issuecomment-217066024), #1780

The following error occurs at the end of the run when running a task with a DictParameter whose default is a (key -> empty list) pair or a (key -> empty list).

[code]

The following two tasks will raise an error at the end of the run, even when completing successfully:
[code]
[code]

However, a non-emp

[2017-04-21 08:33] Tarrasch commented on #2094
Oh, I didn't realize you could pass lists as keys (arbitrary json stuff, [documentation says](http://luigi.readthedocs.io/en/stable/api/luigi.parameter.html#luigi.parameter.DictParameter)). Perhaps the [normalize](http://luigi.readthedocs.io/en/stable/api/luigi.parameter.html#luigi.parameter.DictParameter.normalize) method need to do some "recursive freezing". Note that the [FrozenOrderedDict](htt

[2017-04-24 03:26] Marcnuth opened #2095 "Run multiple processing in a task"
If I create a simple task, which have some code which using the multi processing module of Python, I found the Luigi limits it to one CPU processor, even if there are free CPU processors left.

For example:
[code]

OS: Linux
Python: 3
CPU core: 4

When I run above example, I can clearly find that in System Monitor Pane, only 1 CPU core's occupied ratio is high, while others remain unchanged.

What

[2017-04-24 05:48] steveb-cirina commented on #1834
@erikbern Can you please point me to an example that uses `luigi.task_register.load_task` ? I may be missing something but googling didn't show me much on this.

Thanks.

[2017-04-24 20:58] mattmcknight commented on #2095
I have numerous luigi tasks successfully running multiprocessing on multiple CPUs. Can you provide an example of code that has the behavior you expect outside of luigi, but fails when you launch it from within a task?

[2017-04-25 23:44] kendricktang opened #2096 "sge.SGEJobTask._build_qsub_command inconsistency"

[2017-04-26 00:05] kendricktang opened #2097 "_build_qsub_command with kwarg flexibility"
It would be nice to have **kwarg flexibility with the _build_qsub_command so we can specify other flags used by our scheduler.

[2017-04-26 00:08] kendricktang opened #2098 "_parse_qsub_job_id doesn't parse properly"
Our qsub generates this crazy output format:
[code]
We have overwritten `_parse_qsub_job_id` with the following splits: `return int(qsub_out.split('Your job')[1].split()[0])`. If other people are having issues with this, it might be useful to generalize the format a little bit more.

[2017-04-26 10:07] treuherz opened #2100 "Tracking data lineage"
My application requires a stringent record of lineage for the data it processes. Is there a standard way for a Luigi pipeline to yield this kind of self-reporting information?

My DAGs are dynamically generated, so I need a product that comes out of the pipeline to be accompanied by a record of the processing chain it underwent, with enough detail on parameters that the graph could be reconstructe

[2017-04-26 10:33] miku commented on #2100
I imagine this to be difficult to implement in a generic way.

Creating a record of the DAG is not difficult for simple cases

* via luigi.tools:
https://github.com/spotify/luigi/blob/68fa7bc467ae9cb142206e202a105252bddb6517/luigi/tools/deps_tree.py
* more static example:
https://github.com/miku/siskin/blob/3a1e9a6ff87df09bf68caebf055742c879ef6bd2/docs/elag-2016/byoi/code/deps.py#L7-L16,
(another,

[2017-04-26 12:50] treuherz commented on #2100
Essentially, I have a lot of large geospatial rasters that need to have various processing steps applied, but since the processing chains are customisable I would like the end product's metadata to describe the DAG that produced it, including the parameters of the different nodes.

It looks like the deps_tree tool will get me most of the way there. I'll bake that functionality into a final Task in

[2017-04-27 18:51] Verun opened #2103 "Luigi's handling of dynamic dependencies"
I'm using Luigi 2.3.1.

I've noticed that when a task `yield`s dependencies from it's `run()` method, luigi makes a note of this in `_run_get_new_deps()` method of TaskProcess, like so (line 141):

[code]

However, if the yielded task had any other state in private instance variables (ie, not in any `Parameter` objects), when a new instance of that task is created using `from_str_params`, that  in

[2017-04-28 02:07] lsglick commented on #2048
We also ran into issues on EC2 where calls to the metadata service weren't returning data, presumably because we were exceeding a reasonable rate of credential requests.

[2017-04-29 14:10] #2048 closed

[2017-04-29 22:17] kashifjt opened #2105 "Luigi failure events with multiple workers"
I recently started using luigi for some of the data extraction/processing tasks at work and it is working perfectly, using multiple workers. But I am having some issues while executing a callback method for FAILURE events. I am planning to use this method to create some sort of exception logging for all the failed tasks. e.g. I am trying to use the following code, which is provided in the document

[2017-05-01 19:07] rjpower commented on #1750
This same issue seems to be cropping up for us quite frequently.  It's frustrating to have to workaround the scheduler in every application.  Re-cronning can be expensive as well (statting a large directory to identify the new work needed).  Is there a generic solution to this that we could apply consistently (other than a faster scheduler...)

Rather than having the scheduler redo all of the prio

[2017-05-02 14:14] akolpakov opened #2106 "contrib.postgres.CopyToTable does not create missing columns if table exists"
In case if table does not exist in the database, `contrib.postgres.CopyToTable` is trying to create table with predefined columns.
But in case if table exists and you have new column in your dataset `contrib.postgres.CopyToTable` does nothing, just raise exception that column does not exist.

But sometimes when table exists, but you introduce a new column to your dataset, good to have option, when

[2017-05-03 09:35] pmerienne commented on #1012
Hi,
This issue still exists. @red1ynx fix seems to be ok. @Tarrasch what do you need to include this fix in the next release?

[2017-05-03 19:46] dlstadther commented on #2106
I'm not sure if this is best practice - as opposed to separately modifying your pg table def when you decide to introduce an additional column to your dataset.

I'm unaware of a valid case where your source data would be inconsistent and you'd want to silently modify your database as a result.

However, feel free to make the case for its validity!

Thanks,

[2017-05-05 22:06] steveb-cirina commented on #1678
+1 from me

I think this would be a useful feature as I sometimes have to throttle back a workflow that takes days so others may do compute intensive but shorter running tasks.  I also run into the situation where I realize after the fact that I could have launched more workers.

Thanks,
Steve

P.S. Luigi has been a great tool !  Thanks for supporting it.

[2017-05-07 17:24] Tarrasch commented on #1678
This is implemented in Luigi now (https://github.com/spotify/luigi/pull/1993), closing.

[2017-05-07 17:24] #1678 closed

[2017-05-08 18:22] peacing commented on #1776
+1

[2017-05-08 18:35] peacing commented on #1776
Trying to get luigi.task.event_handler(luigi.Event.DEPENDENCY_PRESENT) decorator to work in identifying already present tasks. Not sure what situation causes this to work

[2017-05-09 19:10] kwilcox commented on #1552
I was hitting this occasionally with WrapperTasks that depend on the state of external (not under my control) files. The call to `requires()` in `complete()` was returning a different task list than the original call to `requires()`. Commenting here for future Googlers.

My solution:

[code]

[code]
or
[code]

[2017-05-09 23:50] nugend opened #2110 "Document prune_on_get_work (maybe add config for server's prune period?)"
I have a task that needs to retry its ExternalTasks very frequently (we have worker keep alive on as well as retry external tasks). I spent the day digging through the code trying to figure out why the worker wasn't actually retrying the External Tasks every few seconds as per the wait interval and retry delay settings.

Turns out it's because the scheduler was hardcoded to prune tasks once every

[2017-05-10 15:04] visjedi commented on #1362
How could you ever check this? Is there a small test/hello world example to show this indeed works and the file is held by only worker at a time? I shall be glad to help if someone is interested.

[2017-05-11 14:59] dmohns opened #2111 "RemoteFileSystem of luigi.contrib.ftp does not implement the listdir method."
Pretty much as the title states: Currently RemoteFileSystem of `luigi.contrib.ftp` does not implement the `listdir` method.
As FTP basically provides access to an ordinary filesystem this should be perfectly do-able and would very helpful in certain situations.

[2017-05-11 15:53] dlstadther commented on #2111
@dmohns Please feel free to submit a PR!

[2017-05-11 21:01] byklo opened #2112 "Success on missing output"
1. Download the tutorial script (https://github.com/spotify/luigi/blob/master/examples/top_artists.py)
2. Change Streams.run() to simple do a print (removing the 'with' block that writes to target)
3. `luigi --module top_artists Streams --date 2017-04-04`
4. Execution summary claims Streams ran successfully even though output was not created

Is this expected behaviour? If it is, can someone expla

[2017-05-12 08:29] Tarrasch commented on #2112
Luigi doesn't check that it actually is `complete()` after a Task has run. :)

[2017-05-12 12:19] erikbern commented on #2112
right – if you run it multiple times then each time it will try to re-run the task because it notices that it doesn't exist

also – if you have another task that depends on Streams then it would throw an error once it detects that Streams ran but didn't produce output

[2017-05-12 19:01] byklo commented on #2112
Thank you!

[2017-05-12 19:01] #2112 closed

[2017-05-19 12:40] dmohns opened #2116 "Superfluos project_id parameter in BigQuery job definition"
The parameter `project_id` of most tasks in `luigi.contrib.bigquery` is superfluous as per https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs. Indeed, if set to arbitrary values jobs still run successfully.

It doesn't really *hurt* but can be confusing at first sight as it suggest some additional dependency.

[2017-05-19 13:02] dmohns commented on #2047
One way I can think of is to specify some sort of dictionary in the `PostgresQuery` tasks.  Then it could get passed to `run` and called from `connection.set_session(<dict>)`. That way we get everything from here http://initd.org/psycopg/docs/connection.html#set_session , in particular `autocommit=True` allows to run `VACUUM` queries.

I am uncertain though: Is this the luigi way of doing things?

[2017-05-19 21:12] daveFNbuck opened #2118 "HdfsAtomicWritePipe silently fails when target file exists"
Lately due to some pipeline issues I've ended up re-running a lot of jobs while their output exists. They seem to run fine but the output doesn't change or even get an updated modified time. I tracked this down to the atomic write pipe just silently failing when the move does nothing. I use the snakebite client with hdfs fallback. I believe this is happening in the snakebite client.

Demonstration

[2017-05-21 11:31] Tarrasch commented on #2094
@sguermond, hi again. We just merged a patch that potentially could solve this issue. Can you try and see if the issue is resolved for you now?

[2017-05-22 09:34] #2118 closed

[2017-05-23 14:29] Casyfill opened #2122 "S3 target: resources = {'overwrite_resource': 1} does not work"
S3 target: resources = {'overwrite_resource': 1} does not work

I want to constantly overwrite the existing dump file on S3 (and make it public - also a functionality not supported?). Unfortunately, while `overwrite_resource:1` works for the local target, it does not so for S3.

[2017-05-23 17:53] daveFNbuck commented on #1362
@visjedi we have unit tests for resources. Luigi can only guarantee that you won't exceed your resource limit. It's on you to set up your resources such that this means you won't have multiple jobs touching the same file at the same time.

[2017-05-23 20:10] #2105 closed

[2017-05-25 19:35] ashokrags opened #2129 "Feature Request?? modify fields shows in the visualizer for central scheduler"
Hi,
  I was wondering how easy it would be to modify the entries shown in the visualizer so that it is human readable.
   I currently have a set of dependent tasks that I call recursively, so essentially the same class name pops up for each task in the graph as it is using the class name. Is it possible to programmatically edit?

[2017-05-26 08:00] soq opened #2133 "Wrong configuration documentation"
Hello.
In https://github.com/spotify/luigi/blob/master/doc/configuration.rst there are parameters with dash in name, but in code they are used with underline symbol. Here they are (written as in doc):
max-reschedules, max-shown-tasks, max-graph-nodes, parallel-scheduling, send-failure-email, email-interval, batch-mode, error-lines, error-messages, group-by-error-messages, batch-emails, remove-dela

[2017-05-26 08:12] Tarrasch commented on #2133
Sorry about this. The code is correct and documentation is wrong. Do you mind stepping up and fixing the docs?

I wanted to spend some hackday creating a automatic cross-checking of this information, but never got around to do it.

[2017-05-26 08:31] soq commented on #2133
Yes, I can try to fix it in a few days.

[2017-05-26 19:08] kabirkhan opened #2135 "Azure support"
### Feature Request/Offer to contribute
Are there any plans to offer Azure storage/HDInsight support to this project?

Loving working with Luigi so far but a lot of my workload and data is Azure based.

If there is interest I'm happy to contribute this.

[2017-05-26 21:07] Tarrasch commented on #2135
This sounds great! Contributions are welcome. Perhaps in a separate repository as there's already to much in luigi's `contrib/`

[2017-05-27 09:48] R-Sila opened #2137 "How to schedule periodic tasks that runs hourly for example ?"

[2017-05-27 10:30] Tarrasch commented on #2137
Luigi comes with no support for "starting" you task. Read the docs please.

[2017-05-27 10:30] #2137 closed

[2017-05-27 22:44] ouanixi commented on #1344
I'll try and give this a go. If anyone else is working on this please ping me. We could split the workload :)

[2017-05-29 14:30] fjavieralba commented on #2105
Hi @kashifjt why did you close the issue? did you find a solution?

I'm having trouble too with `luigi.Event.FAILURE` methods, I cannot get them executed when my task fails.

I have a task failing sometimes with a `Luigi Framework Error`, and I also have a method like:

[code]

But it never gets executed.

Any hint on this?

thanks!

[2017-05-29 17:15] OstrichProjects commented on #2111
@dmohns @dlstadther This feature request can be marked as resolved.

[2017-05-29 17:30] kwilcox commented on #2105
Is your task a WrapperTask and failing in the requires() method? That won't trigger a FAILURE event.

[2017-05-29 20:17] fjavieralba commented on #2105
mmm yes, thats my case

[2017-05-30 01:43] #2111 closed

[2017-05-30 16:45] kwilcox commented on #2105
@fjavieralba Here is my current solution that will raise a `FAILURE` event if a wrapper tasks fails in the `requires()` method. Keep in mind we have multiple people contributing to and adding tasks into our codebase so the first priority was maintaining compatibility with the Luigi documentation. If we were willing to to break compatibility our solution might have been a bit cleaner.

[code]

And

[2017-05-31 03:33] daveFNbuck opened #2140 "cdh tests too slow"
I see three recent builds failed at least partially because travis timed out while running py27-cdh or py36-cdh.
- https://travis-ci.org/spotify/luigi/builds/237706572
- https://travis-ci.org/spotify/luigi/builds/236148084
- https://travis-ci.org/spotify/luigi/builds/235193403

[2017-05-31 08:44] Tarrasch commented on #2140
I'll just disable it.

[2017-05-31 16:24] daveFNbuck commented on #2140
That seems a bit extreme, there are some important tests in there.

[2017-05-31 16:54] kabirkhan commented on #2135
Ok I'll initially look at adding it to the contrib folder. It would be a plus for this to be a first party integration like S3 and Google Cloud. If it ends up being too large I'll add it to a different repo.

[2017-05-31 19:40] Tarrasch commented on #2140
@daveFNbuck ok. I don't have time for doing any much bigger changes. But I would be fine with a pretty hack-and-slashy removal of existing tests, or any other measure to get down the time to run the tests. :)

[2017-06-01 03:00] rizplate opened #2142 "is it distributed?"
Can it run Tasks on different machines?

If yes, where is the metadata/schedule data or job parameters stored? some remotely accessed database? or filesystem?

[2017-06-01 07:33] Tarrasch commented on #2142
Of course it can.

Please read the docs.

[2017-06-01 07:33] #2142 closed

[2017-06-01 13:42] mivade commented on #1622
I've been playing around with Luigi and was shocked to find that there is no updating unless you manually reload. If server load is really a problem as @Tarrasch implies (I'm skeptical of that claim), then why not use a websocket (which is fully supported by Tornado) to push updates as opposed to using polling? At any rate, forcing the user to manually reload a page requires a lot more HTTP reques

[2017-06-01 14:35] Tarrasch commented on #1622
@mivade, well, it obviously depends on your existing load. You can "try for yourself", just F5 and see if it's clunky.

I would be very happy if the web UI automatically updated through pushes.

 * Would every open browser tab add load to the server then?
 * The javascript needs some extra diff-logic then, is that correct?
 * Are you possibly interested in helping out here? :)

[2017-06-01 15:27] mivade commented on #1622
Overall load does of course depend on the details, but a full refresh is definitely worse than polling for data in the background. It takes both Firefox and Chrome on my machine about 2.5 seconds to do a full refresh (after clearing the cache) on the status page, and that's without any tasks running. It's of course faster when things are cached, but it still takes a few hundred milliseconds to hit

[2017-06-01 15:34] daveFNbuck commented on #1622
Automatic reload would kill some of my servers. Loading data on statuses is
very slow when you have millions of tasks and as you point out, it's
blocking on every request.

The problem with making requests non-blocking is that it would probably
require a huge restructuring of the server. Many of the requests rely on
being single-threaded and blocking for correctness.

On Thu, Jun 1, 2017 at 8:27 A

[2017-06-01 15:53] mivade commented on #1622
I'm not sure what you mean by correctness here, but at any rate, the IO loop is single-threaded by nature -- chunking responses doesn't change that.

[2017-06-02 00:08] daveFNbuck commented on #1622
I guess I'm misunderstanding your proposal. If everything is still happening in the same order and in the same amount of time, what's the benefit?

[2017-06-02 00:20] mivade commented on #1622
The benefit is overall responsiveness of the server. By sending data in chunks, rather than all at once, the IO loop can respond to other requests that might require less blocking.

At any rate, I can certainly see the argument that automatic reloading should be a configurable option. That would be easy to implement by adding a global JS variable that is toggled via the generated templates.

[2017-06-02 00:25] daveFNbuck commented on #1622
Unfortunately, I think the current architecture means that most requests require full blocking and can't really compute a chunk of the result and come back. If you're willing to deal with these issues, I'm all for it.

[2017-06-02 00:40] mivade commented on #1622
You might be right. I think the way to approach this is in the following order:

1. Add optional auto reloading (disabled by default).
2. Experiment with chunking strategies and profile where the most significant blocking is occurring.
3. Consider larger refactorings if they make sense.

I think I may also have misunderstood the issue of blocking. I had thought that the objection was that the netw

[2017-06-02 14:50] daveFNbuck commented on #1622
That sounds like a reasonable approach. It might also make sense to enable auto reloading on a per-tab basis. With large graphs, most of the loading time is spent on the task list but I'm often just refreshing to update the worker or resource tabs.

[2017-06-02 15:13] fjavieralba commented on #2105
thank you very much for you detailed response @kwilcox!
I will probably use the same approach 😄

Much appreciated!

[2017-06-02 16:03] Tarrasch commented on #1622
@mivade, sounds good. I think all our concerns will be clear to you once you look around the code. I'm quite certain we've only squeezed out 1% of Tornado's potential and I would really like improvement there. :)

[2017-06-09 21:46] asolkov opened #2153 "Is luigi expected to honor task priorities for multiple independent workflow executions?"
I built a luigi workflow which is triggered by a user at any time via [rundeck](http://rundeck.org/) job. The user may execute this workflow with a different parameters concurrently. Some tasks in the workflow should be executed only sequentially so requires() + resources are fine here as long as only one single workflow is executed. I ended up having a single central luigi scheduler and tasks wit

[2017-06-10 06:42] Tarrasch commented on #2153
Your observation is correct as in priorities are not honored across workflows. One work around could be to only let assistants do work, and let other executions only schedule tasks (`--workers 0` option).

[2017-06-10 06:53] asolkov commented on #2153
@Tarrasch thanks a lot for feedback.

What is the correct way to create assistant workers and let them talk to a particular scheduler?
Will assistant workers stay alive even after they are finished with current job?
As I understood, I should instantiate them independently from the workflow and then trigger workflows as usual but adding --workers=0 option.

[2017-06-12 14:52] subesokun opened #2154 "HTTP 500 Error on API call"
Hi,

I know there have been already a bunch of issues related to this particular HTTP 500 Error but they've been closed after the version range bugfix for `tornado` has been release. Sadly I'm still getting the 500 errors as shown below in the log.

Note: As I'm running the `luigid` within a Docker container I can't use the `--background` flag as otherwise the container will terminate. But not sur

[2017-06-12 18:14] a86c6f7964 opened #2155 "always use subprocess for worker timeout"
Creating a ticket for discussion in https://groups.google.com/forum/#!topic/luigi-user/YH6pxBngKDw

A worker can timeout talking to the luigi scheduler if `workers` is set to 1 and the task is a long running task. If you set the param to at least 2 then it will use a subprocess to ping the scheduler and keep the worker from timing out

[2017-06-13 13:04] Tarrasch commented on #2155
Thanks for opening this issue, but I close this in favor of an existing issue: https://github.com/spotify/luigi/issues/1822

[2017-06-13 13:04] #2155 closed

[2017-06-14 01:47] junchenfeng opened #2156 "HivePartitionTarget does not guard against wrong parition name!"
Say there is a table called db.table with a partition name "dt".

Say the user mistakenly write the name as "{'date':'9999-12-31'}". The HiveCommandClient.table_exists method effectively calls

[code]
the stdout will be
'dt='9999-12-31\n''
So it concludes the partition exists and the task is not run!

Hive version is 1.1

[2017-06-14 14:22] palmeida commented on #211
I was able to pass a list of strings in the command line by enclosing it in quotes:

luigi --module my_module MyTask --local-scheduler --my_parameter '["par1", "par2", "par3"]'

I also tried with a list of ints (--my_parameter '[1, 2, 3]') and it worked. I know the issue is closed, just leaving this here in case it's useful for anyone who is creating a parameter type just for this.

[2017-06-19 09:42] asolkov commented on #2153
@Tarrasch , could you please give any hints how I can create assistant workers?

[2017-06-20 12:51] n3xus opened #2161 "luigi.Wrappertask to initialize all the tasks first"
Is there any issues if I start all the tasks in WrapperTask first and then define dependencies in each luigi.Task?

It is very slow to initialize each dependencies inside Task.

[2017-06-20 14:17] nirg commented on #595
Not directly a solution for forcing execution, but a lot of the times I needed to rerun tasks is because a previous failure resulted in partial output. So, I wrote a MixIn class that removes the target upon failure:
[code]

Then mix it in like that:

[code]

Hope that helps!

[2017-06-20 17:43] Tarrasch commented on #2153
Hi, I suggest looking at these two email threads:

 * https://groups.google.com/forum/#!searchin/luigi-user/assistant|sort:relevance/luigi-user/b7Acym0n-g4/y6Kz1zODAAAJ
 * https://groups.google.com/forum/#!searchin/luigi-user/assistant|sort:relevance/luigi-user/aW59uwi3cHw/AgGHY199BwAJ

Then you probably can start playing around with it. I would consider it as a pretty stable feature now (there's

[2017-06-22 08:40] florian-niefind opened #2163 "Unfulfilled dependencies at runtime with `--workers=2`"
Hello there,

(thought this issue is similar to #1552, but I did not find any applicable solutions there)

we are currently trying to run luigi with the `--workers=2` option, but this fails with tasks that work like the `BadTask` in the example included below (Error is `unfulfilled dependency at runtime`). It works without the `workers` option (and has for 2 years) and we are struggling to find ou

[2017-06-22 14:28] bespin1 commented on #1822
@dewet22 Whats the downside to increasing worker-disconnect-delay?   I have some extract tasks that may run for 1 to 2 hours but most other tasks should complete in minutes.

[2017-06-23 07:21] Tarrasch commented on #2163
I think the root cause simply is that two processes don't share memory (like the variable `_complete`), setting it from A doesn't set it in B. See [these docs](https://docs.python.org/3.6/library/multiprocessing.html#sharing-state-between-processes).

[2017-06-23 07:22] Tarrasch commented on #1822
@bespin1, downside is that all workers will "live on" for that long extra in the visualizer, so you can't distinguish workers that actually are connected to not connected workers as easily.