[2017-06-23 11:28] florian-niefind commented on #2163
Hmm, but if they do not share memory, then the question is, how can the second worker even call the `complete()` method. In my understanding, it would have to instantiate the task object on it's own (since it does not share the object with the first worker) and I should see that in the log. I have also checked and `complete()` does not seem to be a `@staticmethod/@classmethod`.

[2017-06-25 08:29] #2116 closed

[2017-06-26 09:29] hirolau opened #2164 "Significant parameters shown in GUI."
The docs state: "An insignificant Parameter might also be used to specify a password or other sensitive information that should not be made public via the scheduler"

However, given this code:

[code]

In the GUI when looking at the task I see: "user=myself, password=123456". The password is not hidden.

[code]

[2017-06-29 12:54] peay opened #2166 "Cannot write to HDFS using webhdfs client"
https://github.com/spotify/luigi/pull/2119 introduced in `HdfsAtomicWritePipe`'s `close` implementation the following:

[code]

When using the webhdfs client, writing using a pipe fails because `skip_trash` is not set:
[code]

`HdfsAtomicWritePipe`'s `abort` correctly does specifiy it, however: `remove(self.tmppath, skip_trash=True)`.

I believe `skip_trash=True` should also be specified in `close

[2017-06-29 12:55] peay commented on #2166
Also cc @Tarrasch

[2017-06-29 17:37] linsomniac opened #2167 "Debian build files removed, what would it take to get them back?"
Was trying to upgrade to Luigi 2.6.2 and found that the Debian build files have been removed in this commit:

    commit eff083c639bffb679c1bb03ace541ff41622e451
    Author: Arash Rouhani <miffoljud@gmail.com>
    Date:   Tue Mar 14 14:14:08 2017 +0700

        Remove anything related to Debian

        As there's too little manpower to keep it up to date, we just remove it.

I'd like to open up d

[2017-06-29 21:28] Tarrasch commented on #2167
Thanks for opening this constructive issue. :)

Good calculation. Let me explain. I wasn't content that such a small platform (in comparison to pip, I think) like Debian takes maintainers time. Should we add packaging steps for platforms like arch linux as well?

I would also like to point out that:

 * I find the documentation for debian packaging to be scary
 * It would be nice if we didn't need

[2017-06-30 12:29] ntim commented on #1576
Hi there, the input error is thrown because the pickler does not find the module to load the class from. In the pull request I made, this issue is fixed for python 2.7 and python 3.6. Please try for yourself.

[2017-07-01 19:59] dlstadther commented on #2080
Resolved.

[2017-07-01 19:59] #2080 closed

[2017-07-01 20:02] dlstadther commented on #2094
@sguermond Any update here? If the above patch resolved this, I'll close this issue. Thanks

[2017-07-01 20:06] dlstadther commented on #1905
@guyneedhamblis Any update here?

[2017-07-02 15:13] Tarrasch commented on #2094
We close for now to decrease the number of open issues. Feel free to re-open this at will if you still can reproduce this.

[2017-07-02 15:13] #2094 closed

[2017-07-02 15:18] Tarrasch commented on #96
Fixed, see https://github.com/spotify/luigi/blob/1c48aac5b2109deb7fdf706b176deb19762bdd31/luigi/scheduler.py#L460

[2017-07-02 15:18] #96 closed

[2017-07-03 20:14] Tarrasch commented on #2140
I've been too much bothered by these tests for now. I'm writing up a completely new solution idea.

[2017-07-03 20:18] Tarrasch commented on #2103
I guess this boils down it being in general hard to share instance variables across processes. Can you try to have no "significant" state in your Tasks aside from the parameters? From the Luigi point of view, task_family+parameters should give a "unique" task instance.

[2017-07-03 21:16] Tarrasch opened #2170 "Seperate out HDFS into a seperate repo"
This is one way to follow-up on #2140. In this issue I propose:

 * We copy out the code for hdfs stuff into it's own repository. I created a an empty repository, see https://github.com/luigi-orchestrator/luigi-hadoop/issues/1. Add to pypi
 * We remove the implementation from here and replace it with a package dependency. We keep the tests as a way to check backward compatibility
 * Celebrate. We

[2017-07-03 23:03] dlstadther commented on #2170
As a next/same step here, perhaps all the Google Cloud stuff should be separated in a similar way. These various resources attract a similar audience and is a niche group within the luigi community (the same can probably be said for AWS too).

[2017-07-04 12:39] erikbern commented on #2140
nice to factor out

[2017-07-04 20:37] Tarrasch commented on #2170
@dlstadther absolutely in line with my attempt. I thought of going with the principle that if we can manage the biggest beast, we can also do it for the smaller ones.

[2017-07-05 01:15] dlstadther commented on #2170
@Tarrasch Once we get an initial version of `luigi-hadoop`, i can open a `luigi-aws` (beginning with S3 and Redshift - since that's what i'm most familiar with) - if given access to `luigi-orchestrator`.

Glad to get the ball rolling here!

[2017-07-05 15:08] Tarrasch commented on #2170
@dlstadther, actually, if you feel more comfortable in the world of aws over hadoop. You  could instead migrate the aws stuff. I added you as an admin. Go ahead and create a issue similar to this one and a repo over there.

I'm on the other hand more comfortable with hadoop and I have some time over this summer to work on luigi. So maybe I can do it for `hadoop` stuff?

[2017-07-05 15:29] Tarrasch commented on #60
I'm closing this issue.

- [x] It has been inactive for +4 months
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.

Every open issue adds some clutter, and we try to make the issues fewer

[2017-07-05 15:29] #60 closed

[2017-07-05 15:30] Tarrasch commented on #63
I'm closing this issue.

- [x] It has been inactive for +4 months
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.

Every open issue ad

[2017-07-05 15:30] #63 closed

[2017-07-05 15:31] Tarrasch commented on #66
I'm closing this issue.

- [x] It has been inactive for +4 months
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.

Every open issue ad

[2017-07-05 15:31] #66 closed

[2017-07-05 15:33] Tarrasch commented on #77
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:33] #77 closed

[2017-07-05 15:34] Tarrasch commented on #98
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:34] #98 closed

[2017-07-05 15:35] Tarrasch commented on #99
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:35] #99 closed

[2017-07-05 15:35] Tarrasch commented on #99
big change because: Luigi relies on configuration in code. Hard to analyze

workaround: There's the deps tools now.

[2017-07-05 15:38] Tarrasch commented on #502
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:38] #502 closed

[2017-07-05 15:38] Tarrasch commented on #502
workaround: stay-alive options for workers

[2017-07-05 15:39] Tarrasch commented on #466
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:39] Tarrasch commented on #459
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:39] #459 closed

[2017-07-05 15:40] Tarrasch commented on #459
What themalkolm said

[2017-07-05 15:40] Tarrasch commented on #443
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:40] #443 closed

[2017-07-05 15:42] Tarrasch commented on #436
Exists by now.

[2017-07-05 15:42] #436 closed

[2017-07-05 15:42] Tarrasch commented on #420
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:42] #420 closed

[2017-07-05 15:47] Tarrasch commented on #412
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this is issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to ch

[2017-07-05 15:47] #412 closed

[2017-07-05 15:47] Tarrasch commented on #391
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:47] #391 closed

[2017-07-05 15:48] Tarrasch commented on #390
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:48] #390 closed

[2017-07-05 15:49] Tarrasch commented on #372
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:49] #372 closed

[2017-07-05 15:50] Tarrasch commented on #372
We really need somebody who knows Python logging to jump in and help us. Though I suspect there are more recent discussions on this.

[2017-07-05 15:50] Tarrasch commented on #366
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:50] #366 closed

[2017-07-05 15:50] Tarrasch commented on #360
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:50] #360 closed

[2017-07-05 15:51] Tarrasch commented on #333
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:51] #333 closed

[2017-07-05 15:52] Tarrasch commented on #331
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:52] #331 closed

[2017-07-05 15:52] Tarrasch commented on #315
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:52] #315 closed

[2017-07-05 15:54] Tarrasch commented on #315
Honestly I hate the "format' code that exists in the luigi code base I still don't understand it. A re-haul would be appreciated.

[2017-07-05 15:54] Tarrasch commented on #232
Seems fixed

[2017-07-05 15:54] #232 closed

[2017-07-05 15:54] Tarrasch commented on #216
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:54] #216 closed

[2017-07-05 15:55] Tarrasch commented on #213
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:55] #213 closed

[2017-07-05 15:56] Tarrasch commented on #201
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:56] #201 closed

[2017-07-05 15:59] Tarrasch commented on #201
I marked this as "big change" because I suspect one would need to add skins you can choose from. Can any one set of color work for all types of being color blind?

I would be really happy to also accept a small change that fixes this (changes the colors), given that the new color palette looks "better" for users with full color vision as well.

[2017-07-05 15:59] Tarrasch commented on #199
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 15:59] #199 closed

[2017-07-05 16:00] Tarrasch commented on #192
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 16:00] #192 closed

[2017-07-05 16:01] Tarrasch commented on #173
This is fixed 4 years later by @FxIII in #2091! Wohoo! (by fixed I mean reasonable work-around)

[2017-07-05 16:01] #173 closed

[2017-07-05 16:02] Tarrasch commented on #138
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 16:02] #138 closed

[2017-07-05 16:03] Tarrasch commented on #130
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-05 16:03] #130 closed

[2017-07-05 16:03] Tarrasch commented on #130
Task names containing spaces/parentheses/etc? I suppose it was in the old days with cowboy serialization. That's fixed now. :)

[2017-07-05 16:11] FxIII commented on #173
@FxIII gains the ***necromancer*** badge

[2017-07-05 17:14] dlstadther commented on #2170
@Tarrasch Sounds good to me. Feel free to go ahead and close my hadoop PR if you get to it before i do.

[2017-07-05 17:23] dlstadther opened #2171 "Seperate out AWS into a seperate repo"
In this issue I propose:

* We copy out the code for aws-related stuff into it's own repository. I created a an empty repository, see [luigi-orchestrator/luigi-aws#1](https://github.com/luigi-orchestrator/luigi-aws/issues/1). Add to pypi
* We remove the implementation from here and replace it with a package dependency. We keep the tests as a way to check backward compatibility
* Celebrate. We have

[2017-07-06 04:29] mfcabrera commented on #520
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-06 04:32] #520 closed

[2017-07-06 04:32] mfcabrera commented on #520
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-06 04:36] mfcabrera commented on #873
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [x] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check

[2017-07-06 04:37] #873 closed

[2017-07-06 04:38] mfcabrera commented on #704
- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if this hasn't been fixe

[2017-07-06 04:38] #704 closed

[2017-07-06 04:41] mfcabrera commented on #984
@Tarrasch  any decision on this usability issue?

[2017-07-06 09:53] Tarrasch commented on #984
For the reason mentioned by @erikbern above, I find that implementing this just adds negative value. I'm closing this for that. And this issue is already full with good workarounds I think.

[2017-07-06 09:53] #984 closed

[2017-07-07 11:36] QuentinBrosse opened #2172 "Recode the visualizer"
The current visualizer si functional but might be:
- More performant
- Real-time
- Sexiest (Visually)
- Scalable

That's why I propose a complete recode using React.

I wanted to propose this idea here before code it and send a pull request in order to:
- Get the opinion of the maintainers.
- Ask if the community has requests or needs for this new visualizer.

Thanks :)

[2017-07-07 14:49] programisteshko commented on #2172
+ 1

[2017-07-07 15:13] mfcabrera commented on #1017
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [x] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-07 15:13] #1017 closed

[2017-07-07 15:15] mfcabrera commented on #1073
Closing this as it was fixed by #1791

[2017-07-07 15:15] #1073 closed

[2017-07-07 15:36] mfcabrera commented on #1052
Apparently @erikbern proposal is now an anti-pattern https://twitter.com/paul_irish/status/588502455530311680 - Should we close this @Tarrasch ? or can we explicitly use https for this?

[2017-07-07 15:37] mfcabrera commented on #1132
This was apparently fixed by #1309 so closing

[2017-07-07 15:38] #1132 closed

[2017-07-07 15:39] mfcabrera commented on #1141
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-07 15:39] #1141 closed

[2017-07-07 15:40] mfcabrera commented on #1684
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:40] #1684 closed

[2017-07-07 15:41] mfcabrera commented on #1149
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:41] #1149 closed

[2017-07-07 15:43] mfcabrera commented on #1160
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [x] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-07 15:43] #1160 closed

[2017-07-07 15:43] mfcabrera commented on #1161
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [x] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:43] #1161 closed

[2017-07-07 15:44] mfcabrera commented on #1163
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:44] #1163 closed

[2017-07-07 15:46] mfcabrera commented on #1053
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:46] #1053 closed

[2017-07-07 15:46] mfcabrera commented on #1213
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [x] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:46] #1213 closed

[2017-07-07 15:51] mfcabrera commented on #1236
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:51] #1236 closed

[2017-07-07 15:53] mfcabrera commented on #1007
Closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [x] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:53] #1007 closed

[2017-07-07 15:54] mfcabrera commented on #1282
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:54] #1282 closed

[2017-07-07 15:55] mfcabrera commented on #1239
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-07 15:55] #1239 closed

[2017-07-07 15:56] mfcabrera commented on #1328
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-07 15:56] #1328 closed

[2017-07-07 15:57] mfcabrera commented on #1333
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 15:57] #1333 closed

[2017-07-07 15:59] mfcabrera commented on #1409
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-07 15:59] #1409 closed

[2017-07-07 16:02] mfcabrera commented on #1416
I am closing this. @sadovsky   you may want to take a look at http://luigi.readthedocs.io/en/stable/api/luigi.util.html

[2017-07-07 16:02] #1416 closed

[2017-07-07 16:03] mfcabrera commented on #1450
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 16:04] mfcabrera commented on #1470
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 16:04] #1470 closed

[2017-07-07 16:05] mfcabrera commented on #1407
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-07 16:05] #1407 closed

[2017-07-07 16:20] #1450 closed

[2017-07-07 17:56] Tarrasch commented on #2172
Sounds great. Some input:

 * Add "Tests" do you list of good things.
 * I don't know much frontend myself, your help would be deeply appreciated..
 * Try poking @mivade, he had some thoughts in this issue: https://github.com/spotify/luigi/issues/1622#issuecomment-305658074

In short: Go for it! :)

[2017-07-07 17:58] Tarrasch commented on #1052
Interesting observation with the anti-pattern. I didn't know that. I haven't seen any contributions to d3 lately so this will probably never be picked up. Closing.

[2017-07-07 17:58] #1052 closed

[2017-07-07 18:03] Tarrasch commented on #1409
I think things have gotten slightly better here. Another current effort is to split this repo.

[2017-07-07 19:54] mivade commented on #2172
I think the general idea from the discussion in #1622 was that an incremental approach would be good for getting real-time updates (especially given that this might be a bad thing for some users). That said, when I was looking into this about a month ago, I recall that it seemed to me like quite a bit of work was going to be involved to rearrange some of the parts of the backend to do this. This a

[2017-07-08 03:40] #466 closed

[2017-07-08 03:58] mfcabrera commented on #1401
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-08 03:58] #1401 closed

[2017-07-08 04:00] mfcabrera commented on #1454
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [x] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-08 04:00] #1454 closed

[2017-07-08 04:01] mfcabrera commented on #1516
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-08 04:01] #1516 closed

[2017-07-08 04:02] mfcabrera commented on #1550
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [x] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-08 04:02] #1550 closed

[2017-07-08 04:10] mfcabrera commented on #1353
I tried to lookup information on the assistant. I couldn't find any reference on the documentation. What is it? Is this feature still maintained?

[2017-07-08 04:12] mfcabrera commented on #1668
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-08 04:12] #1668 closed

[2017-07-08 04:16] mfcabrera commented on #1725
I think this is a related of #595.

 I am closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable worka

[2017-07-08 04:16] #1725 closed

[2017-07-08 04:19] mfcabrera commented on #1495
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-08 04:19] #1495 closed

[2017-07-08 04:22] mfcabrera commented on #1748
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-08 04:22] #1748 closed

[2017-07-08 04:25] mfcabrera commented on #1548
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-08 04:25] #1548 closed

[2017-07-08 07:42] Tarrasch commented on #1353
I'll try to fix this and create some docs for this. :)

[2017-07-08 09:39] mfcabrera commented on #1012
ping @Tarrasch @red1ynx  can we create a PR for this. Fix seems trivial here.

[2017-07-08 09:40] mfcabrera commented on #1224
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-08 09:40] #1224 closed

[2017-07-08 15:58] Tarrasch commented on #1012
@pmerienne You can create at PR with this fix included. See our CONTRIBUTING.md file. Good luck! :)

[2017-07-09 06:49] mfcabrera commented on #1553
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 06:49] #1553 closed

[2017-07-09 06:50] mfcabrera commented on #1591
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 06:50] #1591 closed

[2017-07-09 06:52] mfcabrera commented on #1599
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 06:52] #1599 closed

[2017-07-09 06:54] mfcabrera commented on #1387
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ]  The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 06:54] #1387 closed

[2017-07-09 06:57] mfcabrera commented on #1375
@Tarrasch  should I assume this won't be fixed or Should we keep it open?

[2017-07-09 06:59] mfcabrera commented on #1546
Ping @Tarrasch  not sure what to do with this one. Close it?

[2017-07-09 06:59] mfcabrera commented on #1605
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 06:59] #1605 closed

[2017-07-09 07:03] mfcabrera commented on #1617
Hi @slyons could you create a PR for review? What would be a use case for this?. I think this would good for a "contrib" or a external repository outside of Luigi  as right now I can't understand think of a use case myself.

[2017-07-09 07:06] mfcabrera commented on #1615
Closing this as there is already many PRs dealing with this and there is a decision to be made regarding how to handle this properly. See https://github.com/spotify/luigi/pull/1892/files#diff-f5f076fb9da1107cb1221ae176bbc955R91

[2017-07-09 07:06] #1615 closed

[2017-07-09 07:09] mfcabrera commented on #1459
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 07:09] #1459 closed

[2017-07-09 07:10] mfcabrera commented on #1481
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 07:10] #1481 closed

[2017-07-09 07:13] mfcabrera commented on #1629
ping @Tarrasch  @dlstadther should we keep this open?

[2017-07-09 07:15] mfcabrera commented on #1697
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 07:15] #1697 closed

[2017-07-09 07:16] mfcabrera commented on #1665
Closing because it is apparently fixed by #1794

[2017-07-09 07:16] #1665 closed

[2017-07-09 07:20] mfcabrera commented on #1714
Closing as it looks that this issues was fixed by #1765 and #1819

[2017-07-09 07:20] #1714 closed

[2017-07-09 07:22] mfcabrera commented on #1578
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 07:22] #1578 closed

[2017-07-09 07:31] mfcabrera commented on #1114
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 07:31] #1114 closed

[2017-07-09 07:33] mfcabrera commented on #1727
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-09 07:33] #1727 closed

[2017-07-09 07:36] mfcabrera commented on #1739
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-09 07:36] #1739 closed

[2017-07-09 09:06] Tarrasch commented on #1375
I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check

[2017-07-09 09:06] #1375 closed

[2017-07-09 09:07] Tarrasch commented on #1375
I close it. Anyone interested please see https://github.com/spotify/luigi/pull/1429.

[2017-07-09 09:13] Tarrasch commented on #1546
I'll add this to my own todo. :)

[2017-07-09 09:18] Tarrasch commented on #1629
Unfortunately we didn't keep to topic in our discussion. So we might as well create a new ticket whenever the issue araises.

In the meantime, did you find any interesting workaround @dlstadther ?

[2017-07-09 09:18] #1629 closed

[2017-07-09 15:41] dlstadther commented on #1629
This was a long time ago (or at least what feels like a long time). My environment is very different than it used to be so I haven't re-experienced this issue.

Documentation around configuration names and sections definitely need to be fixed, but that's tangental to this issue and should be its own.

[2017-07-09 15:44] dlstadther commented on #1008
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 15:44] #1008 closed

[2017-07-09 15:53] dlstadther commented on #2153
closing this issue.

- [ ] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 15:53] #2153 closed

[2017-07-09 15:55] dlstadther commented on #2122
@Casyfill Feel free to open a PR for each of these desired featured requests!

[2017-07-09 15:58] dlstadther commented on #2060
resolved by #2064

[2017-07-09 15:58] #2060 closed

[2017-07-09 16:03] dlstadther commented on #2052
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 16:03] #2052 closed

[2017-07-09 16:04] dlstadther commented on #2047
@raymondlewallen Any update here? Feel free to open a WIP PR if necessary.

[2017-07-09 16:08] dlstadther commented on #2008
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-09 16:08] #2008 closed

[2017-07-09 16:10] dlstadther commented on #2005
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 16:10] #2005 closed

[2017-07-09 16:10] dlstadther commented on #1984
@sd2k Any update here?

[2017-07-09 16:11] dlstadther commented on #1983
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 16:11] #1983 closed

[2017-07-09 16:12] dlstadther commented on #1966
resolved by #1968

[2017-07-09 16:12] #1966 closed

[2017-07-09 16:14] dlstadther commented on #1957
@daveFNbuck Is this still an issue? Or has it been resolved?

[2017-07-09 16:15] dlstadther commented on #1956
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 16:15] #1956 closed

[2017-07-09 16:18] dlstadther commented on #1940
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 16:18] #1940 closed

[2017-07-09 16:19] dlstadther commented on #1939
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 16:19] #1939 closed

[2017-07-09 16:21] dlstadther commented on #1936
@boombard Status update on PR?

[2017-07-09 16:27] dlstadther commented on #1810
closing this issue.

- [x] It has been inactive for +4 months.
- [x] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [x] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-07-09 16:27] #1810 closed

[2017-07-09 16:27] dlstadther commented on #1807
closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [x] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [x] We need to check if

[2017-07-09 16:27] #1807 closed

[2017-07-09 16:28] dlstadther commented on #1728
Resolved by #1729

[2017-07-09 21:05] #2122 closed

[2017-07-09 21:06] Casyfill commented on #2122
figured out how to overwrite stuff on s3, sorry for taking your time

[2017-07-10 01:07] daveFNbuck commented on #1957
Not sure, I'll check tomorrow. I think I have a fix in my fork, but I probably didn't make a pull request if it's not linked here.

[2017-07-10 09:46] mrjj opened #2174 "Luigi master is falling down due to JSON serialisation errors in task state output."
When task error output containing non JSON-serializable symbols Luigi master is failing.

We are getting following error:

finished run
number of examples per pass = 133
passes used = 4
weighted example sum = 532.000000
weighted label sum = -4.000000
average loss = 0.678752 h
best constant = -0.015038
best constant's loss = 0.693119
total feature number = 368952
WARNING: model file has set of {-q,

[2017-07-10 11:18] Tarrasch commented on #2174
Can you please:

 * fix the formatting of your issue (otherwise we'll have to close it per recent [policy](https://raw.githubusercontent.com/spotify/luigi/master/ISSUE_TEMPLATE.md))
 * add a runnable small example reproducing this?

Also remove any unnecessary information to this issue please.

[2017-07-10 14:42] davidbrochart commented on #595
Hi @ifiddes
I made some changes to @kwilcox 's solution, and added a `force-upstream` parameter, which allows to recursively remove the output files of all the dependencies as well.

[code]

The other way would be useful too: removing the output files of all the tasks that depend on the current task (force downstream). Unfortunately I don't think that a task knows which tasks directly depend on it

[2017-07-10 16:15] sd2k commented on #1984
@dlstadther I've been using a subclass of `CopyToTable` which overrides `create_table`. I'll send a PR.

[2017-07-10 18:11] daveFNbuck commented on #1957
Made a PR for my fix that just ignores the error. I didn't make a PR right away because I was hoping for a better solution.

[2017-07-11 03:41] haisland0909 opened #2178 "Tuple Parameter with string"
When I use Tuple Parameter with string such a
("apple",  "banana")
then, we get the parsed data is
(("a", "p", "p", "l", "e"), ("b", "a", "n", "a", "n", "a"))

parameters.py l.1002
`return tuple(tuple(x) for x in json.loads(x))`
may cause this problem

[2017-07-11 07:55] Tarrasch commented on #2178
I would probably also rename this parameter to something like MatrixParameter or List2DParameter. TupleParameter is a terrible name for what it's currently doing.

[2017-07-11 11:06] haisland0909 commented on #2178
That's great!
And I solved this problem using ListParameter.

[2017-07-11 17:55] wkerzendorf opened #2179 "scheduling large amounts of files"
I've written a Luigi pipeline to extract 1.2 mio files and then do some sed work on them - see 

[code]

If I run this through Luigi on a few thousand files it schedules fine. But running this on the whole dataset it complains with `Failed connecting to remote scheduler`. I was told on SO that luigi can't handle this - but for my use case it would make perfect sense - if Luigi would do it this way

[2017-07-11 17:59] dlstadther commented on #2179
@wkerzendorf Could you provide more of a stack trace? I've received that error message before, but it's been awhile that I can't recall the situation surrounding it.

[2017-07-11 18:10] wkerzendorf commented on #2179
@dlstadther just running the 1.2 mio files and then I can tell you. I'm running it against the scheduler and at some stage it trys to connect to the scheduler and the scheduler doesn't respond.

[2017-07-11 18:22] wkerzendorf commented on #2179
@dlstadther here we go
[code]

[2017-07-11 18:23] wkerzendorf commented on #2179
the scheduler
[code]

[2017-07-11 18:23] erikbern commented on #2179
luigi won't do very well with this – especially since the `yield` construct will re-start the generator from scratch, leading to a O(n^2) with n = 1.2M

we should fix the quadratic complexity at some point, but also Luigi wasn't really built to handle millions of files.

I would try to batch them up in some way – maybe the files have some kind of timestamp or something so that you can batch them b

[2017-07-11 18:26] wkerzendorf commented on #2179
@erikbern yes they are batchable - but I don't really want to. The nice thing would be that it tells me which ones fail and which ones don't. Actually is there a way to just batch things up and run them sequentially?

[2017-07-11 18:27] wkerzendorf commented on #2179
@erikbern these are independent files and the only thing I want is to move them through a pipeline one-by-one. How do I do this?

[2017-07-11 19:19] wkerzendorf commented on #2179
@erikbern So I'm working on making luigi run iteratively on batches using successive calls of `luigi.run` with small batches. Is that a sensible approach?

[2017-07-11 19:36] wkerzendorf commented on #2179
@dlstadther @erikbern okay that seems to work I can just call `luigi.run` over and over again from the script. Thanks

[2017-07-11 19:36] wkerzendorf commented on #2179
happy to close this.

[2017-07-11 19:37] wkerzendorf commented on #2179
actually - it doesn't like this `Pid(s) set([115103]) already running`

[2017-07-11 19:50] Tarrasch commented on #2179
This is too much of a one-person conversation. I'm closing this for now. Feel free to open other issues if you have something more concrete to ask. Luigi doesn't handle millions of simultaneous Tasks like that.

[2017-07-11 19:50] #2179 closed

[2017-07-12 14:28] dlstadther opened #2180 "S3's _get_s3_config() restricts the use of [DEFAULT] ConfigParser section"
## Problem
S3Client implementation of config options prevents the use of `ConfigParser`'s `[DEFAULT]` section.

Due to the implementation of `luigi/contrib/s3.py`'s auto-fill options using all key-value pairs existing in the `[s3]` section within one's specified luigi configuration file, errors are thrown when attempting to utilize Python's ConfigParser `[DEFAULT]` section.

Functionality appears

[2017-07-12 14:39] dlstadther commented on #2180
Solution may be similar to [this SO question](https://stackoverflow.com/questions/2189288/how-to-exclude-defaults-from-python-configparser-items)

[2017-07-12 15:09] dlstadther commented on #2180
Proposal: Make the assumption that S3 connection options would NEVER be included in the `DEFAULT` section, but perhaps interpolation is necessary. If Key exists in both, ensure that values differ.

Something like:
[code]

_Untested_

Thoughts?

[2017-07-12 21:46] wkerzendorf commented on #2179
Just to complete the journey - it seems that recalling run and disabling the lock makes this work with many files. Maybe this proves useful for someone else:

[code]

[2017-07-13 13:19] #1988 closed

[2017-07-13 19:52] themalkolm commented on #459
@Tarrasch wooot! This themalkolm must be very smart to say something like this!

[2017-07-14 17:04] zenghz opened #2183 "Move HDFS file to encrypted zone failed."
Get error message when using `HdfsTarget` as output because `/tmp` is under unencryption zone and the destintation is under encryption zone.
---stderr---
mv: /tmp/data-matrix-luigitemp-720632922 can't be moved into an encryption zone.

Fixed by changing the `abstract_client.py` line 42, in `rename` from
    ```return self.move(path, dest)```
to
[code]

[2017-07-14 20:11] Tarrasch commented on #2183
I close this as this is just some work-around information, perhaps handy for someone with a similar. I close this as I see no action to be done here.

[2017-07-14 20:11] #2183 closed

[2017-07-18 11:54] Benyuel commented on #1617
I've created/use something with a very similar purpose as slyons implementation.  An example is if I want to run a pipeline that has 3 tasks: Task 1 reads data, Task 2 processes it using a ML algorithm developed within spark, Task 3 writes/handles the output, Task 4 runs arbitary sparkSQL(file on HDFS) on the output.  If I want to run all of this using luigi within one pyspark context, I don't thi

[2017-07-22 15:18] QuentinBrosse commented on #2172
@mivade "React is flexible and can be used in a variety of projects. You can create new apps with it, **but you can also gradually introduce it into an existing codebase without doing a rewrite**."

You can find more information about the subject [here](https://facebook.github.io/react/docs/integrating-with-other-libraries.html#integrating-with-other-view-libraries).

If it is possible possible wi

[2017-07-22 15:30] Tarrasch commented on #2172
As a maintainer I would in general prefer that you contribute the "green+red" patches first. Basically refactoring/recoding the existing functionality rather than introducing new features. I'm more hesitant to merge pull requests with only code additions, as I'm always afraid that a new enthusiastic contributor suddenly disappears, and we're suddenly left with even more features to maintain. It wo

[2017-07-22 15:51] QuentinBrosse commented on #2172
@Tarrasch Do you speak about the `tox -e visualiser` command ? :)

[2017-07-23 19:02] Tarrasch commented on #2172
@QuentinBrosse well yea, I would really like if the frontend to be tested somehow (also on Jenkins). I'm not sure what `tox -e visualiser` is testing.

[2017-07-24 13:35] mivade commented on #2172
I'm not an expert on frontend testing by any means, but there are plenty of Javascript testing frameworks (Facebook seems to use [Jest](https://facebook.github.io/jest/) for React). That would at least allow unit testing of basic functionality. Then if you want to test UI stuff, there are things like [Selenium](http://docs.seleniumhq.org/).

[2017-07-24 16:07] Tarrasch commented on #2172
@mivade oh yea, this is definitely a matter of doing rather than asking if it's doable. :)

[2017-07-25 12:43] QuentinBrosse commented on #2172
@Tarrasch `tox -e visualiser` do all of this tests:
**PhantomJS Tests**
[code]

**PhantomJS Tests**
[code]

Many of these tests apparently have problèmes.

Yes, Jest + Selenium + React is a perfect combo for a testable modern web application. (Particularly with the state tree of Redux.) :)

So I think we can fix the 13 failing actual tests before begin the React part if you prefer ?

[2017-07-25 12:58] Tarrasch commented on #2172
@QuentinBrosse That would be a great start. In addition to check that there are not spurious failures (which caused me to disable the tests before).

[2017-07-31 13:39] #2180 closed

[2017-08-01 15:36] K-Mike opened #2194 "SQLAlchemy concurrent DB access"
It appears that database access via `SQLAlchemy` (`PyMySQL` engine) gets broken if using more than 1 worker:

[code]
Tried recommended multiprocessing guards: http://docs.sqlalchemy.org/en/rel_1_0/faq/connections.html#how-do-i-use-engines-connections-sessions-with-python-multiprocessing-or-os-fork

The standard multiprocessing implementation where each process calls a single task via `luigi.build(

[2017-08-01 17:09] kenben opened #2195 "`rdbms.CopyToTable.create_table` fails silently when `columns` is a list of strings"
`CopyToTable` expects you to overwrite `columns`. According to the [docstring](https://github.com/spotify/luigi/blob/master/luigi/contrib/rdbms.py#L66), `columns` needs to be a list of strings or a list of `(column name, column type)` tuples.

However, to determine if column types have been provided or not, it [`create_table()`](https://github.com/spotify/luigi/blob/master/luigi/contrib/rdbms.py#L

[2017-08-01 17:36] henryrizzi commented on #2195
This is a nice catch!
Feel like you could fix this by adding this into that check:
[code]

[2017-08-01 18:56] dlstadther commented on #2195
@kenben Nice catch! Feel free to submit a PR!

[2017-08-02 13:54] murali6688 opened #2198 "AssertionError: PID check failed. RNG must be re-initialized after fork(). Hint: Try Random.atfork()"
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/luigi/worker.py", line 172, in run
    missing = [dep.task_id for dep in self.task.deps() if not dep.complete()]
  File "/usr/local/lib/python2.7/site-packages/luigi/task.py", line 547, in complete
    return all(map(lambda output: output.exists(), outputs))
  File "/usr/local/lib/python2.7/site-packages/luigi/task.p

[2017-08-02 13:54] murali6688 commented on #2198
Scripts works perfectly fine on windows but fails on linux

[2017-08-02 14:22] dcheck commented on #1905
We're running into this as well.  We see this behavior a lot when two database jobs run simultaneously.  Here's how is happens:

1. **Job 1 Starts.**  It opens a transaction and begins a long running process such as a table load from s3.
2. **Job 2 Starts.**  It opens a transaction and begins a shorter process than Job 1.
3. **Job 2 Finishes.**  As part of finishing, it performs a `touch` on the m

[2017-08-02 14:28] dcheck commented on #1905
[This solution](https://github.com/glossier/luigi/issues/2), btw -- just removing the `assert` from `touch` -- seems to solve the issue.  The only thing it misses, I think, is the third condition above.  Does anyone think it's worth the added complexity that would required to guard against that condition?

If no one responds affirmatively, either @cabouffard should bring his solution over here as

[2017-08-03 14:03] dcheck commented on #1905
Thanks submitting the PR @cabouffard!

[2017-08-03 15:58] cabouffard opened #2200 "Tasks get stuck in running state without them actually running"
Hey ya,

We've been hitting a bug recently that we have trouble figuring out. It may be something wrong that we've done in our tasks but I'm hoping that this ill ring a bell to someone else so that we can get to resolve this.

We have a set of tasks that get started by a `crontab` given a certain interval. The cron is able to launch the Luigi tasks but they never actually do anything. What I mean

[2017-08-04 13:21] guettli opened #2201 "I am missing a note about the data storage"
I read the first lines of this page:
   https://github.com/spotify/luigi

I am missing a note about the data storage.

Where do the pending/running/done jobs get stored? In memory, in a database ...

Is it possible to use PostgreSQL for storing the jobs?

[2017-08-04 13:31] colemanja91 opened #2202 "Feature: Integration with Databricks API"
Databricks (Spark-as-a-service) recently added native support to Airflow for their Jobs API (https://docs.databricks.com/api/latest/jobs.html, https://databricks.com/blog/2017/07/19/integrating-apache-airflow-with-databricks.html).

I'd like to work on adding a similar functionality to Luigi as a new contrib submodule. Still thinking through what targets/outputs would be, will add thoughts here as

[2017-08-04 14:28] niko-d opened #2203 "Sending notifications to Hipchat, Slack, etc."
**I struggle with sending descriptive notifications to hipchat.**
_(descriptive=task, host, traceback)_

The README.rst says that [Hubot Integration](https://github.com/Houzz/hubot-luigi) provides that feature but I have found nothing helpful there.
**I know the issue was mentioned before** (in terms of Slack)
[hudl/luigi-monitor](https://github.com/hudl/luigi-monitor)
[bonzanini/luigi-slack](http

[2017-08-04 19:48] Tarrasch commented on #2201
Those are stored In memory. There's actually traces of an attempt of making it "persistable" in the scheduler code.

[2017-08-05 01:52] citynorman opened #2204 "`output()` executes before `requires()`"
I'm getting an error running the below where `output()` executes before `requires()` causing an error because the file doesn't exist. I'm confused why does `requires()` run before `output()` and is there a way to deal with the situation?

`

    class BTask(luigi.Task):

        def output(self):
            #==> this executes before requires() with an error
            df_in = pd.read_pickle(self

[2017-08-05 02:51] erikbern commented on #2204
output should run before `requires()`. it runs to check whether the task is already completed

[2017-08-05 02:52] erikbern commented on #2204
in your example above, you should probably make the `df_in` a parameter or alternatively use dynamic dependencies on another task where `df_in` is a parameter

[2017-08-05 14:10] citynorman commented on #2204
Thanks @erikbern ! I actually call `output()` in `complete()` if I take those lines in `complete()` out it doesn't call `output()` before `require()`
`
class BTask(luigi.Task):

    def output(self):
        #==> this executes before requires() with an error
        df_in = pd.read_pickle(self.input()['df_in'].path)
        return [luigi.LocalTarget('file%s.csv'%str(iDate) for iDate in df_in['date

[2017-08-05 14:10] #2204 closed

[2017-08-05 17:48] erikbern commented on #2204
i think this seems a bit un-idiomatic. off the top of my head what I would do is something like

* let `BTask() depend on ATask()`
* inside `BTask.run`, read the `df_in` of `ATask()`, and require a number of third task `CTask(iDate)`
* do all the processing inside the `CTask`

[2017-08-06 05:17] a1xt06 commented on #2202
I think a DatabricksSparkSubmitTask using Databricks' Jobs API and another module that could kick-off a cluster using Databricks' Cluster API would be very useful.

[2017-08-06 13:56] colemanja91 commented on #2202
@a1xt06 I hadn't thought about kicking off a cluster! Might take a pass at that too. Was also wondering if having a set of DBFS targets would be helpful.

[2017-08-06 17:15] a1xt06 commented on #2202
DBFS targets might be useful, but as a first pass, using Luigi's S3Target for targets would probably be enough, especially considering most DBFS endpoints will be associated with mounted s3 buckets. I'm guessing doing DBFS endpoints would require using Databricks' DBFS API, and I haven't looked into that API.

At the same time, it might be nice to have DBFS endpoints as a part of a roadmap, consid

[2017-08-07 06:55] guettli commented on #2201
I think this is a fundamental thing. I think this should be mentioned in the README.

But this is your project and your docs. I am just curious.

[2017-08-07 09:18] Tarrasch commented on #2201
@guettli, actually the readme haven't been "reinvented" in a long time. Maybe we should consider that. But a first step would be just to mention this thing in the docs.

[2017-08-08 14:56] mayou36 commented on #2043
I agree that for production use this is usually not required. Although for scientific purposes it is crucial. Changing one parameter in a row is *the* application of pipeline tools. I would definitely vote for a (by default deactivated) feature like that.

@LeiShi did you come up with a nice solution already? If so, would you mind to share it somehow?

[2017-08-09 16:37] LeiShi commented on #2043
Hi @mayou36 ,

I have asked this on StackOverFlow a while ago, and accepted the answer.
https://stackoverflow.com/questions/42465710/can-python-task-scheduler-luigi-detect-indirect-dependencies

As mentioned in the comment section of the above link, the answer may not be the most efficient solution. I haven't put much more consideration on this issue since then because, in my case, efficiency is n

[2017-08-10 08:17] mayou36 commented on #2043
@LeiShi thanks for that! Sure, but I guess we are using it for similar cases ;) I think as long as the dependencies are rather deep then broad (as it is in the case of a data analysis pipeline where you have a dataset and basically apply 10-20 steps involving only a couple of different datasets), the efficiency of this approach ain't a problem.

[2017-08-14 13:06] pavel-popov opened #2209 "RPCError: Received null response from remote scheduler"
Hi Luigi community,

Often I get Workers failing with error:

[code]

The reason for this is unclear, but it definetely takes place when scheduler is under load. Examples when I observe these failures:
- lone Worker started with 10 worker processes, overall graph contains several hundred tasks to be processed. Worker processes start working. After increasing number of worker processes from GUI fro

[2017-08-14 13:30] pavel-popov commented on #2209
I made a test with gradually increasing number of workers-processes from 10 up to 30 by 1 or 2. After 32 processes Worker died and in GUI there is a message "2 unread message(s)" near "Disable" worker button.

On the server where Worker is started I have 40 CPU and 252 Gb RAM - server utilization is near 0 during all time Worker was running.

[2017-08-14 19:20] Tarrasch commented on #2209
Perhaps check the code-paths related to "changing number of workers" if there's anything that potentially could be a bug.

[2017-08-15 14:45] alkhamush opened #2211 "Task doesn't check existence of data from output()"
# Problem description

There is a problem that Task checks existence of data from output() just before constructing the execution graph, but doesn't check it immediately before run().

# Issue

Does the built-in check mechanism exist in luigi?

[2017-08-16 11:58] subesokun commented on #2154
After debugging I've noticed that the bug is caused by a wrong usage of the `requests` library.

https://github.com/spotify/luigi/blob/a69dffb48dd6401261e764ffbf06c2d3b9ad4cd3/luigi/rpc.py#L85 You're passing in the GET request query arguments via `data=body` but a GET request has no body. Instead you should use `params=body`. Hence the server doesn't receive any query arguments and is failing with

[2017-08-16 20:21] Tarrasch commented on #2154
Would you mind creating a PR fixing this @subesokun ?

[2017-08-18 15:55] mattvonrocketstein opened #2212 "securing the scheduler"
I'm not sure, but it seems like workers communicate with schedulers via the same HTTP port as an admin would use to check out the task visualizer.  Is there any authentication involved in this process?  Can I front the scheduler with nginx to add SSL or basic auth, without disrupting communication with workers?

[2017-08-22 08:23] aschmu commented on #1116
I think this is weird that there's no abort button. Do people who use luigi in production have custom scripts to handle this case ?

[2017-08-22 18:02] Tarrasch commented on #1116
@aschmu, it was recently added in Luigi (not sure if it's released yet).

I do think you still need to do some manual hacking and have some understanding on where stuff is running and how to cancel it to operate luigi.

[2017-08-23 13:13] tyrant0604 opened #2214 "how to write protobuf message with luigi?"
reducer is like:
reducer(self, key, values):
    ......
    ins = instance_pb2.Instance()
    serialized_ins = ins.SerializeToString()
    yield [ serialized_ins ]

Traceback (most recent call last):
  File "mrrunner.py", line 97, in <module>
    main()
  File "mrrunner.py", line 90, in main
    Runner().run(kind, stdin=stdin, stdout=stdout)
  File "mrrunner.py", line 55, in run
    self.job.run_r

[2017-08-23 20:16] Tarrasch commented on #2214
Closing as of this is a poorly formatted issue. Please see the issue-template.

[2017-08-23 20:16] #2214 closed

[2017-08-23 20:44] sdhutchins opened #2215 "TypeError: a bytes-like object is required, not 'str' with SGEJobTask"
I'm trying to run the following code as a test.

[code]

I continue to get the following error:

[code]

Any suggestions about what is causing this TypeError `TypeError: a bytes-like object is required, not 'str'`?

@jfeala

[2017-08-24 02:30] tyrant0604 opened #2216 "how to write protobuf message with luigi?"
# Error
' Traceback (most recent call last):
  File "mrrunner.py", line 97, in <module>
    main()
  File "mrrunner.py", line 90, in main
    Runner().run(kind, stdin=stdin, stdout=stdout)
  File "mrrunner.py", line 55, in run
    self.job.run_reducer(stdin, stdout)
  File "luigi/contrib/hadoop.py", line 1006, in run_reducer
    self.writer(outputs, stdout)
  File "luigi/contrib/hadoop.py", line 8

[2017-08-24 18:46] shaynewang opened #2218 "Windows Error: Cannot open output with format parameter specified"
My output definition is:
[code]
But when I try to open the output file to write I get the error below:
[code]
Line here is the cause to the problem, do we need to close file descriptors if the platform is mswindows?:
https://github.com/spotify/luigi/blob/bb9c8f94314c91306475cb568a62d106788a106e/luigi/format.py#L103-L107

luigi (2.6.2)
Machine: Windows 7
Python 2.7.11 |Anaconda 4.0.0 (64-bit)| (def

[2017-08-25 11:18] #1905 closed

[2017-08-25 12:36] #1984 closed

[2017-08-25 12:43] Tarrasch commented on #2212
There's two issues here right? I think the HTTP and not a secure protocol issue is already fixed. You can use unix sockets somehow (I've not done it myself).

The second issue of having authentication, different users seeing different set of tasks, only admins being able to turn of the scheduler etc is not implemented tough. I don't find it realistic to be done anytime soon. :)

[2017-08-25 13:08] Tarrasch commented on #2172
@QuentinBrosse nice work on that first commit merged! I love that you start small and get something merged. Looking forward to more good stuff. :)

[2017-08-25 15:30] imalkov82 opened #2220 "Create and share parameter inside Task class"
I wish to create common class inside the my Task class and use it across all functions.
I fail to do it because (1) I can't create the parameter as luigi parameter in class constructor  and (2) if I create the parameter inside function and assign it to **_self_**, the parameter not visible to other class functions.
Can you assist me how its done?

Use case example:

[code]

Thanks

[2017-08-28 20:28] dckc commented on #2194
I routinely use SQLAlchemy with 24 workers.

I'm connecting to Oracle, though it's not clear to me why that should matter.

Are you using the `luigi --workers=2` CLI to create your workers? or something else?

[2017-08-28 20:30] dckc commented on #2171
Easier in what way? What pain point would this be addressing?

From the perspective of a user, I can only see costs.

[2017-08-28 20:37] dckc commented on #2047
I spent _hours_ figuring out why I couldn't get direct path loads in Oracle inserts inside luigi. It turned out to be a sqlalchemy thing, but just in case it helps other luigi users: `twophase` defaults to on and causes everything to run inside a transaction (which conflicts with direct path loads somehow). Turning it off was kinda kludgy, but it worked:

https://github.com/kumc-bmi/grouse/commit/

[2017-08-28 20:41] dckc commented on #2043
I ran into this same issue, but overriding `complete()` to do belt-and-suspenders checking (as noted in #issuecomment-283505738) was reasonably straightforward.

A mention in the docs would be nice, but otherwise, I suggest you close this as not-a-bug or wontfix or whatever. I'd prefer that to leaving this open indefinitely.

[2017-08-28 20:43] dckc commented on #2043
p.s. I sorta forgot how `complete`, `requires` and `output` and `task_id` relate today... if I depend on more tasks, does my id change? (answer: no)

The fact that the docs link right to the source and the source of each of those methods is just a handful of lines worked just fine for me.

[2017-08-28 20:46] dckc commented on #2035
bump. this looks ready to close as not-a-bug or whatever.

(are these triage comments helpful? Is there another way to help?)

[2017-08-28 20:53] dckc commented on #2164
FWIW: I worked around this by moving the password to an environment variable and using the parameter to name the environment variable.

[2017-08-28 21:01] dckc commented on #2212
My first thought was to add a big notice near this in the docs...

But then what would the notice say? I can't think of anything that doesn't come down to "The default configuration for luigid is insecure" which seems more like a bug to be fixed than a feature to be documented.

How about listening only on the localhost interface by default?

[2017-08-28 21:18] mattvonrocketstein commented on #2212
I don't think anything like a full blown user model is necessary (or even useful), maybe just a simple shared secret between the workers/scheduler?

IMHO, not necessarily a bug as long it's mentioned up front that the only recommended deployment strategy is into a VPC.

Definitely more secure, but also less useful by default, so it doesn't seem very friendly.  Obviously this would prevent remote w

[2017-08-28 23:58] aldanor commented on #2164
I'm also wondering about this. Could insignificant parameters be hidden from the GUI?

[2017-08-29 03:07] dckc commented on #2212
Ok, that's a useful notice for the docs:

[2017-08-29 06:43] zwotzie opened #2223 "HdfsTarget is not workging in luigi > 2.6.1"
This code runs correct under luigi <= 2.6.1:

[code]

with luigi 2.6.2 or 2.7.0 it breaks:
[code]

client.cfg:
[code]

The file is correct in form and content written in "tmp_dir" (/x/tmp/username/test/file.gz-luigitemp-951771388).

[2017-08-29 08:01] mayou36 commented on #2043
Well, I would leave it open, as it is a reasonable feature request. Probably someone starts implementing something at some point.

[2017-08-29 08:09] Tarrasch commented on #2035
Yep, seems like #2091 fixed this!

It definetly is @dckc :)

[2017-08-29 08:09] #2035 closed

[2017-08-29 08:16] Tarrasch commented on #2043
@mayou36, in favor of less maintinership burden, we try to close eagerly, and let anyone who's willing to do the work to pick it up. :)

--------------------

I'm closing this issue.

- [x] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner h

[2017-08-29 08:16] #2043 closed

[2017-08-29 08:32] Tarrasch commented on #2171
@dckc, I think the main motivations for me would be:

 * Travis would run tests much faster - This is obviously a solved problem among Google and Facebook Inc, where they use monorepos. But I'm not sure if Travis handles it as well. Currently the `.travis.yml` file is cluttured and I suspect it scares away contributors.
 * The dependencies in the pip-package could finally start to make sense, and

[2017-08-29 10:09] zwotzie commented on #2223
my best guess is that this is the change which breaks it:

https://github.com/spotify/luigi/commit/a2f63c6b5968e09d0762c1edf27b90ca45cbae35

[2017-08-29 14:33] debovis commented on #1654
@steveaft Any luck getting luigi to run in pycharm?

[2017-08-29 15:18] dckc commented on #2171
Thanks for filling me in on the background. You sold me at "Travis would run tests much faster".

The cost for users like me would be installing the extra bits -- AWS, say. It's most likely a small cost and so far, for me, hypothetical. I don't use AWS or the others yet.

[2017-08-29 15:22] dckc commented on #2043
I support closing this as by design, but from the summary views, all one sees is the closed status and the feature request label, so it looks like it's a feature that's been added. I suggest a not-a-bug or by-design or wontfix label.

Also, it's not clear to me how to reopen an issue. I suspect only authorized collaborators can do that.

[2017-08-29 18:15] dlstadther commented on #2043
@dckc Only repo owners (or those with write access) and issue owners can reopen.

[2017-09-01 17:26] alanjds commented on #372
We are being bitten by problems with logs too. Is there some real-time chat you prefer to talk?

[2017-09-05 20:39] langelgjm commented on #2164
Title should be "**In**significant parameters shown in GUI"

I think the culprit is that in several places, the [Task.to_str_params()]( https://github.com/spotify/luigi/blob/50838d0aec0a13d48749fe63be069241dbaed085/luigi/task.py#L472) method is called with the default only_significant=False argument.

E.g., in [notifications.py](https://github.com/spotify/luigi/blob/50838d0aec0a13d48749fe63be06924

[2017-09-14 01:14] xelibrion commented on #1344
@ouanixi how is it progressing mate?

[2017-09-17 14:51] QuentinBrosse commented on #2172
@twalwyn So, it's now time to rework the backend in order to include websocket (with Tornado) or you want to start with something else ?

[2017-09-18 14:35] MihailRussu opened #2234 "Getting rid of repetitive "Starting pruning of task graph" / "Done pruning task graph" log entries"
Is there a way to get rid of the repetitive `Starting pruning of task graph` / `Done pruning task graph` log entries? Or is there a reason they show up, about 1 per second (on 16core / 16 workers set up)?

[2017-09-18 19:34] peteawest opened #2235 "Allowing custom luigi.Config parameters to update port"
I'm creating this issue after follow up from a recent luigi google discussion post.

When creating a .cfg file and setting the port in the .cfg file within the LUIGI_CONFIG_PATH, I see that it works to some degree:

[pete.west@chi-ldvd085 pipes]$ pwd
/home/pete.west/pipes
[pete.west@chi-ldvd085 pipes]$ ls
1  client.cfg  logging.cfg  testing.py
[pete.west@chi-ldvd085 pipes]$ cat client.cfg
[core]
d

[2017-09-19 10:08] lesn-v commented on #2059
Hi,
do you plan fixing it any time soon?

[2017-09-19 10:55] dlstadther commented on #2059
@lesn-v Feel free to take a stab at fixing this is you'd like! All contributions are welcome!

[2017-09-19 13:28] lesn-v commented on #2059
Just added a workaround param to be able to limit the number of files to be deleted per operation. I know it's not the best solution, please let me know if you think something better can be done here.

Thank you!

PS. I'm not good at contributing to opensource projects..

[2017-09-21 14:12] ethervoid commented on #2194
@K-Mike I'm dealing with the same problem. In our case I'm pretty sure is because we're sharing the `Session` object between the parent and the child processes and that don't work very well even calling the `dispose` method in Engine, re-creating the child processes session objects and so on.

[2017-09-22 13:46] orlovk commented on #2200
Hi. Have you managed to solve this? I have the same problem, and I'm using pyton 2.7, so the reason is elsewhere, not in the python version.

I replaced str on repr in line 1008 and now it looks like it's working:
more_info = {'task_id': task.id, 'worker': repr(other_worker)}

but the question is still open

[2017-09-22 13:50] cabouffard commented on #2200
@orlovk Unfortunately we've been unable to solve the issue. We were getting the error I posted above when running Luigi through a Docker environment.

In order to remedy the problem we've created a temporary EC2 machine that contains Luigi and its dependency and we've been able to run Luigi successfully. The set-up is less than ideal because it doesn't allow us to easily redeploy a new version of

[2017-09-22 13:52] orlovk commented on #2200
That's right, I get the error while running luigi inside a docker.

[2017-09-24 22:58] QuentinBrosse commented on #2172
@Tarrasch So, it's now time to rework the backend in order to include websocket (with Tornado) or you want to start with something else ?

[2017-09-25 20:19] jasonmay opened #2237 "UserWarning for parameter type mismatches should provide a stacktrace"
If you create a task with a single parameter that is a default (string) parameter and assign it a non-string, such as a dict or list, it gives this error:

It appears this is due to the fact that parameters are de-coupled from tasks and have a one-way attachment. This might be worth keeping a reference of the parameter name, task, etc. so that it can be included in the exception. With a large code

[2017-09-26 01:30] erikbern commented on #2237
maybe fix the issue and create a pull request :)

[2017-09-26 01:39] jasonmay commented on #2237
that's the plan! created this in case someone gets to it before i can

[2017-09-26 12:29] cherepanovic opened #2238 "pipeline as a final state machine"
Hello dear friends,

assume, I have these tasks T1, T2, T3, T4 and I am going to create a pipeline for instance like this one

T1 -> T2 -> T3 -> T4

my questions, to which I could not find any answer, are:

- is it possible to start the pipeline, which will run until task T2 and then will wait for a new trigger and after that it will be executed the task T3 and T4?

It should be a pipeline which r

[2017-09-27 03:35] Jimexist opened #2240 "luigi parameter value column is set to limit size of 256"
But we need values longer than that. Can the limit be raised? In postgres this can just be `TEXT` type.

[2017-09-28 08:49] jamesmcm commented on #2047
With the merged PR #2242 in the future you will be able to set the autocommit property to True for the RedshiftQuery that runs the VACUUM (and other such operations), this solves the Redshift case at least.

[2017-09-28 11:04] #2047 closed

[2017-10-01 19:41] Tarrasch commented on #2237
This is actually partially solved in 2.6.2, I updated the [release notes](https://github.com/spotify/luigi/releases/tag/2.6.2) :)

[2017-10-02 02:14] TMaYaD commented on #2234
Is there any reason these are INFO level instead of DEBUG?

[2017-10-02 07:22] #2203 closed

[2017-10-02 08:59] jamesmcm opened #2244 "Redshift COPY should use the columns defined"
Currently the Redshift COPY is not using the defined columns (if present) - these are only used in table creation. This means that the COPY job relies upon the order of the columns being the same as in the CSV file.

This is a big problem, as it can cause data to be inserted into the wrong columns.

## Example

For example, imagine we are importing two fields from a pull from another DB via a CSV

[2017-10-02 09:04] jamesmcm commented on #2244
See PR #2245

[2017-10-03 12:12] WhoisDavid opened #2246 "Central scheduler configuration vs pipeline configuration"
It would be useful to add a flag in the Configuration documentation to indicate whether the parameter requires a restart of luigid to be taken into account. e.g, resources or remove_delay or whether it can be updated by the configuration of a pipeline.

This is problematic when using different config files for the scheduler and the pipelines as one could be mislead into thinking that the latest co

[2017-10-03 14:35] simonm3 opened #2247 "is it possible to use logging when workers>1?"
Any logging messages in the "run" method of a task are lost when workers>1. Is there a way to get logging to work across multiple workers?

Example logs to file and screen as per my logging config with workers=1. However with workers=4 the "run" messages are lost.

test.py contains

[2017-10-05 14:35] simonm3 commented on #2247
I have a workaround for this which is OK but still requires a function call at the start of every run function. Would be better if included in luigi.

[code]

[2017-10-09 19:35] jamesmcm commented on #2244
Merged now :) If using the columns variable be sure to set them to match your Redshift table.

[2017-10-09 19:35] #2244 closed

[2017-10-10 15:04] jamesmcm commented on #2238
What exactly would your triggers be?

You could achieve this by creating dependencies on tasks which are just checking for the triggers and then terminating. I.e. if you want to trigger it by an SQS message, then have T2 also depend on
a task AUX2 which just sits polling SQS until it sees the message.

Or this could be a task that listens on an open port, etc.

Could you explain more about what yo

[2017-10-11 17:01] evanfwelch commented on #1344
Hey @ouanixi and @erikbern

Is anyone working on upgrading to boto3? I'm more than happy to do this when I get some time next week but don't want to duplicate others work

[2017-10-11 17:08] dlstadther commented on #1344
@evanfwelch , @ouanixi had been working on it, but his current progress (to my knowledge) is in #2149. However I'm not sure he's had much time to work on it lately.

If you have the time, feel free to work on it and reference as much as the pre-written code as you feel is necessary. All contributions are welcome!

[2017-10-12 00:33] citynorman commented on #859
Sorry for possibly being off topic but this is the closest to answering a question I had: is there are way to run luigi tasks without the command line args? I'm calling luigi from inside python code and have a list object I would like to pass in. Seems I can do something like `MyTask([1,2]).run()` but not sure if that's best. For one thing that method is not producing any log output.

[2017-10-12 00:38] citynorman commented on #859
Nvm answered my own questions. In case someone comes across it's `luigi.build([MyTask([1,2])], local_scheduler=True)`

[2017-10-12 01:38] citynorman opened #2252 "Multiple calls of RemoteFileSystem.get() ineffieciently log in and out"
Not sure if I am using `luigi.contrib.ftp` correctly but it's extremely slow to download multiple files because of repeated logins. There are way to use a shared connection between subsequent calls of `RemoteFileSystem.get()`?

Checked out [ftp_experiment_outputs.py](https://github.com/spotify/luigi/blob/master/examples/ftp_experiment_outputs.py) but that's just for one file

PS FTP sucks!

    fr

[2017-10-12 11:12] dlstadther commented on #2252
@citynorman I agree that the ftp module here is less than optimal. It has been a bit neglected and could really use a refactor. Please feel free to contribute back with better code! It would be much appreciated!

[2017-10-13 00:37] mattmcknight commented on #2247
I haven't run into this problem despite many workers and a lot of logging, does it only occur when you have two log targets?

[2017-10-13 07:58] simonm3 commented on #2247
There are no log handlers defined when I start the "run" method. I have no_configure_logging=True as I want to set my own logging  settings - but really I want to only set them once! I am on windows 10.

Works fine with 1 worker. Also my workaround work fine too - which I updated as below so it now works better if anyone else has this problem and it is not fixed.

[code]

[2017-10-13 14:25] mattmcknight commented on #2247
Here's what I have that works with multiple handlers and multiple workers, maybe you can work backwards from this:

[code]

run at command line with:

`PYTHONPATH=. luigi --module logging_test ParentTask --workers 4`

[2017-10-13 21:27] simonm3 commented on #2247
Thanks Matt,

That does work. However if I run the loggingtask directly rather than
parentclass then there are no logging messages which seems odd.

In my original case I am running from a jupyter notebook and wanting the
log messages to appear in the cell output using the log settings from the
jupyter notebook rather than setting them in the file.

simon

On 13 October 2017 at 15:25, Matt McKnigh

[2017-10-14 11:39] nehaljwani opened #2256 "Remove/fix (invalid?) entrypoint: luigi-migrate"
[code]

[2017-10-14 11:44] nehaljwani commented on #2256
Commit 66ff3c5f8259f62f4540097629b7600834bb5b29 had already removed the file luigi/tools/migrate.py

[2017-10-14 16:18] #2256 closed

[2017-10-14 16:22] #2234 closed

[2017-10-16 08:52] ypriverol commented on #1936
Any progress on this. Would be great to have support for LSF clusters in Luigi.

[2017-10-16 17:14] nugend commented on #2238
Luigi will continue to retry internal tasks indefinitely. You may want to tweak the settings in terms of how many times it retries before pausing for a while.

If you want to retry external tasks (like LocalTargets), you should enable retry_external_tasks

[2017-10-16 17:59] nugend opened #2259 "Adjusting the worker rank function to use last modified time rather than submitted time"
Currently it accounts for the assigned rank and the submitted time. But in large graphs, this can lead to the most recently added tasks *only* executing (since their retry timeout expires before the other tasks are attempted). We're trying this out locally to determine if it works for us.

Does anyone foresee any unanticipated side-effects?

[2017-10-17 09:59] cherepanovic commented on #2238
I switched to another work flow program

Thank you guys!

[2017-10-17 15:33] marlonwc3 commented on #744
Updating this thread!

[2017-10-17 16:02] marlonwc3 commented on #744
I'm also confused if is this a feature or a bug.
If thats the purpose, the doc could explain that negative values can't be used

I'm also confused about the comment in the: [code](https://github.com/alsa/luigi/blob/master/luigi/scheduler.py#L469-L480)

If this is true, and we want to use negative values, an way to handle this could be: Default value is set to be a very small negative number (-10^9

[2017-10-17 23:08] vinaybabunaidu opened #2261 "Failing execution_summary"
Hi all,
I am currently facing an issue with the execution_summary where the attributes is of below format.
`attributes = set([datetime.datetime(2017, 8, 4, 0, 0), datetime.datetime(2017, 8, 3, 0, 0)])`

Error :
[code]

[2017-10-17 23:12] vinaybabunaidu commented on #2261
a follow up question; what should be the `param_class` value ?

[2017-10-18 17:20] #2261 closed

[2017-10-18 17:42] sknopp opened #2263 "run tasks only at specific times"
Hi, is it possible to implement a feature so one can set times at which Tasks should run/not run?
I think of a globally set config parameter or/and a per task configuration (like priorities).

Use case:
I need to implement some copy jobs which copy a large amount of data through a network and i don't want to slow down the network at working hours. So a longer running task should be paused or cance

[2017-10-20 13:49] mattmcknight commented on #2247
I get the logging messages running the LoggingTask directly with four workers. (it's just that there is only one set because there is only one task). Make sure you delete the output0 file or whatever param you pass in for item.

[2017-10-20 14:55] simonm3 commented on #2247
You are right. Sorry must have forgotten to reset the output. It does work
with 4 workers but only if logging settings are made in the file - which is
not always the case e.g. if you are running a notebook. Also even when
settings are made in the file then the streamhandler does not pass these
back from the run method to the notebook.

On 20 October 2017 at 14:49, Matt McKnight <notifications@gith

[2017-10-22 23:50] simonm3 opened #2264 "documentation correction for status message"
On this page it says self_status_message is a function.

https://luigi.readthedocs.io/en/stable/tasks.html

self.set_status_message("Progress: %d / 100" % i) should be self.status_message = "Progress: %d / 100" % i

[2017-10-23 11:33] dlstadther commented on #2264
Please submit a PR if you believe something is incorrect and needs to be changed! Thanks!

[2017-10-24 17:23] MihailRussu opened #2268 "Debugging "Task died unexpectedly with exit code -9""
I have a task that requires ~50 other tasks.

Input data is consistent. Very often I am seeing the following

[code]

on about ~3-5 tasks (out of 50).

re-running luigi second time with the same params will usually successfully complete the failed tasks. Rarely I'll need to re-run the command the third time as sometimes FAILED tasks will occur on second run.

There is no traceback at all nor anyth

[2017-10-25 16:10] rhaarm commented on #2164
Is someone working on a PR for this?

[2017-10-26 10:33] Gr1f0n6x opened #2270 "Configuration - Postgres section - explicit schema definition"
Hello!
In current version of configuration file it's impossible to define explicitly table schema only if i add schema as a part of future table-name like this:
`[postgres]
marker-table=schema.table-name`

What if we add additional parameter for postgres (or maybe for others DB too) like
`marker-schema=schema`

It will be very useful for many cases, because of now it depends on postgres' **search_

[2017-10-27 11:13] atharvai commented on #1344
cannot use boto because of changes to time format form s3 https://github.com/boto/boto/issues/3771

[2017-11-01 12:54] danthelion commented on #2268
Is it possible you are running out of memory? Your script is getting killed by the OS, it might be worth to check the memory usage with different values for the `workers` parameter.

[2017-11-07 08:22] gilav opened #2277 "accessing the Visualizer introduce some delay in the scheduler and can hand workers ?"
Hello

First thanks for allowing us to us this nice tool, it's great and very helpful...

I am using Luigi to batch process earth observation products, it helps me 'automatize' the batch, and so I am in the scenario where I have 10 of thousandth of tasks to run (20000 in my present case) in one batch.

I encountered the following problem: accessing Luigi Visualizer seems to temporary hang the task

[2017-11-07 18:24] mattayes opened #2279 "Python 3.6 missing from README"
The [README](https://github.com/spotify/luigi/blob/2.7.1/README.rst) does not mention Python 3.6 as a supported version. I can create a quick PR to add it, since it's [already being tested](https://github.com/spotify/luigi/blob/2.7.1/tox.ini#L2).

[2017-11-07 18:26] erikbern commented on #2279
sure please do

[2017-11-07 19:14] #2279 closed

[2017-11-07 19:30] #2133 closed

[2017-11-08 20:03] petr-bulusek commented on #1613
Have same problem. Where can I find the luigid error log please?

[2017-11-09 12:13] Gr1f0n6x commented on #2220
You can change the Task class definition and add inside it your own property like this:

[code]

And in your task you can do now:
[code]

Maybe, it is not the best approach, but it should work

[2017-11-09 14:38] gioelelm opened #2282 "Sphinx autodocs"
I was wondering what is the best way to write docstrings for luigi.Tasks for the purpose of documentation building. Also curious if there is a plan for a better integration with Sphinx. Maybe a plugin in line with what the [click](https://pypi.python.org/pypi/sphinx-click) has done for their library?

[2017-11-09 22:52] sklarsa commented on #372
Has anyone found a workaround for this?

[2017-11-10 08:15] #2270 closed

[2017-11-12 14:25] Tarrasch commented on #2282
This is an excellent question. I haven't thought about it yet. One thing that would be nice to fix is how tasks/parameters currently inherit the parents class docs, which makes it hard to distinguish what is specific to this task vs the generic `Task` which you've inherited from. Same with parameters.

[2017-11-13 13:45] walkingpendulum commented on #372
@aldanor @alanjds @Tarrasch @sklarsa have you tried to insert
[code]
at the end of your `main.py` and call it `python main.py Main <parameters>`?

[2017-11-13 14:53] gioelelm commented on #2282
Just some thoughts:
- since the tasks are started from command line or browser a docstring CLI docs would be more apporpriate than a object doc
- doctstring of main methods like 'require'  could be parsed and integrated in a single CLI descriptiom
- extra Luigi.Config arguments that affect the output of the task should have their own place to be specified or in some way a link should exist between

[2017-11-13 17:22] nsadawi opened #2286 "Parallel Tasks Fail"
Hi there,
I am using luigi on a kubernetes cluster and I am trying to run 500 parallel jobs (or more) but it freezes and never completes, with some tasks showing as failed in the GUI.
When I click on a failed task to check the error message, I get an empty error box.
I am trying to run the following workflow:

`
# export PYTHONPATH=./
# luigi --module many_jobs ManyJobs --scheduler-host luigi.defa

[2017-11-13 17:46] alanjds commented on #372
cc: @psugimoto

[2017-11-13 19:38] aldanor commented on #372
@walkingpendulum That was the whole point of this issue - `setup_interface_logging()` creates stream handlers where it generally shouldn't.

[2017-11-13 20:37] nsadawi commented on #2286
Another issue is that although I ask luigi to run 500 tasks in parallel, only between 200-300 get started and the rest are pending
Best,
Noureddin

[2017-11-13 23:11] henryrizzi commented on #2286
What kind of cluster are you running this on? In the past I know that I've had issues running with larger numbers of workers when working in a Kubernetes cluster, so I'd try and run with `--workers` set to somewhere close to the amount of CPU cores available

[2017-11-14 07:19] walkingpendulum commented on #372
@aldanor now I get it. I end up with setup as follows
[code]

[2017-11-14 09:41] nsadawi commented on #2286
Hi @henryrizzi ,
it's not clear to me what you mean by kind of cluster, could you please clarify?
My cluster is on the cloud (OpenStack) and it was created using the wonderful KubeNow stack:
https://github.com/kubenow/KubeNow
and
https://github.com/phnmnl/cloud-deploy-kubenow

Regarding the number of CPUs, 500 is ~ 50% of what we have in the cluster
The weird thing is that it works nicely with 100

[2017-11-14 11:34] nsadawi commented on #2286
@henryrizzi another point is that I can manually run as many tasks (or pods) as I want on our k8s cluster, this is why I believe it's a luigi problem

@mcapuccini .. could you please comment?

[2017-11-14 14:08] psugimoto commented on #372
What I'm doing is to reconfigure logging after I the luigi import in my script file, basically:

[code]

[2017-11-14 16:12] walkingpendulum commented on #372
@psugimoto eventually (someone correct me if I'm wrong) luigi doesn't have pythonic api (with python dictionary) for logging configuration. either you setup logging with *.cfg file or you monkeypatch luigi's `setup_interface_logging`

[2017-11-14 17:24] psugimoto commented on #372
In my case what I want are the logs from the tasks luigi runs, which have their own loggers. It works for me. If you want logs from luigi itself you are probably right and this does not help

[2017-11-14 22:38] nsadawi commented on #2286
To add to this, although when I use 500 workers some tasks start and some others are pending, in the end it all hangs and luigi tells me the tasks that have started failed. It's strange that in reality they work as expected and the files they're supposed to create are there.
Please see attached screenshots
luigi terminal
https://drive.google.com/open?id=1BbTpT36h0ISkz3d3anxKJ6bcfWDm0N8K

luigi gui

[2017-11-15 10:10] mcapuccini commented on #2286
Hi. We need to isolate the problem. Can you try to run a simple Luigi workflow with 500 workers? No Kubernetes tasks, just luigi tasks.

[2017-11-15 10:28] mcapuccini commented on #2286
I think that the problem is that Luigi breaks down since a process is spawned for each workers, so for 500 workers there are probably network timeouts and everything starts to break down. Luigi is not meant to massively parallelize jobs, in my opinion this thread can be closed. Maybe someone from the Spotify community can further confirm this.

[2017-11-15 12:49] gioelelm opened #2288 "Access the number of workers from within a Task?"
Is there a way to access, from within a task, the number of total workers that have been made available to the command line call that eventually triggered the task?

Basically this would be the the value specified for the --workers  parameter.

[2017-11-15 13:07] nsadawi commented on #2286
From luigi's online docs:
`The downside is that Luigi doesn’t give you scalability for free. In practice this is not a problem until you start running thousands of tasks.`
and
`The downside is that Luigi doesn’t give you scalability for free. In practice this is not a problem until you start running thousands of tasks.`

We're only doing 100's so we still hope to make it heppen

@henryrizzi What d

[2017-11-15 21:13] Tarrasch commented on #2286
@nsadawi, ah the docs isn't clear. You can have about tens (I don't know, up to 30? 50?) of parallely executing workers in one luigi invocation. But there can be 1000s of tasks (nodes) in the dependency tree, they will be queued and eventually executed, but I wouldn't count on that they all can run at the same time from the same machine. Remember, Luigi isn't a hadoop/spark replacement. :)

[2017-11-15 21:20] nsadawi commented on #2286
@Tarrasch The way our stuff is working is that each worker is essentially a kubernetes pod and it only runs one task so no much worry about dependencies. When I use this command:
`$> luigi --module many_jobs ManyJobs --scheduler-host luigi.default --workers 500`
~350 workers are initialised and the rest are pending.
After that it all freezes and nothing happens
I don't think we have any RAM or CPU

[2017-11-15 21:26] Tarrasch commented on #2286
If you just can't use less workers. Can you do `--workers 50` but on 10 different machines (all against the same central scheduler).

[2017-11-15 21:33] nsadawi commented on #2286
Choosing the machines to host the workers (i.e. pods) is up to kubernetes so that's not a problem for us at all. I can nicely run 10, 50, 100, 200, 300 workers .. more than that it hangs
My target is 500 as I'm doing a scalability study

[2017-11-16 09:16] mcapuccini commented on #2286
@nsadawi the workaround that @Tarrasch suggested would work. I'll contact you on our Slack channel to give you more help.

[2017-11-16 09:27] nsadawi commented on #2286
@mcapuccini yes, that'd be great, thanks!

[2017-11-17 17:37] nickorka opened #2289 "Task started by even_handler stacks for long running parent task."
What I'm trying to do

[code]

If Calc runs fast (a couple of mins),  Export starts without any problem, but if Calc takes longer (30+ mins) I'm getting this log:

In the luigi log it will do `waiting for next task to finish` for ever, but in scheduler I can see that the Export has failed. There is no way to see what was the error, worker is no stopping.
With `ps -ef | grep luigi` I can see that t

[2017-11-22 13:46] seasick-pete commented on #2215
Hi,

Does changing the following help?

```outfile.write(b'This is a test!!!')```
to
```outfile.write('This is a test!!!')```

[2017-11-22 14:52] sdhutchins commented on #2215
@seasick-pete I need to back through this and test the original. I ended up using @jfeala's SGEJobTask to build my own SGEJobTask that's more applicable to the SGI machine I use. Not many edits, but enough.

When I revisit this, I'll have a better idea of what is/was breaking, but it had to do with pickling (I think). I had to change everything to bytes.

[2017-11-24 15:04] DavidS3141 commented on #2054
Just ran into this issue. Using super() in python 3 works though, but I wanted to use the python 2 super(class, self) which results in the infinite loops (for compatibility reasons).
In the task i need to cache a input() since the loading of the file format takes forever. Wanted to do this in the __init__ of the task, and here I need the super() call for the arguments. Is this gonna be fixed soon

[2017-11-25 20:59] hirolau commented on #2247
I have also experienced issues with multi-worker logging and want to add that this is a Windows problems. The os.fork() process, which allows the state of the parent to be maintained in the forked process, does not exist on Windows. Instead, the multiprocessing library uses the spawn method and that causes the logging configuration to be lost.

In the example above by _mattmcknight_ multiple worke

[2017-11-26 03:53] mattmcknight commented on #2247
If they are in different files/modules, the __name__ will resolve to a different object. It is possible to set up a parent logger structure as well, by defining the logger in a logger which is a parent to both modules, or to set up the handlers in a config file that both classes read.

[2017-11-26 07:53] hirolau commented on #2247
In Linux this works fine, but my point was that this is not viable in Windows, as the parent logger setup is lost when workers are spawned (and not forked).

This is how you must do it in Windows, but luigi by default does not help you with this.

[2017-11-26 09:48] hirolau commented on #2247
Here is a minimal example that shows why. In this case, the `SHARED_VALUE` variable would represent the root logger. 3 files:

In parent.py:

[code]

In child.py:

[code]

In shared_variable.py

[code]

Running this in linux with any number of workers works fine (`luigi --module parent ParentTask --local-scheduler --workers 4`). Same in Windows with 1 worker. The output files get created and all c

[2017-11-28 13:02] nsadawi commented on #2268
I had a similar issue and it was resolved when I used a machine with more resources (i.e. RAM and CPUs/Cores)

[2017-11-28 13:12] nsadawi commented on #2263
@sknopp cron jobs?

[2017-11-28 14:03] sknopp commented on #2263
@nsadawi cron jobs are nice for starting jobs but not for pausing them at specific time windows (see my use case example of long running jobs)

[2017-12-03 10:53] colemanja91 commented on #2202
@a1xt06 I just added a pull request (took me long enough, eh); if you have the ability to do some light review or testing would appreciate your input.

And since now Databricks does have Azure support (with DBFS pointing to Azure Blob Storage) it may be more helpful to have DBFS targets defined. I might be able to get started on this over the holiday break.

[2017-12-04 06:49] maksimt commented on #1898
I believe this issue is fixed in 2.7.1. I was about to dig in, but the code from the opening post of this issue no longer raises an error. Rather it returns a hash, `5651538082574827812`.

[2017-12-04 06:49] #1898 closed

[2017-12-04 18:09] ozzieba commented on #430
We are still running into this, with Luigi 2.6.2.
Looking at the [code](https://github.com/spotify/luigi/blob/56fbbcb9be4c97a88c25fa527881f5bbade9cd41/luigi/db_task_history.py#L109) , it seems like self.tasks is storing all the tasks in history, and never gets cleaned. Could we add some kind of process to periodically clean old tasks?

[2017-12-04 19:07] lizmeister321 opened #2297 "Problems with dynamic_requirements.py example"
As written, the dynamic_requirements.py example throws a TaskClassAmbiguousException for the "Config" task (caused by the "config" variable also appearing in ln 81). Easy fix -- got it to run by renaming the task to "ConfigA" -- but frustrating to those of us newer to luigi.

[2017-12-05 01:20] erikbern commented on #2297
do you mind creating a pull request and renaming it to maybe `Configuration` or something?

[2017-12-05 11:15] dmohns opened #2298 "Redshift COPY fails in luigi 2.7.1 when columns are not provided"
Running Redshift COPY jobs with `columns = None` to prohibit table creation fails in luigi 2.7.1 with
[code]

The root cause seems to be https://github.com/spotify/luigi/pull/2245/files#diff-778ea3db4cccaf4de6564889c5eb670fR338

A possible solution would be to change the line to
[code]
unless I am missing some reason to explicitly ask only for `len(self.columns)`.

[2017-12-05 12:04] dlstadther commented on #2298
This seems like a reasonable solution. The motivation here was to handle the [default `column`](https://github.com/spotify/luigi/blob/master/luigi/contrib/rdbms.py#L71) definition or some structure with length > 0. Really, we should ensure that it is not `None` and an iterable with length greater than zero.

Feel free to PR!

[2017-12-05 20:05] ozzieba opened #2299 "memory leak in luigi scheduler task history database code"
We are seeing memory issues very similar to #430 , with Luigi 2.6.2. In particular, over time memory usage grows to >6GB, and only goes back down after a restart.
Looking at the [code](https://github.com/spotify/luigi/blob/56fbbcb9be4c97a88c25fa527881f5bbade9cd41/luigi/db_task_history.py#L109) , it seems like self.tasks is storing all the tasks in history, and never gets cleaned. Could we add some

[2017-12-07 10:27] elipapa commented on #1661
I still have this issue even with tornado >4 and < 5.
The luigi-server logs are:

[code]

any other suggestion?

[2017-12-07 13:52] ACarrasco1009 commented on #2288
While not ideal, you can do this with a "global" definition, and using the luigi.run() function:

[code]

[2017-12-08 12:59] himikof opened #2305 "Range tasks use None with DateParameter, which breaks using them as dynamic deps"
It seems that it has been decided (#1591, #1216) that using `Parameter(default=None)` should not be allowed and can fail. But range tasks in `luigi.tools.range` use them a lot (for example, `start` and `stop`).

This leads to the following task breaking (with dynamic deps -> task serialization is used):
[code]

I actually have one such case where I need to determine the date range to use after run

[2017-12-09 21:14] Tarrasch commented on #2054
@DavidS3141, I don't think anyone is currently working on this. Could you take a try yourself?

[2017-12-11 15:56] DavidS3141 commented on #2054
@Tarrasch this is my try ;) but i am a total newbie in pull requests actually ;) Hope this looks fine to you!

[2017-12-11 17:06] yigaldf opened #2308 "using keep-alive leads to performance problem"
Hi there,

We are using keep-alive in order to support retry & timer expiration
We are using  a central scheduler  with following configuration in order to set the retry policy.
We changed the worker configuration to use expiration_time and keep_alive.

We have a major task that create dynamically hundreds  of  luigi tasks.
We use kubernetes cluster and add pods in order to support overload.

when

[2017-12-13 19:39] bbakersmith opened #2311 "Return non-zero exit code on task failure"
Is there a way to get the luigi CLI to return non-zero exit codes on task failures? It seems by default it only prints the task status in human readable form to stderr. We would like our scripts to know if the tasks succeeded, but luigi returns 0 even if tasks have failed.

To work around this we have created a wrapper script as follows:

[code]

Is there a better way? Or would you be open to a PR

[2017-12-13 19:40] #2054 closed

[2017-12-13 20:48] henryrizzi commented on #2311
https://luigi.readthedocs.io/en/stable/configuration.html#retcode I think this might help you out

[2017-12-13 20:59] bbakersmith commented on #2311
Aha, this does seem like what I'm looking for. Thanks!

[2017-12-13 20:59] #2311 closed

[2017-12-14 02:36] kabirkhan commented on #2202
See https://github.com/spotify/luigi/pull/2312 for an Azure Data Lake file storage option. I may write a module to support Azure Blob Storage as well.

[2017-12-15 08:29] danielnorberg commented on #2154
@Tarrasch We're hitting this issue. Is the master branch ready to release?

[2017-12-19 11:09] Nikhillosalka opened #2314 "luigi.contrib.hdfs.HdfsTarget Not working."
I am trying to run below piece of code:

import luigi

class PrintNumbers(luigi.Task):

    def requires(self):
        return []

    def output(self):
        return luigi.LocalTarget("numbers_up_to_10000.txt")

    def run(self):
        with self.output().open('w') as f:
            for i in range(1, 11):
                f.write("{}\n".format(i))

class SquaredNumbers(luigi.Task):

    def req

[2017-12-19 11:32] Nikhillosalka opened #2315 "Error While Submitting Spark Job."
**This is the code that I am running.**

import random

import luigi
import luigi.format
import luigi.contrib.hdfs
from luigi.contrib.spark import SparkSubmitTask
import subprocess
import os

class UserItemMatrix(luigi.Task):

    data_size = 1
    pathHdfs="hdfs://localhost:9000/injest/data/logs/parquet/2017-09-26/13/checkForInput.sh"

    def requires(self):
        print("Inside SparkALS requir

[2017-12-19 12:18] dlstadther commented on #2315
Firstly, this type of question is more appropriate for the mailing list and not Github Issues

Secondly, your error is an Unfulfilled Dependency error. Basically, your `SparkALS` class is expecting an `HdfsTarget`, but the run method of `SparkSubmitTask` (inherited from `ExternalProgram`) does not explicitly output to a non-tmp file. So it appears that your expected output differs from your desire

[2017-12-19 12:18] #2315 closed

[2017-12-19 12:21] dlstadther commented on #2314
closing this issue.

- [ ] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2017-12-19 12:21] #2314 closed

[2017-12-23 08:21] janpipek commented on #1934
Actually, this feature would help me as well. I have a workflow where a lot of parameters are passed around, in multiple branches.

[2017-12-27 08:39] ron212 opened #2319 "Connection overflow in central scheduler history"
Hi,
We use luigi central scheduler with history on PostgreSQL.
When we running task after a few minutes the  central scheduler fall because connection overflow.

`sqlalchemy.exc.TimeoutError: QueuePool limit of size 5 overflow 10 reached, connection time out. timeout 30`

We are using luigi 2.7.1

Do you have any suggestion how to overcome those problems ?

Thanks,
Ron.

[2017-12-27 11:53] janpipek commented on #1934
Something like this?

[code]

[2018-01-03 21:53] bjlange opened #2322 "Support for Python 3 pathlib Paths in LocalTarget"
It would be nice to be able to use `Path` based objects from Python 3's [`pathlib`](https://docs.python.org/3/library/pathlib.html) when defining paths for `LocalTarget`s. Currently, you need to cast them to strings or the target methods like `exists` and `open` won't work.

[code]

[2018-01-05 08:48] BinrOp opened #2324 "Inconsistent task_id if using DictParameter"
If we pass dict parameters, the task_ids will not be consistent across multiple executions.

# Reproduce issue
**Dependencies**
For `luigi==2.7.1` and `Python 3.5.2`.

**Run this script multiple times:**
[code]
**Output:**
[code]

The consistency in one execution seems related to python dictionary handling.

The easy temporary fix is to sort the keys when serializing a DictParameter before generat

[2018-01-11 03:46] BinrOp commented on #2324
Maybe @joemeszaros, @j-ostrich or @nugend  can have a very brief look to see what was intended and what would be the best fix without breaking anything. I only had a quick look at it.
(Added you guys cause you worked on the `DictParameter` class)

In all cases, this is some serious issue: if we launch multiple luigi clients, since the task_id is not consistent, we have a very high risk of having d

[2018-01-11 10:28] pietromarchesi opened #2326 "Pickling Python object to to-be-created directory fails with FileNotFoundError"
Consider the following example (in Python 3), in which a task pickles a dictionary to a directory which needs to be created.

[code]
Which can be run with

[code]
This fails with

[code]

If `targetpath` were simply a file name, this would work. I suspect the problem lies in the fact that I use the standard Python `open` instead of the luigi method. However, in this case I think I am forced to use

[2018-01-11 15:38] cappelll opened #2327 "ExternalProgramTask can't process external process printing unicode to stdout"
As the title says, ExternalProgramTask crashes with the following error when the external task prints some unicode in stdout:

My pipeline orchestrates a number of bash scripts. I can't share nothing of the actual code, but I have created some code that reproduces the issue.
This is the smallest task that recreated the issue

    import luigi
    from luigi.contrib.external_program import External

[2018-01-11 16:22] nugend commented on #2324
I don't know what anyone else is thinking, but I believe sorting would be fine. Though I know that Python dictionaries became insertion order stable in a fairly recent version, I don't think it's reasonable two differently sorted dictionaries as distinct (since Python explicitly did not add the *guarantee* that dictionaries would be in any order).

[2018-01-11 16:28] Casyfill opened #2328 "Static graphviz task visualisation"
I am using a small code I wrote for static visualization of Task DAGS using `graphviz` lib. It is currently quite basic, but still I find it quite useful for documentation purposes - I even made a habit of rerendering those plots into task README.md on commit.
I will be happy to share my code via PR, but was wondering if core contributors

1) think it is a good idea overall
2) have any understandi

[2018-01-11 17:39] dlstadther commented on #2328
I'm of the option either
* `luigi.tools` if we want to keep this tightly coupled, or
* as a separate, independent github project

Could you provide some insight into how it is executed against a luigi pipeline?

[2018-01-11 21:16] samschlegel opened #2329 "Efficiently backfilling RedshiftQuery-based Tasks"
We are currently exploring porting a fairly complex hourly Airflow DAG over to Luigi. The DAG consists of about 25 SubDAGs, which each contain 3 tasks that run SQL queries on Redshift. As part of moving, we want to backfill that task over the past 2 years. Doing this naively by having tasks depend on their previous hour obviously wouldn't work, as that would be ~1.3 MM tasks trying to be scheduled

[2018-01-15 14:08] BinrOp commented on #2324
Ok, `json.dumps` sorts nested dictionaries too so this would be enough to solve the issue.

[2018-01-15 15:31] samshipengs opened #2331 "TypeError: Can't instantiate abstract class MongoTarget with abstract methods exists"
I just started learning to use Luigi. I was trying to implement the require and output function with a mongodb. Here is my sample code:

[code]

This returns a TypeError:
`TypeError: Can't instantiate abstract class MongoTarget with abstract methods exists`

I tried setting `db_client.__isabstractmethod__ = False` but the error stays.Has anyone experienced this error?

I'm using py3.6.1(Anaconda)

[2018-01-16 02:56] BinrOp commented on #2324
The test fail since the current implementation of DictParameter expects that parsed dictionaries should be serialized to produce the same representation as the original json input string.

I feel that a dictionary is not ordered by definition and that dictionaries with differently sorted keys should have the same representation -> sort keys when serializing it (even though the json input string mi

[2018-01-16 13:41] nugend commented on #2324
I say change the DictParameter impl to remove the original ordering restriction.

[2018-01-16 15:54] Gr1f0n6x commented on #2331
@samshipengs probably, you should explicitly implement method `exists()` of MongoDbTarget, because this class doesn't provide default implementation of it:
[code]

[code]

So, you have to extend MongoDBTarget and implement exists method in your class.
Hopefully, it can help

[2018-01-16 16:24] carmat88 opened #2332 "Hosting Existing, Functional and Tested Luigi Docker App"
Greetings Luigi's Folks! @mcapuccini  and I would like to request to host an [existing, functional, tested Luigi docker app](https://github.com/phnmnl/container-luigi) within your official [Spotify Docker Hub Repo](https://hub.docker.com/u/spotify/).

As mentioned, we created a functional and tested docker App for your Python module in order to be used for a currently up and running European Horiz

[2018-01-16 19:11] dlstadther commented on #2332
@carmat88 This is something that would need to be taken up with someone from the Spotify Organization - maybe @ulzha or someone else @erikbern would recommend contacting.

[2018-01-16 19:34] #1012 closed

[2018-01-16 19:42] Tarrasch commented on #2332
Did you consider hosting at your organization @carmat88?

[2018-01-16 19:48] Tarrasch commented on #2324
Yea, I guess the parameter of a DictParameter must always be an ordered dict. But this assumption isn't stated anywhere. Do you mind looking into fixing this @BinrOp?

[2018-01-17 03:21] samshipengs commented on #2331
@Gr1f0n6x I see, thanks for pointing it out. So what I'm trying to do is pulling data from an API and put it into a mongodb with luigi. It seems like `MongoRangeTarget` might be something fits, and after looking at its code, I assume `index` should be the name of the db, 'collection' is the name of the collection and `document_ids` is the list of ids of records(documents) , and I need to have a co

[2018-01-17 09:24] mcapuccini commented on #2332
@Tarrasch we currently host it in our organization, but since we envision to make an official Helm chart for Kubernetes, it is a bit odd to point to a container related to Spotify in a totally unrelated user space. In the meanwhile we can try to do it that way though.

[2018-01-17 09:37] carmat88 commented on #2332
@Tarrasch I second @mcapuccini We are doing that for the time being, but it would be great and likely more appropriate to host the container used by an official future Kubernetes Helm chart within Spotify.

Greetings @ulzha and @erikbern! May we ask what do you think of the above discussions?

Cheers.

[2018-01-17 20:39] Gr1f0n6x commented on #2331
@samshipengs ,

If MongoRangeTarget fits to you, then you can just implement exists method for this target.
In general, i would recommend you to choose the most fitting class and customize it as you want

Unfortunately, i'm not familiar with MongoDB, so, i don't know the purpose of these parameters =)

[2018-01-18 13:55] mapeveri commented on #345
Hi, i will like take this issue. I want know if this new label, will add in this screen in the grid:

![image](https://user-images.githubusercontent.com/6276555/35101346-fd08d6dc-fc3d-11e7-9542-f303364ba995.png)

Thanks!

[2018-01-18 15:40] gaborvecsei opened #2333 "Log completion time of tasks"
Is there a way I can see (for example) a list after running the pipeline with the info about the completion times? That would be really useful. I can see the time when the task actually runs but after it's finished I can't see it anywhere.

[2018-01-18 19:53] yonromai opened #2334 "[contrib.kubernetes] Hangs on 'Pod errors: Unschedulable'"
When asking for more resources (e.g. CPU) than the Kubernetes cluster can allocate, Kubernetes fails the job (rightfully) with a status `Pod errors: Unschedulable`.

The `KubernetesJobTask` logic, however, fails to catch this error and hangs:
[code]
(FWIW, I'm using GKE here)

[2018-01-18 19:54] yonromai commented on #2334
@mcapuccini ^

[2018-01-19 08:59] mcapuccini commented on #2334
Hi @yonromai. Thanks for reporting the issue. The problem should on this block of code: https://github.com/spotify/luigi/blob/6ce970846c0ca8c2850bc168b686340e15982b2b/luigi/contrib/kubernetes.py#L160-L171, which only checks for pod status "running", "succeeded" and throws error for everything else. I think that `pykube`, the library that we are currently using for the Kubernetes Task, returns runn

[2018-01-19 17:43] yonromai commented on #2334
@mcapuccini thanks for coming back to me.

I took a look at it yesterday, I think the problem might rather be in the `self.__get_job_status()`.
I played with it and printed the contents of `pod.obj['spec']`, `node.obj['spec']` and `job.obj`. All of these objects had the same data whether the job was actually scheduled or not (because too much resources was requested).
Also,  `node.unschedulable` w

[2018-01-20 03:31] #2331 closed

[2018-01-21 23:27] Casyfill commented on #2328
Hey @dlstadther, sounds good. I've add a [premature] PR at #2328 with `staticviz` as part of `luigi.tools`.

And the approach is quite simple - for now, I provide it with an endpoint task (last task in the graph), and it scrolls up using `required` method of each consequent node (task). Of course, this approach is somewhat limited, as often we have multiple possible outcomes (thus, multiple endpoi

[2018-01-22 17:54] yigaldf opened #2337 "Luigi keep implicitly retry failure tasks - after task is disabled"
Hi everyone,

We're using luigi 2.7.1.
We configured a retry policy which define three retries in one hour before  disabling the task for 1200 seconds.
After the suspension (disabled) time of 1200 seconds the task was expected to ran again only if it was explicitly called and not being implicitly  retry by the worker-scheduler retry policy.

We noticed that after the task is marked from the diable

[2018-01-26 12:53] rhunwicks commented on #1647
@dewet22 with this approach I think you are bypassing the atomic file functionality of `LocalTarget` and writing directly to the final file. I.e. in a parallel execution environment a second worker might think the Task is complete before it really is.

[2018-01-26 17:09] colakong commented on #1344
Hi everyone,

I made a quick implementation of `luigi.contrib.s3.S3Target` that uses boto3 instead of the depreciated boto module. I put [here](https://gitlab.com/ced/s3_helpers/blob/master/luigi_s3_target.py).

I didn't make a pull request for it, because:
1. I haven't run tests against it, though it worked for my use-case
2. It changes the accepted modes for `S3Target.open()` to 'rb' or 'wb', an

[2018-01-29 11:17] lqueryvg commented on #506
Luigi philosophy or not, this "re-try" behaviour does not feel natural.

It's inconsistent; it only happens when sub-tasks don't create output. For a simple task without a parent, the re-try doesn't occur.

If this is is natural and expected behaviour, where is this documented ?

[2018-01-29 12:54] erikbern commented on #506
Feel free to update the documentation if you don't think this is natural and if it's not well documented

You can always write an empty file to some location to designate that the task was run

[2018-01-29 14:21] lqueryvg commented on #506
@erikbern, I'm trying to say (badly) that this looks like a bug, not a documentation problem to me.
I.e. the behaviour is not described in any documentation because no-one expects it to behave this way.
For example, did you know that `luigi.build()` returns `False`, even if the task creates output on the re-try ?

In the case where are badly behaving task fails to create output on the first attemp

[2018-01-29 15:08] erikbern commented on #506
@lqueryvg can you submit a PR updating the documentation?

[2018-01-29 17:57] lqueryvg commented on #506
I think I've already explained that this looks like a bug, not a documentation problem.

This slightly modified version of the OP's code illustrates the point. `luigi.build()` returns False even though the retry was successful (and the execution summary shows a happy face).

[code]

[2018-01-29 17:59] erikbern commented on #506
So just to clarify, the "bug" you are referring to is that `luigi.build` returns False the second time? Yeah that sounds like a bug.

[2018-01-30 06:12] Vonatzki opened #2341 "Help on logging and task status tracking"
Basically I want to know how logging and task status tracking works in Luigi. Documentation is a bit vague on [this](https://luigi.readthedocs.io/en/stable/tasks.html#task-status-tracking)

I do get that you have to define callback functions in a `luigi.Task`. As the example code snippet illustrated, you have to define `self.set_status_message()` and `self.set_tracking_url()`, but this is where it

[2018-01-30 09:43] Vonatzki commented on #2341
I followed and sort of copied the code [as answered in this SO question](https://stackoverflow.com/a/46588458).

The logs display in the console now (if you run `luigid` in cmd) by placing code below under the `run()` method of the Task.

But it still does not put it in whatever filepath you placed as an argument for `--logging-dir`:

[code]

[2018-01-30 13:52] jytug opened #2342 "Make capturing of stdout / stderr optional in ExternalProgramTask"
Currently, during execution of an `ExternalProgramTask` the standard output is captured and redirected to the logger after the execution. It would be useful, during debugging of long-running tasks (for instance a `SparkSubmitTask`), to disable this mechanism, and see the standard output on the fly.

[2018-01-30 14:35] mcapuccini commented on #2332
@yonromai I noticed that you work at Spotify, maybe you could help us with this?

[2018-01-30 18:59] yonromai commented on #2332
Hi @mcapuccini @carmat88,
I am not involved with Spotify Docker Hub, although I can look into a point of contact for your guys.
One question first:
Since you are currently doing active development, it seems inconvenient (and premature?) to have to involve someone from Spotify whenever publishing new docker images to the hub. Perhaps we can revisit once your (Helm) setup has stabilized?

[2018-01-30 20:50] Tarrasch commented on #2337
Unfortunately I think here Luigi tries to be helpful and reruns the task, regardless of how you called is as long as that worker has been said it's capable to run that task.

[2018-01-30 21:04] Tarrasch commented on #2341
Unfortunately you can't see the logs of tasks in the central scheduler. I suppose one reason is that one single task could then easily overflow the server by logging too much. Hence there's the "lightweight' sort of logging by having progress bars and setting of tracking urls. Does that make sense? How can we make the docs more understandable you think? Mind making the change?

[2018-01-31 02:02] Vonatzki commented on #2341
I think the docs could be better by giving a very simple example on how to set _progress bars and setting of tracking urls_. Just so we can easen up the learning curve and to avoid letting this nice feature be left unused.

The example doesn't need to be best practice, but just enough to get the readers' feet wet and acclimatize on how the feature works.

Also, a basic tutorial/strategy on how to

[2018-01-31 07:07] Tarrasch commented on #2341
What's missing int the current code example? I found it very easy to follow. But I'm not the right person to judge. :)

Agreed

[2018-01-31 08:23] Vonatzki commented on #2341
Disregard this. I realized I've been calling the methods under `requires()` when it is stated clearly in the documentation that it should be called under `run()`. I've been searching in and out as to why the methods seem undefined when called. Silly me :)

My concern for logging still stands though. I'll see if I can come up with a basic method on logging can be incorporated in Luigi.

Thanks for

[2018-01-31 15:34] lqueryvg commented on #506
Hi @erikbern,

Well I didn't really mean that, but I can see where this conversation is going...

IMO, the "automatic" re-try behaviour is the "bug".

I don't mean that tasks shouldn't be idempotent or re-runnable.  I get all that, and fully agree.

But when a task fails to run or create output, it should not be re-tried; the user should have control over that.

Anyway, I can see that your mind is

[2018-01-31 15:42] erikbern commented on #506
The problem is you need to store the state somewhere. And the design philosophy of Luigi as Elias mentioned is that the "worker knows best". That's why typically you implement this check by relying on the file system. In fact you can implement it in any way you want by using the `completed()` function. But the default implementation of `completed()` is to run the `output()` function and check if t

[2018-01-31 15:43] erikbern commented on #506
maybe it's `complete`, i don't remember

[2018-01-31 18:01] Tarrasch commented on #2341
Perhaps you can make a code change so that a better error message is given if it's called from `requires()`. Although I expect that mistake is rare, so maybe not worth it.

Feel free to update/create docs for logging. I agree that it's missing.

[2018-02-01 15:07] nikgrok commented on #1957
Hey guys, Is this still an open bug? We are thinking of enabling this feature, but are concerned about the bug.

[2018-02-02 03:06] daveFNbuck commented on #1957
#2177 is a workaround that prevents the bug from affecting the scheduler

[2018-02-02 07:14] Tarrasch commented on #1957
@daveFNbuck should we close this then?

[2018-02-02 07:58] daveFNbuck commented on #1957
I guess so, it doesn't look like this will lead to a better solution, and the bug we have now is a different one about losing e-mails which probably can't be effectively mitigated anyway

[2018-02-02 07:58] #1957 closed

[2018-02-03 22:31] andyalky opened #2347 "luigi.contrib.sqla - Boolean values now cause a type error"
I have a script that, as part of my data pipeline, loads a TSV file to a database. This is done through the luigi.contrib.sqla module.

SQLAlchemy released version 1.2 on January 24th. When I upgraded SQLAlchemy from version 1.1 to version 1.2, I started getting the following errors when running my script:

[code]

My database contains Boolean values, and previously, all my Boolean values were rep

[2018-02-04 22:09] dlstadther commented on #2347
@andyalky Feel free to contribute back to Luigi's `contrib.sqla` module to handle compatibility for both SQLAlchemy <=1.1. and >=1.2.

[2018-02-05 10:42] ulzha commented on #2332
Hi,

To clarify, you'd like the simple image (as per instructions in https://github.com/phnmnl/container-luigi/blob/master/Dockerfile) to be pullable from https://hub.docker.com/u/spotify/, and that will enable you to independently develop and publish the Helm chart in a nicer way? I think we could indeed arrange that to happen automatically as part of the luigi release process.

[2018-02-05 13:39] mcapuccini commented on #2332
Exectly. Both the [Dockerfile](https://github.com/phnmnl/container-luigi/blob/master/Dockerfile) and the [Helm package](https://github.com/phnmnl/helm-charts/tree/master/luigi) are stable, and we would like to push them upstream. The people from Kubernetes will probably ask for the container to be stored by a well-known organization,  hence we opened this issue. It sounds good to do it in Travis!

[2018-02-06 11:33] alexkamp opened #2348 ""Too many open files" with docker_runner"
hey,

I execute this script:

[code]

After several minutes, it crashes

[code]
Those are the first two exceptions. It produces much more output, which looks like it is trying to connect to the scheduler over and over again, failing every time (due to "Too many open files"), until it finally gives up.

Some more info about my system:

[code]

[2018-02-06 13:08] ulzha commented on #2332
I pushed spotify/luigi (2.6.0 as well as latest 2.7.2). Not yet automated though...

[2018-02-06 13:12] mcapuccini commented on #2332
Thanks a lot. I could send a PR in the future to get the automation in Travis. I think you'll have to insert DockerHub credentials on your side though. Let's keep this open as reference.

[2018-02-06 13:21] carmat88 commented on #2332
@ulzha That's awesome, many thanks! Cheers.

[2018-02-07 09:29] ulzha commented on #2332
Cheers to you!

[2018-02-07 18:23] isb0459 opened #2349 "RemoteContext ssh process occasionally stops"
I am running a development pipeline and using [contrib/ssh.py](http://luigi.readthedocs.io/en/stable/api/luigi.contrib.ssh.html). My task input is a RemoteTarget, a file that in principle resides on a different server, but for development is actually on the same server running the pipeline. This server is operating with Fedora 27. The system is typically very busy loading data from ingested files

[2018-02-13 15:56] Salaander opened #2352 "Disabled status handling issues"
I set up my luigi worker for testing like this:

[code]

Problem (bug) one (cannot replicate)
A task has become DISABLED and after a few minutes changed to DONE without doing anything, the task has not been restarted, no worker was running. In the task history under the events there is no log of the DISABLED status only PENDING -> RUNNING -> DONE in the end.

Problem two (can replicate):
If a task

[2018-02-14 18:38] stolpovsky commented on #2247
I also have the same issue: no log output is generated when running with 2 or more workers. Everything works as expected with `--workers=1`. I am on Windows 10, luigi 2.7.2.

Related to this, is there a way to configure luigi to send log to separate files for each worker? In my case the number of workers is <100, and having each use a separate log file will make logs much easier to read.

[2018-02-14 19:52] stolpovsky opened #2354 "Is it possible to use environment variables in luigi config?"
I would like to reference an environment variable in client.cfg, something like this:

[code]

where $(PROJECT_HOME) would be replaced with the value of environment variable.

[2018-02-15 21:45] Tarrasch commented on #2354
Luigi uses the built in logging framework for python, which I believe supports something like this, please check the docs over there.

[2018-02-16 19:45] #2298 closed

[2018-02-16 21:07] yonromai opened #2355 "Master build broken"
Hey, the master build has been broken for ~2 weeks. Looks like a docker issue:
`ContainerError: Command 'test -d  /tmp/luigi-test' in image 'busybox:latest' returned non-zero exit status`
from: https://travis-ci.org/spotify/luigi/jobs/336516969
@ulzha wanna take a look? If you don't have time, no big deal - I can take a look at it sometimes next week.

[2018-02-17 16:34] Tarrasch commented on #2355
Easiest is to just disable it (send a PR) similar to how many other tests are disabled.. Sorry for the inconvenience!

[2018-02-17 16:36] Tarrasch commented on #2354
Sorry, I meant the [ConfigParser](https://docs.python.org/3/library/configparser.html#interpolation-of-values), got the words mixed up. :)

[2018-02-20 00:04] #2355 closed

[2018-02-20 00:05] yonromai commented on #2355
fixed by: https://github.com/spotify/luigi/pull/2356

[2018-02-20 16:02] stolpovsky commented on #2354
It does not look like ConfigParser can handle environment variables. I was hoping to avoid having multiple config files that only differ by one value. Thanks for your answers.

[2018-02-20 16:02] #2354 closed

[2018-02-20 16:35] nsadawi commented on #2286
@Tarrasch one question .. luigi scheduler uses all available cpus by default?
I monitor the VM it's running on and it's not showing me that the cpus are busy when submitting hundreds of workers
Any clues please?

[2018-02-20 17:03] FxIII opened #2357 "race condition on lock :("
I think there is a race condition on
**luigi/lock.py", line 93, in acquire_for**

[code]
between `if not [...]` and `mkdir` another process could have created the pid_dir resulting  in an unhandled OSError exception.

I think that ignore the exception if the folder exists will be enough, or perhaps just create the folder and say sorry if it was just there...

[2018-02-20 18:39] dlstadther commented on #2357
Feel free to submit a Pull Request if you believe `os.mkdir` should be surrounded in `try/except` (or whatever solution you believe to be best)!

Thanks

[2018-02-21 12:29] anuragagarwal561994 opened #2358 "Notification emails should allow file uploads (multiple) instead of just single png image"
Notification error emails should support multiple file uploads instead of just one png image upload, or the user should actually be allowed to edit the email template and email root. Currently this can not be done easily.

[2018-02-21 13:00] jeanmn commented on #2288
Yes, there is a way
@gioelelm @ACarrasco1009
[code]

[2018-02-21 14:58] ACarrasco1009 commented on #2288
@jeanmn That's great, never knew about it. Thanks!

[2018-02-21 15:43] dlstadther commented on #2358
I think this is similar to what I started working on with #2351

[2018-02-21 16:07] stolpovsky opened #2359 "logging error when running luigi on the same host with central scheduler"
I run luigid on the same machine (Windows 10) as worker jobs. Since luigi and luigid are both using the same config, it is causing the two processes to attempt write to the same log file. This is the error I get:

[code]

Here is the relevant part of my `logging.conf`:
[code]

What can I do about it, short of removing the `FileHandler` and redirecting console output to a file?

[2018-02-21 19:07] Tarrasch commented on #2355
Thank you!

[2018-02-21 19:18] Tarrasch commented on #2288
I would probably do:

[code]

This will also work if you specify the workers by the command line (`--workers`). Also see [these docs](https://luigi.readthedocs.io/en/stable/configuration.html).

[2018-02-21 19:18] #2288 closed

[2018-02-22 00:31] #2334 closed

[2018-02-22 11:04] jamesmcm opened #2360 "Consider using Github's CODEOWNERS"
See: https://github.com/blog/2392-introducing-code-owners
and
https://help.github.com/articles/about-codeowners/

This could be useful for making pull requests to know who should review which parts of the code (especially contrib modules).

It might also make it easier for newcomers to contact developers regarding their own patches, etc.

[2018-02-22 12:50] dlstadther commented on #2360
I briefly thought about this when GH published that blog post. I want to say it's a good idea to implement in hopes that auto assigning reviewers will aid in quicker PR reviews and merges - thus sparking luigi dev again; however, there exists some overhead in denoting/assigning these code owners - particularly for files with many contributors (i.e. 41 individuals have contributed to `parameter.py`

[2018-02-24 12:17] pinninti19 opened #2362 "Luigi Error NGS pipeline ?"
Hi, can anyone help me , why it is showing error ?

**CMD**
python Luigipipeline.py --local-scheduler Custom_Genome_Pipeline

====== Running BWA ======
INFO: [pid 18146] Worker Worker(salt=235547989, workers=1, host=Curium, username=likith_reddy, pid=18146) done      Bwa_Mem(sample=SRR098401testsickle_1.fastq)
DEBUG: 1 running tasks, waiting for next task to finish
INFO: Informed scheduler that ta

[2018-02-25 16:56] jeanmn commented on #2288
Thanks for pointing this out @Tarrasch; made me revisit the internals one extra time :)
([where the magic happens](https://github.com/spotify/luigi/blob/c8f4497ede1a68f1a6a1c33e786eaf2468a34ec0/luigi/parameter.py#L194))

[2018-02-26 10:50] justjoheinz opened #2363 "Missing parameters for BigQueryLoadTask"
It seems that `bq load` now requires the parameter `autodetect` if one want to autodetect the schema from import csv or json files. Just ommitting the schema is not sufficient anymore.

It also provides a paramter for null values.

I created some kind of mixin which takes care of this in my local codebase:

[code]

but I am not a python wizard, so I do not want to create a PR. This changes work fo

[2018-02-27 10:22] justjoheinz opened #2364 "Provide a link to the history if history is enabled for the UI"
Currently the history is a kind of "secret" link, which users have to know about. It would be nice, if the UI had a history link, if the history for the scheduler is enabled.

[2018-02-27 12:31] dlstadther commented on #2364
Feel free to submit a PR, @justjoheinz ! All are welcome :)

[2018-02-27 14:31] jhrf opened #2365 "InvalidParameterException in contrib.ecs _get_task_statuses"
I am currently writing a data processing pipeline with luigi utilising the ecs module.

Everything was working fine when using the local-scheduler. However, I have noticed that when I run the pipeline using the central scheduler with two or more workers I am seeing a bug surrounding the acquisition of a taskArn from Amazon. The problem occurs in about 50% of test runs so I think there is a concurr

[2018-02-28 11:09] jhrf commented on #2365
More investigation has given more insight to the problem.

The error is caused by the `client.run_task` call on line 182. I am receiving a failure with the reason "RESOURCE:MEMORY" when there are not enough available resources for the task. The failures fails to populate the `self.task_ids` and the error above is shown.

In my case, and I suspect in other cases as well, this behaviour is not ideal

[2018-02-28 11:44] jhrf commented on #2362
See the line here in your output:

The file you are supplying to your subprocess cannot be found. This is not a Luigi error.

[2018-02-28 18:19] adamkewley opened #2366 "Invalid instance caching on TaskParameter"
I use task parameters to dynamically build trees at runtime:

[code]

However `hash(self.input()["query"])` and `hash(self.input()["configuration"])` are the same, despite them having different parameters (albeit, 2 levels deep). Because of this, the instance cacher is kicking in and (incorrectly) causing only one of the two tasks to run.

Is there a canonical way to build up task trees like this?

[2018-03-01 19:58] Tarrasch commented on #2366
One way to do this is to let `MoveToHdfsTask` take two parameters (task **class** & say the path). Then let `upstream_task` be the built in `TaskParameter`. It's not as flexible but it's supported in the luigi model.

[2018-03-02 10:16] adamkewley commented on #2366
Ah, thank you. I might refactor it to do that then :+1:

Thanks for all the hard work

[2018-03-03 02:24] honnibal commented on #1647
So the source of that open method is:

[code]

It intentionally clobbers the 'b' from the format string. But why is that necessary?

[2018-03-05 05:03] quantoid commented on #595
Could you just override `exists()` on your output `Target` to always return `False` so it always runs the task?

In my case I have a task that generates data for a date. If the date is in the past it can use previously generated data, but if it's today it needs to regenerate the data because it's likely to be incomplete.

So I need a way to invalidate a target based on the time when it's checked.

[2018-03-05 06:18] pinninti19 commented on #2362
hi, why I'm getting this error, I'm not able to figure out the error.
I installed sam, bam. bcf and bwa tools in my pc and provided local variables.
Along with that I provided the R1 and R2 reads and ref.fa

[2018-03-05 10:40] pinninti19 opened #2369 "Luigi"
Hi, can any one share Luigi NGS pipeline code
thanks!

[2018-03-05 12:15] dlstadther commented on #2369
Please repost to mailing group - that is the purpose of the mailing group - Github Issues are for bugs and feature requests. Thanks!

[2018-03-05 12:15] #2369 closed

[2018-03-05 12:20] dlstadther commented on #2362
Your issue is on line 60 (or rather whatever the multi-line statement is that ends on line 60 of `Luigipipeline.py`.

As @jhrf mentioned, your issue the is lack of file existence.

Regardless, please move this to the mailing group. Github Issues are not the place for diagnosing non-luigi issues. Regardless, thanks for reaching out to the community - see you in the mailing group!

[2018-03-05 12:20] #2362 closed

[2018-03-06 18:22] andmib opened #2370 "Error on task_history table setup - implicit conversion of varchar to datetime."
I'm running Luigi in a Docker container on CentOS. I've setup my config file to record task_history, and given a proper connection string to my MS SQL server. The task history tables seem to get created, but nothing gets recorded. In my Luigid error logs, I get the following:

[code]

Suggestions on how this can be fixed?

[2018-03-07 13:07] pinninti19 opened #2371 "Luigi pipeline"
Hi,
I'm trying for the human exome dataset, it was exactly 29 hrs still it running. can you check this ....

**CMD**
**Luigi** python -m luigi --module Luigipipeline Custom_Genome_Pipeline --local-scheduler
DEBUG: Checking if Custom_Genome_Pipeline() is complete
DEBUG: Checking if Convert_Bcf_Vcf(sample=SRR098401_1) is complete
DEBUG: Checking if Convert_Bcf_Vcf(sample=SRR098401_2) is complete
INF

[2018-03-07 13:20] dlstadther commented on #2371
closing this issue.

- [ ] It has been inactive for +4 months.
- [ ] It's not about luigi core, so not as many users are affected about this.
- [ ] The change seems quite big, it's unlikely to be sporadically picked up.
- [ ] The owner haven't responded or disappeared.
- [ ] I don't understand what this issue is about.
- [ ] There exists a reasonable workaround for this.
- [ ] We need to check if

[2018-03-07 22:13] #2371 closed

[2018-03-13 07:58] markmcdowall commented on #1936
Hi @Tarrasch,

I have been in contact with @alexbw about the Luigi LSF update. We now have a working update on the LSF branch of a fork.

Would you like the changes merged to the master branch of the fork and then for a pull request to be made to Luigi or would you like it to remain on the branch?

Cheers,

Mark

[2018-03-13 10:55] dlstadther commented on #1936
@markmcdowall Feature branch PR will be fine!

[2018-03-20 21:02] nugend commented on #2259
We've been using this for a while and it seems to resolve the issue we were seeing with unfair scheduling of tasks. I would strongly suggest said change being put into mainline.

[2018-03-20 22:40] Tarrasch commented on #2259
I'm happy to merge such optimization, please share more insights of how things are better in the PR description. :)

[2018-03-23 16:20] letroot commented on #886
Or you could just call
`luigi.notifications.send_error_email(subject, message)`
and customize the subject and message to be success-specific. Works for me instead.

[2018-03-23 18:54] RajveerParikh commented on #1054
What is the difference between the complete method and the exists method? Why would we ever need both?
And I am getting similar behavior but when I add a complete method, it executes before my run method and the task still executed 2 times.

[2018-03-26 09:47] troyoung opened #2380 "Visualiser page error"
![image](https://user-images.githubusercontent.com/9464984/37899299-bce9f8d2-311d-11e8-9d11-8f23a9eb7cfe.png)

[2018-03-29 02:12] bnewbold commented on #294
PR #1731 never got merged; i'm not sure why this issue was closed before that happens.

[2018-03-29 09:08] atharvai commented on #2218
I've had this issue on Windows 10 64 bit, Python2.7.14 (64bit), luigi>=2.3.0.
Is there guidance on a workaround until this is fixed?

[2018-03-29 20:49] nugend commented on #2259
@Tarrasch Have you had a chance to look at the PR?

[2018-04-04 12:33] maximenannan opened #2383 ".spec.activeDeadlineSeconds parameter in k8s job overwrites default k8s behaviour"
Hi there, hi @yonromai

Recent changes in 2.7.3 in kubernetes luigi task seems to overwrite k8s default behaviour.

In this commit https://github.com/spotify/luigi/pull/2335/commits/e27b9fb418fc3e25531e9b1d797c2915851d9429, the parameter `"activeDeadlineSeconds` has been added in `spec` to create k8s jobs.

One assumption on this parameter explained in the commit was that:

But in k8s doc it's wri

[2018-04-05 23:39] danimcgoo commented on #2329
Hi Sam, I don't have much to add, have you considered using S3 as a way to mark completion of the task? You could additionally write to Redshift so you have an easily queryable source, but have the framework check S3 instead. We also use Redshift as our marker table and have found it gets slow over time, so partitioning / archiving might assist.

I'm very curious as to why you're migration from Ai

[2018-04-06 18:05] dickson-conde opened #2385 "Hive partition display query in table check requires semicolon for later Hive versions."
We recently upgraded our Hive from 2.1.1 to 2.3.2 and we experienced our jobs hanging upon the table partition check.
After investigating we found the issue to be this query found [here](https://github.com/spotify/luigi/blob/master/luigi/contrib/hive.py#L144)

`stdout = run_hive_cmd("""use %s; show partitions %s partition
                                (%s)""" % (database, table, self.partition_s

[2018-04-08 12:00] Tarrasch commented on #2380
I've got this sometime I think. Can you try "Ctrl+F5" or test with another browser?

[2018-04-09 17:28] robin-weiss-sm opened #2386 "SQLAlchemy reflection error when defining a schema"
Hey there!
I have been using the SQLAlchemy contrib module for some time and I have recently run into a problem with it. If I define a schema to be used for the target table, everything works fine when I run it for the first time. The task detects that the required table does not yet exist and creates it for me.

However, when I run the task for the second time, I get a reflection error from SQLAl

[2018-04-10 19:20] giancarlosouza opened #2389 "Luigi resources problem"
I am trying to limit the number of tasks that run in parallel with luigi, for example, I need that only 4 tasks that uses cassandra are allowed to run at the same time, but the other tasks that don't use it could run without any problems. I am having problems to make the resources on luigi work, maybe I am doing something wrong. I am using luigi version 2.5.0.
Here's how I am declaring the resourc

[2018-04-11 17:35] stolpovsky commented on #2389
What's the deal with the colon in your luigi.cfg? Use "=", like so:

[code]

[2018-04-11 17:44] stolpovsky opened #2392 "Values from [DEFAULT] section are cast to int when [resources] is present."
This `luigi.cfg` works:

[code]

Notice how `project_home` is substituted with its value from the [DEFAULT] section.

Now this does not work:

[code]
Here is the error:
[code]
Here is the offending line. The presence of `[resources]` in the config causes luigid to cast values from the `[DEFAULT]` section to int.

[code]

[2018-04-11 18:31] Tarrasch commented on #2392
Nice catch! Do you mind looking deeper into it and send a PR?

[2018-04-11 18:38] stolpovsky commented on #2392
I suggest to change the return value in `getintdict` to exclude keys from DEFAULT, something like this:

`dict((key, int(value)) for key, value in self.items(section) if key not in {k for k, _ in self.items('DEFAULT')})`

[2018-04-11 19:19] dlstadther commented on #2389
@stolpovsky both `:` and `=` are valid for Python's ConfigParser

[2018-04-11 19:32] giancarlosouza commented on #2389
@stolpovsky Every example about luigi resources that I found was using the colon, but I also tried with the "=", and it didn't work as well.

[2018-04-11 19:50] stolpovsky commented on #2389
@giancarlosouza I was wrong about the colon, sorry for that.

[2018-04-11 20:02] giancarlosouza commented on #2389
@stolpovsky No problem, I tried your suggestion again just to be sure. If anyone could show me some simple example about resources that was actually tested it, with more than one resource for a task, I think it would be a lot of help.

[2018-04-11 23:09] stolpovsky commented on #2389
I set up a simple test, it works as expected. Can you try?

Create test_resources.py with the following contents, create dir structure like this:

- ~/luigi_workflows/
    - test_resources.py
    - test_output/ (empty dir)

[code]

My config file's resources section looks like this:

[code]

When I run, I can observe in LuigiTaskStatus graph that there are no more than 10 `Sleep` tasks running con

[2018-04-12 12:59] mpoussevin opened #2397 "Specify encoding of the configuration file"
Hello,

I use Luigi on Windows with UTF8 configuration files.
It seems impossible to set the encoding to use. Luigi uses default CP1252 to open the configuration and incorrectly parses some characters.

I will also open a PR with a proposed solution and update in the documentation.
Thank you for this great project :smile:

Mickaël.

[2018-04-12 14:41] stolpovsky commented on #2389
Another thought: are you certain your client.cfg actually gets picked up? If it does not, then your `cassandra` resource has a value of 1 by default. Check that $LUIGI_CONFIG_PATH points to your client.cfg. To be sure, introduce an error into your client.cfg, bounce luigid and watch it fail. This will do it:

[code]

Does it fail to start when you add this section to your config?

[2018-04-12 16:51] giancarlosouza commented on #2389
@stolpovsky So, I am testing your example, I made it work, but for that I had to export the LUIGI_CONFIG_PATH as you said, maybe that's the issue with my code, because I don't have anything in that LUIGI_CONFIG_PATH.
When I run my luigi jobs, I modify the config on the code, like this:

[code]

I do that because there are many jobs with different configurations, so when the code of a specific job

[2018-04-12 17:17] stolpovsky commented on #2389
Note that both the scheduler `luigid` and workers `luigi` use the same config. If you specify it in your code, am I correct in assuming you only do it in the module you pass to `luigi`? The scheduler `luigid` needs to read the same config, so you would need to build your own `luigid` executable, or wrap it in a script where you export LUIGI_CONFIG_PATH. Unless you're doing this, your `luigid` runs

[2018-04-12 17:46] giancarlosouza commented on #2389
@stolpovsky I get it now, testing my jobs with the LUIGI_CONFIG_PATH set, they worked as expected. I thought that only modifying the config on the require of the jobs was enough, but I understand now that the scheduler need the config for the resources beforehand. I was having soo many troubles because of those resources, thanks a lot!

[2018-04-13 13:25] #2389 closed

[2018-04-14 13:50] StefanieScherzinger opened #2402 ""TypeError: a bytes-like object is required, not 'str'" with HDFS/Hadoop"
I saw several issues mentioning the error message "TypeError: a bytes-like object is required, not 'str'".
From the other issues, I could not derive how I can resolve my problem.

For me, the error message occurs when reading and writing HDFS targets:

[code]

Consequently, one of my tasks fails:

[code]

My code parses a sequence of characters, e.g., "AAA", and dynamically chains three "ATask" Ma

[2018-04-15 11:59] StefanieScherzinger commented on #2402
Smaller code example, same problem:

[code]

[2018-04-17 06:43] konstantinmiller opened #2403 "Insert only specified columns in `contrib.sqla`"
At the moment, `contrib.sqla` tries to insert all columns found in the target table.

By changing two lines in `sqla.run()` and one line in `sqla.copy()`, it would only insert columns that are specified in the `columns` parameter. It would be helpful if the table already exists and we just want to insert a subset of columns.

The lines are: creating `ins_rows` in `run()`, and creating `bound_cols`

[2018-04-19 09:38] StefanieScherzinger commented on #2402
It turns out this has nothing to do with HdfsTarget,
but with my main function.

I can execute the task without problems when calling it from the commandline as "PYTHONPATH=. luigi <modulename>".

[2018-04-19 09:38] #2402 closed

[2018-04-19 18:30] honnix commented on #2154
@Tarrasch Why did we close #2272 ? I think this issue is still valid and needs to be fixed.

[2018-04-19 19:25] Tarrasch commented on #2154
@honnix, no idea, I've not been involved in this. Feel free to dig into this.

[2018-04-21 17:16] ledmaster commented on #2163
do we have any updates or workarounds on this?

[2018-04-24 07:27] kwilcox commented on #2319
See http://docs.sqlalchemy.org/en/latest/errors.html#error-3o7r. There would need to be a way to specify additional parameters into the `create_engine` call at https://github.com/spotify/luigi/blob/1b2f0fd800b3b02a230d3613273f796fbc469c11/luigi/db_task_history.py#L82.

[2018-04-24 14:28] radix opened #2405 "Allow disabling Task Cache"
The Luigi Task cache is causing all sorts of Spooky-Action-at-a-Distance problems for me, and I'd like to disable it. I've found out that I can avoid task-caching by putting unhashable parameters in my Tasks, but that breaks other things in Luigi (notably the execution summary).

[2018-04-24 14:35] radix commented on #2405
in case anyone is curious about how the unhashable parameters are breaking the execution summary, here's the traceback:

[code]

[2018-04-24 15:51] radix commented on #2405
sorry, I never noticed `Register.disable_instance_cache` :( It might be nice to mention this method in http://luigi.readthedocs.io/en/stable/parameters.html#parameter-instance-caching

[2018-04-24 15:51] #2405 closed

[2018-04-24 19:56] Tarrasch commented on #2405
@radix, would it be possible for you to add that documentation?

[2018-04-26 18:24] njanetos commented on #2215
Any insights on what is causing this? I get the same error with the example code provided in the [module documentation](http://luigi.readthedocs.io/en/stable/api/luigi.contrib.sge.html).

[2018-04-26 19:04] himikof opened #2407 "contrib.kubernetes: Incompatibility with cluster auto-scaling and race conditions"
Issue #2334 introduced a use case where running a Job on a cluster with limited resources leads to "stuck" tasks, waiting for the needed cluster resources to appear. The PR #2335 then changed the behavior to fail immediately when containers are not all in ContainerCreating/Running state after creating the job.

This approach has the following problems:
- It is fundamentally incompatible with auto-

[2018-04-27 17:15] AndresUrregoAngel opened #2408 "Redshit copytable never completed"
I have done a very basic implementation to copy form an S3 location to redshift.

[code]

At the end I get a message :  `Pid(s) {7762} already running` but in redshift never nothing happens

[2018-04-27 17:53] dlstadther commented on #2408
Verify a few things:
1) do you have a stalled query from a previous luigi process?
    * `select pid, trim(user_name), starttime, query from stv_recents where status='Running';`
2) do you have another instance of this luigi tasks running?
    * `ps -ef | grep 'python\|luigi'`

[2018-04-27 22:25] edsonduarte1990 commented on #2164
This still happens, any news?

[2018-04-28 11:38] dlstadther commented on #2164
@edsonduarte1990 There have been many differing opinions around this (and the similar). For the open PR i'm aware of, see https://github.com/spotify/luigi/pull/2278

[2018-04-28 12:10] gitlines commented on #2347
Using SQLAlchemy==1.2.7 and Flask-SQLAlchemy==2.3.2 and a PostgreSQL database I hit the same problem - even if I change the value to integers like 0 or 1. How does one implement boolean values now?

[2018-04-30 11:10] alexkamp opened #2409 "namedtuples can not be used as parameters"
hey,

I am trying to use namedtuples in a list parameter, but I get an error, which indicates that the named tuple is somehow transformed into a normal tuple.

Example code:

[code]

The expected result would be a file named 'bugout/hello.txt' which contains

[code]

in fact, I get

[code]

If I replace the luigi.ListParameter() with luigi.Parameter(), it works as expected.

EDIT:

As it may be im

[2018-05-02 17:04] #2240 closed

[2018-05-04 11:48] mcarlsen opened #2411 "MissingParameterException when generating execution summary"
Generating the execution summary may generate a MissingParameterException if a `requires` attempts to access a Config parameter which was specified only on the command line.

Example:

[code]

[code]

This seems to be because the execution summary is generated outside any CmdlineParser context manager in run_with_retcodes. So this should be fairly easy to avoid by extending the entire run_with_ret

[2018-05-04 20:14] Tarrasch commented on #2411
Nice catch. I'm confused by the example run you have pasted. It looks like the execution summary is still printed?

I guess it makes sense to use the same CmdlineParser context managerand put the execution summary generation in there. The damage of global variables it seems.

[2018-05-07 09:35] silentsnooc opened #2414 "MissingParameterException even though LUIGI_CONFIG_PATH is set?"
I am having this `MainTask` which require `TransformToParquet`:
[code]
This has two input paramters `input_file` and `output_hdfs_file`:

[code]

I have a config file:

    [TransformToParquet]
    input_file=/media/data/subset_concatenated.txt
    output_hdfs_file=/media/data/transformed.parquet

which I am referring to via environment variable `LUIGI_CONFIG_PATH`.

However, I am getting

[2018-05-07 12:11] mcarlsen commented on #2411
Yes, the summary is still printed. BTW, the exit code is 1, not the code for `task_failed` or even `unhandled_exception`.

I tried to extend the CmdlineParser context manager to the entire run_with_retcodes, but got multiple test failures in retcodes_test.py and cmdline_test.py having to do with expected return codes. So at least some code (or maybe just some test code?) expects the CmdlineParser

[2018-05-07 21:01] Tarrasch commented on #2414
Can you set it with command line or default path for the config-file? Perhaps you use luigi namespaces now?

[2018-05-07 21:05] Tarrasch commented on #2411
Aha, now I know what code path you are talking about! Now it makes sense.

[2018-05-07 21:08] silentsnooc commented on #2414
@Tarrasch My apologies - I found the problem ..

I had the following in my pom.xml

[code]

I changed the version for the parent at some point but didn't change `spring.boot.version` accordingly. Setting both to the same version resolved the issue.

I just wonder why things didn't get "worse" than FlywayDB just not running the SQL scripts but anyway. Setting both versions to 2.0.1.RELEASE solved t

[2018-05-07 21:08] #2411 closed

[2018-05-07 21:14] silentsnooc commented on #2414
@Tarrasch I will have to take a look at that tomorrow. I've tried to set it via command line but that didn't change anything. I'm not aware about namespaces - I don't think I'm using that.

[2018-05-08 15:34] alexeygrigorev commented on #2405
How can I use `Register.disable_instance_cache` to disable caching?

[2018-05-09 14:37] phowson commented on #1647
@honnibal I agree. If someone is putting "b" in the string, it implies they don't understand luigi and don't know about the format constructor argument for LocalFile. I propose that the presence of a 'b' should throw an appropriate exception with the text "Use format=.....", rather than swallowing the "b"

[2018-05-09 15:06] maxalbert opened #2416 "PostgresQuery does not honour `port`"
`PostgresQuery` fails when running a query against a PostgreSQL database on a non-standard port (other than 5432).

This is because the `PostgresTarget` which is the output of this task (and through which the DB connection is [established](https://github.com/spotify/luigi/blob/master/luigi/contrib/postgres.py#L362)) does not pass on the `port` argument (see [here](https://github.com/spotify/luigi/

[2018-05-09 15:09] dlstadther commented on #2416
@maxalbert Feel free to submit a PR to enable support of passing non-standard ports for PostgresTarget/Query! Thanks

[2018-05-09 15:37] maxalbert commented on #2416
@dlstadther Thanks for the quick reply! The PR is #2417

[2018-05-09 15:48] silentsnooc opened #2418 "Getting "No such file or directory: 'hadoop'" for HdfsTarget"
I'm getting the following as I start my pipeline which checks whether a CSV file exists (`HdfsTarget`)

[code]

However, if I run

[code]

in the terminal, everything works fine. Idk what the problem is here.

[2018-05-09 16:01] silentsnooc commented on #2414
Okay, I was able to make this work. I'm not sure what the problem was but it's working again.

[2018-05-09 16:01] #2414 closed

[2018-05-10 06:57] bear24rw commented on #2163
I just hit this exact same problem. Would really like to know the workaround for this.

[2018-05-10 12:42] Tarrasch commented on #2163
This is nothing particular to luigi, having side-effect free functions, functions only depending on their input (or tasks on their parameters) etc. makes parallelism easier.

Another solution is to use the python standard library for sharing inter-process variables of course.

[2018-05-10 16:11] cabouffard opened #2419 "Unexpected behaviour when using luigi.build()"
Hi,

We've been trying to use the `build` functionality in order to execute a set of tasks within a task itself. Our use-case is that we want to have some "monitoring" tasks that run after a task has run without adding it has a dependency.

Given the following example:

[code]

If we were to run `MyTask` with one worker (`--workers=1`), using the central scheduler, then everything executes fine, a

[2018-05-10 19:34] dlstadther opened #2421 "Boto3 put_multipart AttributeError"
Found a bug here which wasn't caught before the merge of #2149:

[code]

@ouanixi , do you have insight into what should be? (i haven't looked into it deeply, yet)

I'm using `boto3==1.7.4`

[2018-05-10 20:29] ouanixi commented on #2421
@dlstadther does `copy()` work for you ? That failing line of code is present in both `put_multipart` and `copy`

[2018-05-10 21:26] ouanixi commented on #2421
@dlstadther I cannot reproduce the error sorry !! Here's what I tried:
1- run the nonhdfs2.7 tests by making sure `boto3` is pinned to `1.7.4` in tox file and things passed fine.
2- setup a quick project by pip installing luigi from the repo (to make sure I'm using what's on master) and ran a quick task that was using S3Client's `put_multipart()` and again things worked just fine!!! Python version

[2018-05-11 01:52] kwilcox commented on #2419
I've never seen `build` used within a `run` method.

Have you tried yielding the monitoring task instead of using `build`? Have you tried calling it in an `on_success` method on the task? Have you tried calling it in a task success notifier?

[2018-05-11 07:56] dmohns commented on #2163
As mentioned by @florian-niefind one workaround is to refactor `BadTask` in a
way that it's `complete()` no longer depends on internal state.

Fortunately, for this very specific problem it can be done suprisingly easy
with `RunAnywayTarget`s from the simulate module, like so

[code]

However, this workaround might not be applicable if the internal state is a more
complex.

[2018-05-11 11:51] dlstadther commented on #2421
Things learned:
1) don't submit a bug report at the end of the work-day (you won't be thinking clearly)
2) don't get carried away with copy/paste

The issue was 100% my fault. Output was a LocalTarget instead of a S3Target.

Sorry for the fire drill!

[2018-05-11 11:51] #2421 closed

[2018-05-11 17:36] ouanixi commented on #2421
@dlstadther haha I've done a lot worse :)

[2018-05-11 19:30] cabouffard commented on #2419
Alright, I've played with it a little bit more and couldn't get `build` to work. The worker would eventually fail the task and disconnect itself while leaving the parent task stuck in `pending`.

In order to remedy for that, I've used a hacky workaround:

[code]
This works as expected, but unfortunately, I have to create a brand new scheduler because I can't see to be able to access the current sc

[2018-05-11 20:59] cabouffard commented on #2419
@kwilcox I did try that but that would require me to override all the `run()` method of every single `contrib` tasks that we're using, which I don't want to do.

I was pretty certain that I couldn't access the scheduler directly from the task, let me re-validate that.

[2018-05-11 21:03] erikbern commented on #2419
I"m a bit confused what you're trying to do here but if the monitoring task should always run after the S3 copy task then you should basically make the s3 copy task a _dependency_ of the monitoring task and let Luigi handle the dependency resolution

[2018-05-11 23:02] cabouffard commented on #2419
@erikbern Thanks for raising this question. We might not be using Luigi the conventional way, although I do think there is a lot of similarities. Let's jump right into it

We've modified some behaviors of `redshift.S3CopyToTable`. Let's name it `CustomS3CopyToTable` that inherits `redshift.S3CopyToTable`. Our `CustomS3CopyToTable` overrides some properties like the way it fetches `databases config

[2018-05-12 01:02] kwilcox commented on #2419
It's very useful when writing tests and calling tasks from notebooks.

We monitor Luigi using the `event_handler` system. We send chat messages to Flowdock, hit REST endpoints, and produce Kafka messages depending on the Task. These are not Targets because, similar to you, they should not fail the task if they don't run or if they error out. Your Mixin class is similar to our method so I think you

[2018-05-12 01:10] erikbern commented on #2419
Wow thanks for a lot of context @cabouffard !

[2018-05-14 07:38] jerryji commented on #2347
Google led me here as I was struggling with the following error in my Flask application --

sqlalchemy.exc.StatementError: (builtins.TypeError) Not a boolean value: False [SQL: 'INSERT INTO ... '] [parameters: [{'my_boolean': (False,), ...]

Very similar symptom: the error only happens in SQLAlchemy 1.2.X and goes away in SQLAlchemy 1.1.18. After hours of futile effort of trying to replicate the p

[2018-05-14 16:01] cabouffard commented on #2419
@erikbern My pleasure! :)

@kwilcox Ah! I wouldn't have thought about that type of use-case, for `build`,  that's nice to know!

I'm also happy that you guys went a similar route! I would have liked the idea of having simple functions to log what we wanted to log but in our specific use-case, we look for duplicated keys after our table was loaded and we use a series of tasks that make this happen

[2018-05-14 16:01] #2419 closed

[2018-05-17 15:36] cabhi commented on #595
i just took idea from Range Base task and from @davidbrochart , and created a task which takes an TaskParameter and cleans upward. below is code snippet. let me know  your inputs for the same

class CleanUpTask(luigi.Task):
    pdate = luigi.DateSecondParameter()
    clean_task = luigi.TaskParameter()

    def run(self):
        total_outputs = []
        type_cls = []
        done = False

[2018-05-17 18:12] yonromai commented on #2407
@himikof Thanks for raising this issue. Sounds good to me, feel free to PR

[2018-05-18 13:56] lucventurini opened #2425 "DRMAA support"
Good afternoon,
                           I was wondering whether there are plans to integrate DRMAA into luigi, for seamless integration into various cluster environment.

Kind regards

[2018-05-18 19:38] Tarrasch commented on #2425
I've never heard of it. I imagine this is something organizations develop on their own and then open source after a year or so. Perhaps you'll have more luck asking in the mailing list?

[2018-05-21 09:16] lucventurini commented on #2425
This is the project: https://github.com/pygridtools/drmaa-python

In practice, it provides a cluster submission-agnostic way of coding. E.g. Snakemake uses it for job submission, making that workflow manager more flexible than Luigi for HPCs.

[2018-05-22 06:42] vpv-csc commented on #1661
We saw the same issue as @elipapa and had troubleshooting it took a while. I'll document the fix here, in case someone finds it with Google or something.

We're using CentOS 7. At some point the python-tornado package in CentOS 7 was updated from python-tornado-2.2.1-8.el7.noarch to python-tornado-4.2.1-1.el7.x86_64. It should be noted that the package changed architecture from noarch to x86_64 at

[2018-05-22 21:17] petedmarsh commented on #2409
I had a quick look into this - you're right that the namedtuples get converted into tuples, this happens because `ListParameter` recurses down through each item in the list and converts list/tuple parameters to `tuples` via a call to `_recursively_freeze`  (see: https://github.com/spotify/luigi/blob/4133f2739fa0b5b56e3f0d5f3de62fdf8971b604/luigi/parameter.py#L846) - as namedtuples subclass `tuple`

[2018-05-24 21:14] grauscher commented on #595
@kwilcox: I really like your `ForceableTask` solution! I use it in our luigi projects where I work.

The only improvement I could suggest, is to replace `os.remove(out.path)`, by a `out.remove()`.
Should the target have this method, it will clean the completion "flag" adequately, is it a local file, or an [entry in a DB](http://luigi.readthedocs.io/en/stable/_modules/luigi/contrib/postgres.html#Po

[2018-05-25 10:47] jytug opened #2429 "LocalFileSystem doesn't work with local URLs"
It would be useful to have `LocalFileSystem` work with local URLs, such as `file:///some/path`, not just with local paths.

[2018-05-25 11:03] dlstadther commented on #2429
Not sure of your use case, but if believed to be a valid and useful addition to Luigi __feel free to submit a PR__! All are welcome!

[2018-05-25 11:11] jytug commented on #2429
I mean a very simple modification to the class. It is frequent, when working with pyspark, to deal with local file URLs, such as the one I showed in the head post, especially within unit test suites, so it would be convenient to have methods such as `LocalFileSystem.listdir` yield results for urls as well, for instance:

[code]

I will open a PR, so that anyone with write permissions can decide if

[2018-05-25 20:12] jerry-rubikloud commented on #2070
I just encountered this issue. The `unknown` task should have failed but somehow the worker thinks it is a pending task. The worker just keeps sleeping as no pending tasks can be executed for over 1 hour. Any fix for this would be greatly appreciated.

[2018-05-29 02:13] licuiwei opened #2431 "Demos in docs are still using print XXX, how about using print(XXX) for better python3 support?"
I saw that Luigi says to be supporting both python2 and python3, but in the documents of [Running from the Command Line](https://luigi.readthedocs.io/en/latest/running_luigi.html), the demos are still using print in a way like "print self.x + self.y", which python3 doesn't support.
I'm using python3 and when I tried the demos, it gave me errors like this:
[code]
So I think using "print(self.x+self

[2018-05-29 10:47] dlstadther commented on #2431
Feel free to submit a PR to update Demos for Python3 support

[2018-05-30 08:25] StasDeep opened #2432 "KubernetesJobTask bug: Pod status does not have conditions"
I have several dozens of `KubernetesJobTask`s every day. And approximately twice a day this error happens:
[code]
Unfortunately, I cannot reproduce it.

But the problem is in the way status conditions are accessed:

- how it's done in `luigi`: `status['conditions']` ([line 276](https://github.com/spotify/luigi/blob/38a1d0c4f95a1900e49b64d77cdb90078adc0416/luigi/contrib/kubernetes.py#L276)).
- how

[2018-06-01 20:54] Casyfill opened #2437 "RangeWeekly and RangeMonthly"
In my case I have weekly and Monthly reports;

I really like the way `luigi` uses:
`luigi --module all_reports RangeDaily --of AllReports --start 2015-01-01`,

but how can I use the same pattern for tasks with larger frequencies?
I probably can create a custom class based on RangeDaily and just change timedelta(days=i) with timedelta(days=31), but then I won't be able to use luigi cli interface, r

[2018-06-05 09:11] omkarprabhu-98 commented on #2218
I've had the same issue on Windows 10 64 bit, Python 3.6.5 (64bit), luigi 2.7.5

[2018-06-06 13:45] #2432 closed

[2018-06-06 18:21] DrOzturk commented on #1654
I am using 2017.3.3
I still see this error when I run like

if __name__ == '__main__':
    luigi.run(['PatientCareTask', '--...', '...', ..., '--local-scheduler'])

[2018-06-07 16:10] GuilhermeSpadaccia commented on #2311
Sorry to reopen this issue, but @henryrizzi suggestion doesn't work for me.
I don't know if I miss understood the feature, but even adding the section [retcode] to my luigi.cfg, if I do:
`python pypeline.py task --workers 4
echo $?`
The echo always returns 0 even when the task fails. Shouldn't it return the error described in [retcode] section on luigi.cfg?

[2018-06-08 09:35] eyadsibai commented on #1344
This is important now after GDPR for the support of KMS encryption

[2018-06-11 10:44] dcheck commented on #1647
I've used luigi for several years, and just ran into this while upgrading to Python 3.

As a user, it's very confusing to find that I can't write a binary target file by opening it with a 'wb' mode.  Even if `format.Nop` were documented, it would be confusing for luigi target file semantics to be almost-identical to the python standard.  Standard fs usage is to pass the binary flag to `mode`, not

[2018-06-11 11:02] dlstadther commented on #1647
@dcheck I'm not intimately familiar with the implementation of Targets and why they were written the way they were. But that said, I'm open to improving them for binary writes.

Feel free to submit a PR, easing this behavior! Thanks!

[2018-06-11 14:01] jdcohen220 opened #2442 "Writing to S3 using S3Target and luigi.format.Gzip"
I am wondering if someone has a working example of how to use the luigi.format.Gzip format on an S3Target. I have searched Google for hours with no luck.

I have tried to write a simple task pipeline to do so which works correctly with UTF8 format, but when I pass the Gzip argument to the target constructor, I keep getting the following error:

Below is the function I use to set up the target:

[c

[2018-06-13 13:10] gamebusterz opened #2443 "Priority doesn't work"
I am calling a wrapper task which has the following dependencies:
1. `TaskA(),TaskB(),TaskC(arguments1=['arg1'],arguments2=['arg1','arg2'])]`
I though Luigi would be executing these tasks in a sequence, starting with TaskA. But that doesn't run as expected.

2. Next, I tried declaring the priority using a @property decorated function, which returned the value of a `priority_value` parameter.

`Tas

[2018-06-14 05:35] gamebusterz commented on #2443
@Tarrasch

[2018-06-14 19:12] GuilhermeSpadaccia opened #2444 "Adding a task in runtime"
I have a situation where I'm not sure about how many tasks I want to add (because I'm downloading my data in batches and I want to process every batch simultaneously).
So I found a way to add a task at runtime, by doing that:

[code]

The problem is that I have to wait for the luigi.worker.Worker.run() to finish to add the next task, and I would like to do the following:
1- Download a batch of dat

[2018-06-20 14:17] grauscher opened #2447 "Moving a LocalTarget does not change its attribute path"
I have noticed that using `LocalTarget`'s `move` method, effectively changes its location on the local fs.
However, the `path` attribute of the `LocalTarget` object remains unchanged, thus, trying to remove it afterwards, by calling the `remove` method, does not work.

An example:
[code]

The question is: Should the `path` of the object be updated after a `move` operation, thus "tracking" the obje

[2018-06-20 16:50] eandreev commented on #2327
Due to a customer request, we have to stick with python 2.7 in our project. This error pops up when we get an error message from an external command in utf-8.

Unfortunately, it's not possible to run a python2.7 spark job from a python 3.x luigi. Also, we have to run a localized Linux distro, so most of the console errors produce utf-8 characters.

Please fix it so it runs under both python 2.x an

[2018-06-21 07:28] Gmousse commented on #2443
If I m right, priority doesn't guaranty task order. Refers to https://github.com/spotify/luigi/blob/master/doc/tasks.rst#task-priority.

It's more like it orders task attribution to workers.
Example:
- If you work with 3 workers, your 3 tasks will run in parallel.
- If you have 2 workers, Task A will run first, Task B will run in parallel.
Then Task C will run when one worker will be free.

I m ma

[2018-06-27 21:35] ionwyn commented on #2442
I believe the syntax is:

`luigi.s3.S3Target(S3_PATH, format=luigi.format.Gzip)`

[2018-06-27 23:12] kayibal commented on #2383
Please fix jobs are expected now to finish in 100 seconds else they are terminated.

[2018-06-28 09:47] gamebusterz commented on #2443
@Gmousse Yes, I am using requires, but I am specifying multiple tasks in requires.

I guess you're saying specifying only one task at a time in requires?

[2018-06-28 15:50] yonromai commented on #2383
@maximenannan sounds good to me, feel free to submit a PR.

[2018-06-29 20:07] datavisorzhenbangliu opened #2450 "std output and std error issue of luigi.contrib.external_program.ExternalProgramTask"
If the std output or std error of the external program is not ascii string, the code will crash
[code]

[2018-06-30 14:23] farnoy opened #2451 "Add Event.DISABLED"
Hi, I would like to script an event handler for when the task transitions to DISABLED, after some retries. This is not easy to do currently, as Event.FAILURE doesn't have any parameters of the Task as seen on the scheduler (and I would like to access `luigi.scheduler.Task.failures.num_failures()`).

I _think_ it can be worked around by connecting to the remote scheduler from an event handler for F

[2018-07-01 20:00] Gmousse commented on #2443
The case I met in my job:
- TaskA requires TaskB and TaskC
- TaskB is not directly dependent of TaskC but must be executed after the TaskC

Then you need this order: TaskC -> TaskB -> TaskA

It's wrong to consider than TaskA can require both TaskB and TaskC and then order their execution with the priority (as I described previously, it's not safe with multiple workers).

You must have: TaskA requi

[2018-07-02 10:31] gamebusterz commented on #2443
Cool, thanks @Gmousse for the clarification. I guess that means priority in Luigi is useless, because this is the only case where one would require the use of priority.

[2018-07-02 10:44] Gmousse commented on #2443
@gamebusterz There are some usecases where priority is useful:

You have a workflow of tasks containing different families of tasks:
- A type of Task used to compute data used in your webapp (Example: playlist prefered by users)
- A type of Task to report user actions on your webapp (Example: data used to train machine learning models)
- A type of Task to compute some informations about your busin

[2018-07-04 20:36] Tarrasch commented on #2447
Well, we're not going to change the behavior now as it would break so many instances.

[2018-07-04 20:36] #2447 closed

[2018-07-05 05:55] gamebusterz commented on #2443
That explains it. Thanks a lot Guillaume :)

On Mon 2 Jul, 2018, 4:14 PM Guillaume Mousnier, <notifications@github.com>
wrote:

[2018-07-09 11:44] #2392 closed

[2018-07-09 21:00] veyu commented on #1746
@erikbern Do you still want this in docs? Maybe moving "Getting Started" to side menu as new category (moving into new file)?
I could start paying back to community with solving this dreadful issue after 2 years :)

[2018-07-09 21:12] 01123899 opened #2453 "Memory Error (Runtime Error)"
Runtime error:
Traceback (most recent call last):
  File "/home/ubuntu/.local/lib/python2.7/site-packages/luigi/worker.py", line 203, in run
    new_deps = self._run_get_new_deps()
  File "/home/ubuntu/.local/lib/python2.7/site-packages/luigi/worker.py", line 140, in _run_get_new_deps
    task_gen = self.task.run()
  File "/home/ubuntu/.local/lib/python2.7/site-packages/luigi/contrib/external_prog

[2018-07-10 16:44] veyu commented on #2453
I would say this is issue with program which you are executing through `ExternalProgramTask`.
Line which results in `MemoryError` takes all program output from `stdout` or `stderr` and creates one big string from it. If you print a lot of data in `stdout` or have a lot of error messages in `stderr` it could be bigger then available memory.

[2018-07-11 10:00] alexeygrigorev commented on #2070
We also have encountered exactly that: instead of failing the task and happily exiting the flow, worker keeps waiting for something to happen.

The tasks with usual failures are handled fine and marked as "disabled". This allows to end the flow with a failure. This works ok.

But sometimes there is another kind of failure, e.g. with configuration. Then the task's status becomes "unknown", the upst

[2018-07-12 04:56] alok commented on #2322
I'd love to see this too.

[2018-07-13 13:28] michcio1234 opened #2455 "[contrib.s3] Can't use S3Target outside luigi Task"
Using `luigi.contrib.s3.S3Target` outside of `luigi.Task` results in `AttributeError: module 'boto3' has no attribute 's3'`.

Consider file `good.py`:
[code]

and a file `bad.py`:
[code]

If you don't have AWS credentials configured, running `good.py` results in an expected error (`Forbidden`).

I would expect that running `bad.py` will have the same result, but instead that's what I get:
[code]
H

[2018-07-13 13:36] michcio1234 commented on #2455
Probably should mention @ouanixi.

[2018-07-13 14:19] arc12 opened #2456 "request version of luigi.interface.run() with return codes"
As I understand the current state of affairs, a CLI invokation will give return codes according to the [retcode] setting in luigi.cfg BUT if we use luigi.run() from Python then we get a true/false return for "success"

It would be helpful (and consistent) to have access to return codes when using luigi.run(), or a similar entry point.

[2018-07-13 14:32] fess10 commented on #2154
@honnix I'm not sure whether the problem can be actually solved by #2772, guess that it needs further investigation.

[2018-07-13 16:41] ouanixi commented on #2455
Thanks for flagging this @michcio1234

It looks like this is what's happening here
https://python-notes.curiousefficiency.org/en/latest/python_concepts/import_traps.html#the-submodules-are-added-to-the-package-namespace-trap

[2018-07-13 17:09] 01123899 commented on #2453
I found out that  this is not the real problem, I am gonna open other issue, thanks @veyu

[2018-07-13 17:14] 01123899 opened #2459 "ERROR: Failed connecting to remote scheduler 'http://localhost:8082'"
Hi everyone!

I need some help, I am running luigi with 6 `workers` some task long 8 hours (aprox)
It seems that the task works fine, but Luigi have some problems, and it show me this:

ERROR: Failed connecting to remote scheduler 'http://localhost:8082'
Traceback (most recent call last):
  File "/home/ubuntu/.local/lib/python2.7/site-packages/luigi/rpc.py", line 139, in _fetch
    response = self

[2018-07-13 18:35] jamesmcm opened #2460 "Segmentation Fault problems on OS X"
Hi,

I am having issues with Segmentation Faults when running on OS X, it's the same issue as mentioned here: https://stackoverflow.com/questions/32978429/python-luigi-died-unexpectedly-with-exit-code-11

I run the task simply, with no additional workers, etc.:

[code]

But then fails:

[code]
By adding some debug lines, it seems the issue is making a POST request with the requests module:

[code]

[2018-07-13 19:41] meownoid commented on #1344
༼ つ ◕ ◕ ༽つ UPDATE TO BOTO3 PLS ༼ つ ◕ ◕ ༽つ

[2018-07-13 20:20] dlstadther commented on #1344
resolved by https://github.com/spotify/luigi/pull/2149

[2018-07-13 20:20] #1344 closed

[2018-07-14 03:17] rayrrr commented on #2408
`luigi.build` might work better than `luigi.run` on the last line.
[code]

[2018-07-14 03:44] erikbern commented on #2408
nice PR title 💩

[2018-07-15 09:39] Tarrasch commented on #2456
Can you use the [retcodes](https://github.com/spotify/luigi/blob/5f156492e4c873000aeeb0b8a7d77062efd73de6/luigi/retcodes.py) module directly? Feel free to send a PR with docs or improvments to the retcode api.

[2018-07-15 11:03] repejota commented on #2460
I see the same but as ERROR log:

[code]

Your commit @HennyH fixes the problem. Could you consider to create a PR on this repo?